<template>
    <div class="model-layer" v-show="showPopUp">
	             <div class="newuser-wrapper">
	                <div class="newuser-content">
	                   <img :src="picUrl" alt="">
	                   <p class="newuser-title" v-show="!!title">{{title}}</p>
	                   <ul class="newuser-list" :style=ulMarginTop>
	                        <li v-for="item in content">{{item}}</li>
	                    </ul>
	                    <div class="popbox-group-btn border border-t" v-if="isNeedKnowMore==true">
	                            <button class="cancel-btn" @click="closePopup">知道啦</button>
	                            <button class="sure-btn" @click="kownMore">了解更多</button>
	                    </div>
	                    <div class="popbox-group-btn border border-t" v-if="isNeedKnowMore==false">
	                    	    <button class="cancel-btn btn-full-w" v-on:click="closePopup">知道啦</button>
	                    </div>
	                </div>
	            </div>
	        </div>
</template>


<script>
export default {
    data: function(){
       return  {
            showPopUp: true,
            isNeedKnowMore: false,
            knowMoreURL: '', //了解更多跳转URL
            picUrl: '', //弹出框背景图片
            title: '', //标题
            content: [{content: 'asd'}], //内容列表
	   }
    },
    computed: {
        ulMarginTop: function(){
            return "margin-top: 0.3rem;";
        }
    },
    methods: {
        closePopup: function(){
            this.$dispatch('cancel');
        },
        kownMore: function(){
            console.log(this.knowMoreURL)
            window.location.href = this.knowMoreURL;
        }
    }
}
</script>


<style>
/*新用戶彈出框*/
.model-layer{
    position: fixed;
    display: table;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(4,20,42,.3);
    z-index: 9999;
}
.newuser-wrapper{
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
.newuser-content{
    display: inline-block;
    width: 77.5%;
    z-index: 3000;
    border-radius: 12px;
    background: #fff;
    color: #3f3f3f;
    overflow: hidden;
}
.model-layer img{
    display: block;
    width: 100%;
}
.newuser-title{
    height: 1.1rem;
    line-height: 1.1rem;
    font-size: .32rem;
    color: #3f3f3f;
    text-align: center;
}
.newuser-list{
    text-align: left;
    padding: 0 .47rem;
}
.newuser-list li{
    position: relative;
    padding-left: .34rem;
    line-height: .5rem;
    font-size: .26rem;
    color: #9a9a9a;
}
.newuser-list li::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: .2rem;
    width: .1rem;
    height: .1rem;
    background: #dce1e8;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: .1rem;
}
.popbox-group-btn{
    height: .88rem;
    line-height: .88rem;
    margin-top: .22rem;
    border-top: 1px solid #dce1e8;
    font-size: .28rem;
    position: relative;
}
.popbox-group-btn button{
    float: left;
    width: 50%;
    line-height: .88rem;
    text-align: center;
    cursor: pointer;
    background: none;
    color: #3f3f3f;
}
.popbox-group-btn .btn-full-w{
    width: 100%;
}
.popbox-group-btn .sure-btn{
    color: #00b3f0;
}
.popbox-group-btn .sure-btn::before{
    content: '';
    display: block;
    height: .28rem;
    border-left: 1px solid #dce1e8;
    position: absolute;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
</style>