<template>
<div class="overlay" v-show="show" @click="action"></div>
<div class="popup-wrapper" v-show="show">
    <slot></slot>
</div>
</template>

<script>
export default {
    props: {
        show: {
            type: Boolean,
            default: false
        },
        action: {
            type: Function,
            default: function(){}
        }
    },
    methods: {
        dissmiss () {
            
        }
    }
}
</script>

<style lang="less">
    .overlay {
        z-index: 999;
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
    }
    
    .popup-wrapper {
        z-index: 999;
        position: fixed;
        top: 50%;
        left:50%;
        width: 5.76rem;
        transform: translate3d(-50%, -50%, 0);
        background: #fff;
        border-radius: 0.2rem;
        overflow: hidden;
    }
</style>