<template>
<popup-wrapper :show="showCommentPopup" :action="toggleCommentPopup">
    <div class="approval-comment">
        <p class="title">请输入批复</p>
        <textarea v-model="approvalReply" placeholder="请输入一些内容"></textarea>
        <div class="btn-list">
            <button class="btn reject" @click="toggleCommentPopup">取消</button>       
            <button class="btn acceptBtn" @click="confirmComment">确定</button>
        </div>
    </div>
</popup-wrapper>
</template>

<script>
import PopupWrapper  from '../PopupWrapper/PopupWrapper'
import { showCommentPopup } from '../../vuex/getters'
import { toggleCommentPopup, applyApprovalReply } from '../../vuex/actions'
    
export default {
    props: {
        approvalReply: {
            type: String,
            default: ''
        }
    },
    vuex: {
        getters: {
            showCommentPopup
        },
        actions: {
            toggleCommentPopup,
            applyApprovalReply
        }
    },
    methods: {
        confirmComment () {
            console.log(this.approvalReply)
            this.applyApprovalReply(this.approvalReply)
            this.toggleCommentPopup()
        }
    },
    components: {
        PopupWrapper
    }
}
</script>


<style lang="less" rel="stylesheet/less">
    .approval-comment {
        .title {
            font-size: 0.3rem;
            text-align: center;
            margin-top: 0.2rem;
            color: #343434;
        }    
        
        textarea {
            width: 100%;
            padding: 0 0.3rem;
            color: #343434;
        }
        .btn-list {
            display: flex;
            border-top: 1px solid #dce1e8;
            
            .btn {
                background: #fff;
                font-size: 0.26rem;
                color: #9a9a9a;
                -webkit-tap-highlight-color: rgba(255,255,255,0);    
                flex: 1;
                line-height: 0.68rem;
            }
            
            .reject {
            position: relative;
            color: #9a9a9a;
            
                &:before {
                        content: '';
                        display: block;
                        height: .28rem;
                        border-left: 1px solid #dce1e8;
                        position: absolute;
                        vertical-align: middle;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                    }
            }
        
            .acceptBtn {
                color: #31d2ea;
            }
            
            
        }
    }
    
</style>