<template>
    <div :class="class">
        <slot></slot>更多
    </div>
</template>

<script>
export default {
    props: {
        class: {
            type: String,
            default: 'shrink-text'
        }
    },
    ready (){
        console.log(this)
        console.log(this.checkOverflow(this.$el))
    },
    methods: {
        checkOverflow: function(el){
            var curOverflow = el.style.overflow
            if ( !curOverflow || curOverflow === "visible" ){
                el.style.overflow = "hidden"
            }
            var isOverflowing = el.clientWidth < el.scrollWidth || el.clientHeight < el.scrollHeight
            el.style.overflow = curOverflow
            return isOverflowing
        }
    }
}
</script>
