<template>
    <div class="confirm-approval-overlay" v-show="showConfirmApproval" @click="toggleConfirmApproval"></div>
    <div class="confirm-approval" v-show="showConfirmApproval">
        <div class="content">
            <p class="title">请选择下一步操作</p>
            <!--<p class="tips">
                该审批由以下关键审批人全部同意才生效：{{approverList}}
                <span class="more" v-show="shortVer && tooManyStaff" @click="shortVer=false">更多</span>
                <span class="more" v-show="!shortVer" @click="shortVer=true">收起</span>
            </p>-->
            <!--<div class="approval-content {{endApprovalMark ? 'middle endApprovalMark' : ''}}" @click="endApprovalClicked"
                 v-show="!selectPersonMark">
                <i class="iconfont finish {{ endApprovalMark ? 'normal' : ''}}"></i>
                <span class="description {{ endApprovalMark ? 'normal' : ''}}">完成审批</span>
            </div>
            <div class="approval-content cfright {{selectPersonMark ? 'middle' : ''}}" @click="selectApprover"
                 v-show="!endApprovalMark">
                <i class="iconfont contact" v-show="!selectPersonMark"></i>
                <img alt="avatar" v-show="selectPersonMark" id="selectPersonAvatar" src class="avatar">
                <span class="description" id="selectPersonName">选择审批人</span>
            </div>-->
            <!-- 条件审批与自由流都以isAgreeEnd字段为准,若可以结束,则无论是否有推荐审批人都显示可以完成审批 -->
            <div class="approval-content" @click="recommendApproverClicked" v-if="!(isAgreeEnd || isEmptyObject(recommendApprover))">
              <div class="recommend-avatar-container"  :class="{'normal' : recommendApproverMark}">
                <img alt="avatar" :src="recommendApprover.photo" class="recommend-avatar">
              </div>
                <span class="description ellipsis {{ recommendApproverMark ? 'normal' : ''}}">{{recommendApprover.name}}</span>
            </div>
            <div class="approval-content {{endApprovalMark ? 'endApprovalMark' : ''}}" @click="endApprovalClicked"
                 v-show="isAgreeEnd">
                <i class="iconfont finish {{ endApprovalMark ? 'normal' : ''}}"></i>
                <span class="description {{ endApprovalMark ? 'normal' : ''}}">完成审批</span>
            </div>
            <div class="approval-content cfright" @click="selectApproverClicked">
                <i class="iconfont contact {{ selectPersonMark ? 'normal' : ''}}"></i>
                <!--<img alt="avatar" v-show="selectPersonMark" id="selectPersonAvatar" src class="avatar">-->
                <span class="description {{ selectPersonMark ? 'normal' : ''}}" id="selectPersonName">选择审批人</span>
            </div>
        </div>
        <div class="confirm-approval-btn cfleft has-border-t">
            <div class="close-btn has-border-r" @click="cancelClicked">取消</div>
            <div class="confirm-btn {{ submitting ? 'disabledBtn' : 'normal'}}" @click="confirmClicked">确定</div>
        </div>
    </div>
</template>


<script>
    import {endApproval, nextApprover, toggleConfirmApproval,loadRecommendApprover}  from '../../vuex/actions'
    import {showConfirmApproval, canCompleteApproval, getRecommendApprover, getAgreeEnd} from '../../vuex/getters'
    import personSelect from '../../utils/personSelect'
    import helper from '../../utils/helpers'

    export default {
        props: {
            approver: {
                //type: Object,
                required: true,
                default: function () {
                    return {}
                }
            },
            max: {
                type: Number,
                default: 5
            }
        },
        vuex: {
            getters: {
                showConfirmApproval,
                canCompleteApproval,
                isAgreeEnd: getAgreeEnd,
                recommendApprover: getRecommendApprover
            },
            actions: {
                endApproval,
                nextApprover,
                toggleConfirmApproval,
                loadRecommendApprover
            }
        },
        data: function () {
            return {
                approverList: [],
                shortVer: true,
                tooManyStaff: false,
                endApprovalMark: false,
                selectPersonMark: false,
                recommendApproverMark: false,
                options: {},
                submitting: false,
                isDesktop: helper.isCloudhub()
            }
        },
        watch: {
            'approver': function () {
                let approvalNames = [];
                if ( !(this.approver && this.approver.users) ) {
                    return;
                }
                for (let i in this.approver.users) {
                    approvalNames.push(this.approver.users[i].name);
                }
                this.tooManyStaff = this.approver.users.length > this.max;
                if ( this.shortVer && approvalNames.length > this.max ) {
                    return this.approverList = `${approvalNames.slice(0, this.max).join(',')}...`
                }
                if ( !this.shortVer || approvalNames.length < this.max ) {
                    return this.approverList = approvalNames.join(',')
                }
            }
        },
        created(){
            this.loadRecommendApprover(this.$route.params.id);
        },
        methods: {
            isEmptyObject: function (obj) {
                var prop;
                for (prop in obj)
                    return false;
                return true
            },
            selectApprover () {
                var self = this;
                var selectPersonName = document.getElementById("selectPersonName")
                var selectPersonAvatar = document.getElementById("selectPersonAvatar")
                if ( helper.getOS() ) {
                    XuntongJSBridge.call('selectPerson', { 'isMulti': false }, function ( resp ) {
                        if ( resp.success === true || resp.success === 'true' ) {
                            if ( !resp.data ) {
                                return;
                            }
                            self.selectPersonMark = true;
                            //selectPersonName.innerText = resp.data.persons[0].personName
                            //selectPersonAvatar.src = resp.data.persons[0].avatarUrl
                            var options = {
                                type: "confirm"
                            }
                            options.data = {
                                transferApproverOId: resp.data.persons[0].personId,
                                status: "2"
                            }
                            self.options = options;
                            self.nextApprover(options).then(function () {
                                self.submitting = false
                            });
                        } else {
                            self.submitting = false
                        }
                    });
                } else {
                    if ( this.isDesktop ) {
                        try {
                            XuntongJSBridge.call('getPersonInfo', {},
                                    function (resp) {
                                        var result = resp;
                                        if ( typeof resp == "string" )result = JSON.parse(resp)
                                        if ( result.success === "true" || result.success === true ) {
                                            self.callPersonSelectBridge()
                                        }
                                    }
                            )
                        } catch (e) {
                            alert(e)
                        }
                    } else {
                        this.callPersonSelectBridge()
                    }

                }
            },
            //Web端与桌面端唤起选人桥
            callPersonSelectBridge: function () {
                var self = this
                var select = personSelect({
                    multi:false,
                    onSelect: function ( data ) {
                        self.toggleReturnBtn(true)
                        if ( data ) {
                            var computedData = data[Object.keys(data)[0]]
                            if ( !computedData ) {
                                return;
                            }
                            self.selectPersonMark = true;
                            //selectPersonName.innerText = resp.data.persons[0].personName
                            //selectPersonAvatar.src = resp.data.persons[0].avatarUrl
                            var options = {
                                type: "confirm"
                            }
                            options.data = {
                                transferApproverOId: computedData.oId,
                                status: "2"
                            }
                            self.options = options;
                            self.nextApprover(options).then(function () {
                                //self.submitting = false
                            });
                        } else {
                            //self.submitting = false
                        }
                        /*var computedData = data[Object.keys(data)[0]]
                         computedData.personName = computedData.name
                         //computedData.personId = computedData.openId
                         computedData.personId = computedData.oId
                         self.setSdkApprover(computedData)*/
                    },
                    onCancel: function ( data ) {
                        console.log("cancel")
                        self.toggleReturnBtn(true)
                        //self.submitting = false
                        self.cancelClicked()
                    }
                });
                this.toggleReturnBtn(false)
            },
            toggleReturnBtn (state) {
                //隐藏或显示web端返回按钮
                var obj = {
                    needBack: state
                }
                window.parent.postMessage(JSON.stringify(obj), '*');
            },
            /**
             * 结束审批点击时，更改标识状态，同时与选人互斥
             */
            endApprovalClicked(){
                this.endApprovalMark = !this.endApprovalMark;
                this.selectPersonMark = this.recommendApproverMark = false
            },
            selectApproverClicked(){
                this.selectPersonMark = !this.selectPersonMark
                this.endApprovalMark = this.recommendApproverMark = false
            },
            recommendApproverClicked(){
                this.recommendApproverMark = !this.recommendApproverMark
                this.selectPersonMark = this.endApprovalMark = false
            },
            cancelClicked(){
                this.endApprovalMark = this.selectPersonMark = this.recommendApproverMark = false;
                this.toggleConfirmApproval()
                var selectPersonName = document.getElementById("selectPersonName")
                selectPersonName.innerText = "选择审批人"
            },
            getTrueItem(obj){
                for (var prop in obj) {
                    if ( obj[prop] ) {
                        return prop
                    }
                }
                return null
            },
            confirmClicked(){
                if ( this.submitting )return false;
                let selectedMark = this.getTrueItem({
                    endApprovalMark: this.endApprovalMark,
                    selectPersonMark: this.selectPersonMark,
                    recommendApproverMark: this.recommendApproverMark
                })
                switch ( selectedMark ) {
                    case "endApprovalMark":
                        this.submitting = true
                        this.endApproval().then(()=> {
                            this.submitting = false
                        });
                        break;
                    case "selectPersonMark":
                        //由于安卓客户端选人桥返回时没有给callback,取消对正在提交状态的限制
                        //this.submitting = true;
                        this.selectApprover();
                        break;
                        //选择推荐审批人
                    case "recommendApproverMark":
                        this.submitting = true;
                        this.submitRecommendApprover()
                        break;
                    default:
                        this.$showTips('请选择下一步操作')
                        break;
                }
            },
            submitRecommendApprover(){
                var options = {
                    type: "confirm"
                }
                options.data = {
                    transferApproverOId: this.recommendApprover.openId,
                    status: "2"
                }
                this.options = options;
                this.nextApprover(options).then(()=> {
                    this.submitting = false
                });
            }
        }
    }
</script>

<style lang="less" rel="stylesheet/less">
    .confirm-approval-overlay {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(4,20,42,0.3);
    }

    .confirm-approval {
        z-index: 100;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 5.76rem;
        transform: translate3d(-50%, -50%, 0);
        background: #fff;
        border-radius: 0.2rem;
        .content {
            height: 3.2rem;
            padding: 0 0.4rem;
            .icon-mixin {
                /*display: block;*/
                font-size: 1.2rem;
            }
            .finish, .contact {
                display: block;
                width:1.2rem;
                height:1.2rem;
                margin:0 auto;
                position: relative;
            }
            .finish:before {
                .icon-mixin;
                content: '\e602';
                color: #EAEAEA;
            }
            .contact:before {
                .icon-mixin;
                content: '\e60d';
                color: #EAEAEA;
            }
            .contact:after{
                content: '';
                position: absolute;
                top:0;
                left:0;
                display: block;
                width:1.2rem;
                height:1.2rem;
                border:0.2rem solid #eaeaea;
                border-radius: 50%;
            }
            .normal:before {
                color: #5BD2EA;
            }
            .normal:after {
                border-color: #5BD2EA;
            }
            .title {
                margin: 0.4rem 0;
                text-align: center;
                font-size: 0.3rem;
                color: #3f3f3f;
            }
            .approval-content {
                width: 49%;
                text-align: center;
                float: left;
                /*line-height: 1.1rem;*/
                /*position: relative;
                top: -0.4rem;*/
                .recommend-avatar-container{
                  position:relative;
                  &.normal:after{
                     content: '';
                     display: block;
                     box-sizing: border-box;
                     position: absolute;
                     left:50%;
                     border-radius: 50%;
                     margin-left:-0.6rem;
                     top:0;
                     width:1.2rem;
                     height:1.2rem;
                     border:4px solid #5BD2EA;
                   }
                }
                .recommend-avatar{
                  display: block;
                  margin: 0 auto;
                  width: 1.2rem;
                  height: 1.2rem;
                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  position:relative;


              }
               .description{
                  display: block;
                }
                .avatar {
                    display: block;
                    width: 1.2rem;
                    height: 1.2rem;
                    margin: 1.2rem 0.5rem 0.1rem;
                    border-radius: 0.6rem;
                }
                .description {
                    color: #9a9a9a;
                    line-height: 0.32rem;
                    font-size: 0.32rem;
                    position: relative;
                    margin-top:0.4rem;
                    &.normal {
                        color: #5BD2EA;
                    }
                }
                &.middle {
                    position: relative;
                    left: 1.2rem;
                }
            }
        }
        .confirm-approval-btn {
            height: 0.88rem;
            position:relative;
            /*.approval-btn {
                line-height: 0.88rem;
                font-size: 0.28rem;
                text-align: center;
                border-radius: 0.14rem;
                margin-bottom: 0.2rem;

                &.normal {
                    background: #31d2ea;
                    color: #fff;
                }

                &.disabled {
                    color: #bdbdbd;
                    background: #e9ecf1;
                }
            }*/
            .close-btn, .confirm-btn {
                float: left;
                width: 50%;
                height: 0.88rem;
                line-height: 0.88rem;
                text-align: center;
                display: inline;
                font-size: 0.32rem;
                color: #9a9a9a;
                position:relative;
                &.normal {
                    color: #5BD2EA;
                }
            }
            .disabledBtn {
                pointer-events: none;
            }
        }
    }

    .cfright {
        clear: right;
    }

    .cfleft {
        clear: left;
    }

    .fright {
        float: right;
    }
</style>
