<template>
    <div class="dragLoading_div" v-scroll-bottom>
        <svg viewBox="0 0 64 64" class="dragLoading_svg">
            <g fill="none" fill-rule="evenodd" stroke-width="3">
                <circle cx="32" cy="32" r="23.999">
                    <animate attributeName="r" begin="0s" dur="2s" values="0;24" keyTimes="0;1"
                             keySplines="0.1,0.2,0.3,1"
                             calcMode="spline" repeatCount="indefinite"></animate>
                    <animate attributeName="stroke-opacity" begin="0s" dur="2s" values=".2;1;.2;0"
                             repeatCount="indefinite"></animate>
                </circle>
                <circle cx="32" cy="32" r="19.7153">
                    <animate attributeName="r" begin="-1s" dur="2s" values="0;24" keyTimes="0;1"
                             keySplines="0.1,0.2,0.3,1"
                             calcMode="spline" repeatCount="indefinite"></animate>
                    <animate attributeName="stroke-opacity" begin="-1s" dur="2s" values=".2;1;.2;0"
                             repeatCount="indefinite"></animate>
                </circle>
            </g>
        </svg>
        <span class="dragLoading_tip">上拉加载更多</span>
    </div>
</template>

<script>
    import { ScrollBottom } from '../../directives/ScrollBottom'
    export default {
        data: function () {
            return {}
        },
        vuex: {
            getters: {
            },
            actions: {}
        },
        events: {
            scrollBottom: function () {
                let self = this
                this.$el.style.display = "block";
                setTimeout(function () {
                    self.$el.style.display = "none";
                }, 2000)
            }
        },
        methods: {},
        created () {
        },
        ready(){
        },
        components: {}
    }
</script>

<style lang="less">
    .dragLoading_svg {
        text-align: right;
        color: #888;
        stroke: #444;
        fill: #444;
        width: 0.5rem;
        height: 0.5rem;
        display: inline-block;
        vertical-align: middle;
    }

    .dragLoading_div {
        display: none;
        position: relative;
        top: -2rem;
        height: 0.8rem;
        text-align: center;
    }

    .dragLoading_tip {
        font-size: 0.24rem;
        vertical-align: middle;
        margin-left: -0.25rem;
    }
</style>