<template>
    <div class="fix-top">
        <slot></slot>
    </div>
</template>


<style>
    .fix-top {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
</style>