<template>
 <ul class="apply-type">
    <li class="has-border-t" v-link="{ name: 'applicationDetail', params: { id: item.id }}"
     v-for="item in approvaltpls">{{item.title}}</li>
 </ul>
</template>

<script>
export default {
  props: {
    approvaltpls: {
        type: Array,
        required: true,
        default: function(){
            return []
        }
    }
  }
}
</script>

<style lang="less">
    .apply-type {
        background: #fff;
        color: #3f3f3f;
        font-size: 0.28rem;

        li {
          position: relative;
            margin-left: 0.26rem;
            line-height: 0.88rem;

            &:first-child {
                border: none;
              &:before{
                display: none;
              }
            }
        }

    }
    .apply-type-tips {
        position: fixed;
        text-align: center;
        width: 100%;
        bottom: 0;
        padding-left: 0.27rem;
        line-height: 0.9rem;
        font-size: 0.28rem;
        background: #fff;
        color: #31d2ea;
    }
</style>
