<template>
    <div class="q-bg"  @click="dismiss()" :style="{display:visible?'block':'none'}"> </div>
    <div class="q-alert" :class="className" :style="{display:visible?'block':'none'}">
        <div class="q-alert-heard">
            <span class="q-alert-closebtn" @click="dismiss"></span>
        </div>
        <div class="q-alert-body">
            <h1 class="q-alert-title text-center">{{title}}</h1>
            <p class="q-alert-text text-center">{{content}}</p>
        </div>
        <div class="q-alert-button-group text-center">
            <a class="q-btn btn-default" v-if="!onlyAlert" @click="cancel">{{cancelBtnTxt}}</a>
            <a class="q-btn btn-primary" :class="{'active': confirmActive}" @click="confirm">{{confirmBtnTxt}}</a>
        </div>
    </div>
</template>

<script>
export default {
    data: function () {
        return {}
    },
    computed: {
        isValidate: function () {
            return false
        }
    },
    beforeCompile: function () {
        if (this.showInput && this.inputReg instanceof RegExp == true && !cloneRegExp(this.inputReg).test(this.inputValue)) {
            this.confirmActive = false
        }

    },
    methods: {
        onInput: function () {
            if (this.showInput && this.inputReg instanceof RegExp == true) {
                this.confirmActive = cloneRegExp(this.inputReg).test(this.inputValue)
            }
        },
        cancel: function () {
            this.$dispatch('cancel', 'cancel')
            this.visible = false
        },
        confirm: function () {
            if (this.showInput === true) {
                if (!this.confirmActive) {
                    return
                }
                this.$dispatch('confirm', {
                    action: 'confirm',
                    data: this.inputValue
                })
            } else {
                this.$dispatch('confirm', {
                    action: 'confirm'
                })
            }
            this.visible = false
        },
        dismiss: function () {
            if (!this.needDismiss) {
                return
            }
            this.$dispatch('dismiss', 'dismiss')
            this.visible = false
        }
    }
}
</script>
