<template>
    <div class="approval-discuss">

       <ul class="discuss-list" v-show="discuss.length > 0">
           <li :class="['item', item.length === 1 ? '' : '']"  v-for="(index,item) in discuss">
                <div class="content">
                    <p class="title" v-if="item.reply">
                        <span class="createUserName">
                            {{item.createUser.name}}&nbsp;回复&nbsp;{{item.reCommentName}}
                        </span>
                    </p>
                    <p class="title" v-if="!item.reply">{{item.createUser.name}}</p>
                    <p class="comment">{{item.content}}</p>
                    <span class="time">{{item.createTime | dateformat 'MM/dd hh:mm'}}</span>
                    <span class="reply" :discussindex="index" @click="replyDicuss">回复</span>
                </div>
                <img class="avator" :src="item.createUser.photo" alt="avatar"></img>

                <i class="iconfont nodeIcon"></i>

           </li>
       </ul>
    </div>
</template>

<script>
    import { approvalDiscuss } from '../../vuex/getters'
    import { updateReplyDiscussInfo } from '../../vuex/actions'
    import helper from '../../utils/helpers'

    export default {
        vuex: {
            actions: {
                updateReplyDiscussInfo
            },
            getters: {
                approvalDiscuss
            }
        },
        props: {
            discuss: {
                type: Array,
                required: true
            }
        },
        components: {
            approvalDiscuss
        },
        methods: {
            replyDicuss( event ){
                let discussindex = event.target.getAttribute("discussindex")
                let replyDiscussInfo = this.discuss[discussindex]
                this.updateReplyDiscussInfo(replyDiscussInfo)
                this.$route.router.go({ name: 'discuss' })
            }
        },
        data:function () {
            return {
                isMobile: !!(helper.getOS() == "ios" || helper.getOS() == "android")
            }
        }
    }
</script>

<style lang="less" rel="stylesheet/less">

    .discuss-list {
        font-size: 0.24rem;
        background: #fff;
        padding: 0.3rem 0;
        border-top: 1px solid #dce1e8;

        li.vitercal-line2:first-child:after{
            display: block;
            content: "";
            width: 1px;
            height: 50%;
            background: #FFF;
            position: absolute;
            top: 0;
            left: .42rem;
            z-index: 5;
        }

        li.vitercal-line2:last-child:after{
            display: block;
            content: "";
            width: 1px;
            height: 50%;
            background: #FFF;
            position: absolute;
            bottom: 0;
            left: .42rem;
            z-index: 5;
        }

        .item {
            padding: 0 0.24rem 0 1.65rem;
            margin-bottom: 0.26rem;
            position: relative;

            .clear-line2{
                    position: absolute;
                    top: 50%;
                    left: .27rem;
                    transform: translate(0, -50%);
                    width: .32rem;
                    height: .32rem;
                    background: #fff;
                    z-index: 10;
                }

            .content {
                position: relative;

                .title {
                    font-size: 0.28rem;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 3rem;
                    white-space: nowrap;
                    color: #343434;
                }

                .comment {
                    color: #bdbdbd;
                    position: relative;
                    padding-right: 0.5rem;
                    font-size: 0.24rem;
                    margin-top:0.05rem;
                }

                .reply {
                    position: absolute;
                    top: 0.4rem;
                    right: 0;
                    color: #00d2e8;
                }

                .time {
                    position: absolute;
                    top: 0.04rem;
                    right: 0;
                    color: #bdbdbd;
                    font-size: 0.2rem;
                    background: #fff;
                }
            }

            .avator {
                width: 0.66rem;
                height: 0.66rem;
                position: absolute;
                top: 0;
                left: 0.78rem;
                background: #dadfe7;
                border-radius: 50%;
            }

            .nodeIcon {
                position: absolute;
                    top: .1rem;
                    left: .27rem;
                    width: .32rem;
                    height: .32rem;
                    background: #fff;
                    z-index: 10;

                &:before {
                    content: '\e606';
                    color: #94d636;
                }
            }
        }
    }

    .vitercal-line2:before{
        display: block;
        content: "";
        width: 1px;
        height: 100%;
        background: #dbe1e8;
        position: absolute;
        top: 0;
        left: .42rem;
        z-index: 5;
    }

</style>
