<!--第三方审批单据-->
<template>
    <div class="approval-desc">
        <h1 class="title">
            <div class="name ellipsis">{{approval.createUser && approval.createUser.name}}
                <span class="type">{{approval.title}}</span>
            </div>
        </h1>
        <div class="content">
            <p>{{{replaceBr(approval.tabloid)}}}</p>
        </div>
        <!--<ul class="content">
            <template v-for="item in approval.labels" v-if="item.type!=='photofield'&&item.type!=='filefield'">
                <li v-if="item.type!=='daterangefield' && item.type!=='filefield'">{{item.label}}: {{item.value}}</li>
                <li v-if="item.type=='daterangefield'" v-for="n in 2">{{item.labels[n]}}: {{item.value[n]}}</li>
            </template>
        </ul>-->
        <!--<ul class="preview">
            <template v-for="item in approval.labels">
                <li v-if="item.type==='photofield'" v-for="(index,pic) in item.value" track-by="$index">
                    <img :src="photoPreviewUrl + pic" v-link="{ name: 'preview', params: { index: index }}">
                </li>
            </template>
        </ul>-->
        <!--<approval-file :approval="approval" v-if="os"></approval-file>
        <approval-file-web :approval="approval" v-if="!os"></approval-file-web>-->
        <!--<ul class="previewfile">
            <template v-for="(approvalindex,item) in approval.labels">
                <li v-if="item.type==='filefield'" v-for="(index,file) in item.value" :approvalindex="approvalindex"
                    :index="index" track-by="$index" @click="showFile">
                    <i class="iconfont fileIcon"></i>
                    <span>{{file.fileName}} </span>
                    &lt;!&ndash;<span class="size">{{file.fileSize }}B</span>&ndash;&gt;
                </li>
            </template>
        </ul>-->
      <div class="detail has-border-t"><a href="{{approval.detailURL}}" target="_blank">查看详情 <i class="arrowIcon"></i></a></div>
    </div>
</template>

<script>
    export default {
        props: {
            approval: {
                type: Object,
                required: true
            }
        },
        watch:{
            /*'approval':function () {
                console.log(this.approval.labels)
            }*/
        },
        computed:{
            /*trueFileSize:function () {
                console.log(this.approval.labels.value)
                return this.file
             /!*let fileSize = this.file.fileSize
             return fileSize*!/
             }*/
        },
        methods: {
            replaceBr: function (str) {
                return this.encode(str).replace(/\n/g, "<br>")
            },
            encode: function (txt) {
                if ( typeof txt != "string" ) return "";
                txt = txt.replace(/&/g, "&amp;")
                        .replace(/</g, "&lt;")
                        .replace(/>/g, "&gt;")
                        .replace(/\"/g, "&quot;")
                        .replace(/\'/g, "&#39;")
                        .replace(/ /g, "&nbsp;")
//.replace(/&amp;#([^\;]+);/ig, "&#$1;"); //将&#20117;转成相应的汉字“井”
                return txt;
            }
        }
    }
</script>

<style lang="less" rel="stylesheet/less">
    .approval-desc {
        background: #fff;

        .title {
            padding-left: 0.24rem;
            color: #fff;
            background: #31d2ea;
            line-height: 1rem;
            position:relative;

            .name {
                font-size: 0.32rem;
                vertical-align: middle;
                margin-right: 0.24rem;
            }

            &:after {
                content:"";
                width: 0;
                height: 0;
                border-left: 0.06rem solid transparent;
                border-right: 0.06rem solid transparent;
                border-bottom: 0.12rem solid #ffffff;
                bottom: 0;
                left: 0.5rem;
                position:absolute;
            }

            .type {
                font-size: 0.28rem;
                vertical-align: middle;
                margin-left: 0.1rem;
            }

        }

        .content {
            padding: 0.3rem 0.24rem;
            font-size: 0.28rem;
            color: #9a9a9a;
            word-wrap: break-word;
            line-height: 0.38rem;
        }

        .preview {
            margin-left: 0.24rem;
            display: block;
            font-size: 0;
            letter-spacing: 0;
            li {
                display: inline-block;
                margin-right: 0.3rem;
                padding-bottom: 0.3rem;

                img {
                    width: 1.1rem;
                    height: 1.1rem;
                }

            }
        }

        .previewfile {
            /*border-top: 1px solid #dce1e8;*/
            padding-bottom: 0.1rem;
            li {
                /*background-color: #dce1e8;*/
                background-color: #f1f4f9;
                line-height: 0.28rem;
                width: auto;
                word-break: break-all;
                margin: 0.1rem 0.24rem;
                /*padding: 0 0.3rem 0.2rem;*/
                border-radius: 0.1rem;
                border: solid #dce1e8 1px;
                .fileIcon:before {
                    content: '\e60c';
                    color: #9a9a9a;
                }
                span {
                    color: #9a9a9a;
                    font-size: 0.26rem;
                }
            }
        }
      /*查看详情*/
      .detail{
        position: relative;
        font-size:0.28rem;
        margin:0 0.24rem;
        padding:0.24rem 0;
        line-height: 0.44rem;;
        text-align: center;
        color: #00d2e8;
        cursor:pointer;
        a{
            color: #00d2e8;
            text-decoration: none;
        }
        .arrowIcon:after {
          content: "";
          display: inline-block;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          height: 0.16rem;
          width: 0.16rem;
          border-width: 0.02rem 0.02rem 0 0;
          border-color: #9a9a9a;
          border-style: solid;
          position: relative;
          top: -0.02rem;
          margin-left:0.02rem;
        }
      }
    }
</style>
