<template>
    <div class="approval-desc">
        <h1 class="title"><div class="name ellipsis">{{approval.createUser && approval.createUser.name}}<span
                class="type">{{approval.title}}</span></div></h1>
        <ul class="content">
            <template v-for="item in approval.labels" v-if="item.type!=='photofield'&&item.type!=='filefield'">
                <li v-if="item.type!=='daterangefield' && item.type!=='filefield'">{{item.label}}: <span class="info">{{item.value}}</span></li>
                <li v-if="item.type=='daterangefield'" v-for="n in 2">{{item.labels[n]}}: <span class="info">{{item.value[n]}}</span></li>
            </template>
        </ul>
        <ul class="preview">
            <template v-for="item in approval.labels">
                <li v-if="item.type==='photofield'" v-for="(index,pic) in item.value" track-by="$index">
                    <img :src="photoPreviewUrl + pic" v-link="{ name: 'preview', params: { index: index }}">
                </li>
            </template>
        </ul>
        <approval-file :approval="approval" v-if="os"></approval-file>
        <approval-file-web :approval="approval" v-if="!os"></approval-file-web>
        <!--<ul class="previewfile">
            <template v-for="(approvalindex,item) in approval.labels">
                <li v-if="item.type==='filefield'" v-for="(index,file) in item.value" :approvalindex="approvalindex"
                    :index="index" track-by="$index" @click="showFile">
                    <i class="iconfont fileIcon"></i>
                    <span>{{file.fileName}} </span>
                    &lt;!&ndash;<span class="size">{{file.fileSize }}B</span>&ndash;&gt;
                </li>
            </template>
        </ul>-->
    </div>
</template>

<script>
    import config from '../../config'
    import helpers from '../../utils/helpers'
    import ApprovalFile from './ApprovalFile.vue'
    import ApprovalFileWeb from './ApprovalFileWeb.vue'
    export default {
        components:{
            ApprovalFile,
            ApprovalFileWeb
        },
        props: {
            approval: {
                type: Object,
                required: true
            }
        },
        data: function () {
            return {
                photoPreviewUrl: config.photoPreviewUrl,
                os: helpers.getOS()
            }
        },
        watch:{
            /*'approval':function () {
                console.log(this.approval.labels)
            }*/
        },
        computed:{
            /*trueFileSize:function () {
                console.log(this.approval.labels.value)
                return this.file
                /!*let fileSize = this.file.fileSize
                return fileSize*!/
            }*/
        },
        methods: {
            showFile( event ){
                var fileInfo = this.getTargetFileInfo(event)
                XuntongJSBridge.call("showFile", fileInfo, function ( result ) {
                })
            },
            getTargetFileInfo( event ){
                let targetTag = event.target;
                let approvalindex, valueindex;
                if ( targetTag.tagName === "LI" ) {
                    approvalindex = targetTag.getAttribute("approvalindex")
                    valueindex = targetTag.getAttribute("index")
                } else {
                    approvalindex = targetTag.parentNode.getAttribute("approvalindex")
                    valueindex = targetTag.parentNode.getAttribute("index")
                }
                return this.approval.labels[approvalindex].value[valueindex]
            }
        }
    }
</script>

<style lang="less" rel="stylesheet/less">
    .approval-desc {
        background: #fff;

        .title {
            padding-left: 0.24rem;
            color: #fff;
            background: #31d2ea;
            line-height: 1rem;
            position:relative;

            .name {
                font-size: 0.32rem;
                vertical-align: middle;
                margin-right: 0.24rem;
            }

            &:after {
                content:"";
                width: 0;
                height: 0;
                border-left: 0.06rem solid transparent;
                border-right: 0.06rem solid transparent;
                border-bottom: 0.12rem solid #ffffff;
                bottom: 0;
                left: 0.5rem;
                position:absolute;
            }

            .type {
                font-size: 0.28rem;
                vertical-align: middle;
                margin-left: 0.1rem;
            }

        }

        .content {
            padding: 0.3rem 0.24rem;
            font-size: 0.28rem;
            color: #9a9a9a;
            word-wrap: break-word;
            line-height: 0.38rem;
          .info {
            padding-left:0.1rem;
            color: #3f3f3f;
          }
        }

        .preview {
            margin-left: 0.24rem;
            display: block;
            font-size: 0;
            letter-spacing: 0;
            li {
                display: inline-block;
                margin-right: 0.3rem;
                padding-bottom: 0.2rem;

                img {
                    width: 1.1rem;
                    height: 1.1rem;
                }

            }
        }

        .previewfile {
            /*border-top: 1px solid #dce1e8;*/
            padding-bottom: 0.1rem;
            li {
                /*background-color: #dce1e8;*/
                background-color: #f1f4f9;
                line-height: 0.28rem;
                width: 5.3rem;
                word-break: break-all;
                margin: 0.1rem 0.24rem;
                padding: 0 0.3rem 0.2rem;
                border-radius: 0.1rem;
                border: solid #dce1e8 1px;
                .fileIcon:before {
                    content: '\e60c';
                    color: #9a9a9a;
                }
                span {
                    color: #9a9a9a;
                    font-size: 0.28rem;
                }
            }
        }
    }
</style>
