<template>
    <div class="discuss">
        <textarea name="discussInput" id="discussInput" class="discussInput" cols="" rows=""
                  placeholder="请输入你的意见"></textarea>
        <div @click="submitDiscussClicked" v-show="!submitting" class="submitBtn">提交</div>
        <div class="submitBtn submittingBtn" v-show="submitting">提交中...</div>
    </div>
</template>

<script>
    import { inputDiscuss, getReplyDiscussInfo } from '../../vuex/getters'
    import { setInputDiscuss, submitDiscuss, updateReplyDiscussInfo } from '../../vuex/actions'
    import { MDButton } from '../../components'

    export default {
        data: function () {
            return {
                submitting: false
            }
        },
        vuex: {
            getters: {
                inputDiscuss,
                getReplyDiscussInfo
            },
            actions: {
                setInputDiscuss,
                submitDiscuss,
                updateReplyDiscussInfo
            }
        },
        methods: {
            submitDiscussClicked(){
                var data = {};
                var self = this;
                var input = document.getElementById("discussInput")
                data.id = this.$route.params.id;
                data.content = input.value;
                if(!data.content){return false}
                this.submitting = true
                this.submitDiscuss(data).then(function ( res ) {
                    self.$showTips('反馈成功')
                    self.submitting = false
                    /*self.$tip({
                     msg:"反馈成功"
                     })*/
                    input.value = "";
                    self.updateReplyDiscussInfo({})
                    //history.go(-1)
                    //location.href="/approval/"+self.$route.params.id
                    self.$route.router.go({ name: 'approvalDetail', params: { id: self.$route.params.id } })
                    //window.history.replaceState(null, '', '/approval/'+self.$route.params.id);
                });
            }
        },
        ready(){
            var self = this;
            var input = document.getElementById("discussInput")
            let replyDiscussInfo = this.getReplyDiscussInfo
            if ( this.inputDiscuss ) {
                input.value = this.inputDiscuss
            }
            if ( replyDiscussInfo.createUser && replyDiscussInfo.content ) {
                input.setAttribute("placeholder", "回复" + replyDiscussInfo.createUser.name + ":" + "\n" + replyDiscussInfo.content)
            }
            let inputValue = input.value;
            window.addEventListener("popstate", function ( event ) {
                inputValue = input.value
                self.setInputDiscuss(inputValue);
                self.updateReplyDiscussInfo({})
            }, false)
            this.$el.addEventListener("touchmove", function ( event ) {
                return event.preventDefault()
            })
            //TODO: @功能
            /*this.$el.addEventListener("keyup", function ( event ) {
             console.log(event)
             })*/
            input.focus()
        },
        components: {
            'md-button': MDButton
        }
    }
</script>

<style lang="less" rel="stylesheet/less">
    .discuss {
        overflow-y: hidden;
        z-index: 999;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #E9ECF0;
        .discussInput {
            display: block;
            width: 100%;
            height: 3.68rem;
            margin-top: 0.16rem;
            padding: 0.2rem;
        }
        .submitBtn {
            text-align: center;
            margin: 0.3rem 0.36rem 0.36rem;
            background-color: #5BD2EA;
            border-radius: 0.4rem;
            color: #fff;
            font-size: 0.3rem;
            line-height: 0.88rem;
            &.submittingBtn{
                background-color: #c9d0db;
            }
        }
    }
</style>