<template>
    <ul class="previewfile">
        <template v-for="(approvalindex,item) in approval.labels">
            <li v-if="item.type==='filefield'" v-for="(index,file) in item.value" :approvalindex="approvalindex"
                :index="index" track-by="$index" @click="showFile">
                <span class="ellipsis" style="display: block;padding-top: 0.2rem"><i class="iconfont fileIcon"></i>{{file.fileName}}</span>
                <!--<span class="size">{{file.fileSize }}B</span>-->
            </li>
        </template>
    </ul>
</template>

<script>
    import config from '../../config'
    export default {
        props: {
            approval: {
                type: Object,
                required: true
            }
        },
        data: function () {
            return {
                photoPreviewUrl: config.photoPreviewUrl
            }
        },
        watch: {
            /*'approval':function () {
             console.log(this.approval.labels)
             }*/
        },
        computed: {
            /*trueFileSize:function () {
             console.log(this.approval.labels.value)
             return this.file
             /!*let fileSize = this.file.fileSize
             return fileSize*!/
             }*/
        },
        methods: {
            showFile( event ){
                var fileInfo = this.getTargetFileInfo(event)
                XuntongJSBridge.call("showFile", fileInfo, function ( result ) {
                })
            },
            getTargetFileInfo( event ){
                let targetTag = event.target;
                let approvalindex, valueindex;
                if ( targetTag.tagName === "LI" ) {
                    approvalindex = targetTag.getAttribute("approvalindex")
                    valueindex = targetTag.getAttribute("index")
                } else {
                    approvalindex = targetTag.parentNode.getAttribute("approvalindex")
                    valueindex = targetTag.parentNode.getAttribute("index")
                }
                return this.approval.labels[approvalindex].value[valueindex]
            }
        }
    }
</script>

<style lang="less" rel="stylesheet/less">
    .approval-desc {

        .previewfile {
            /*border-top: 1px solid #dce1e8;*/
            padding-bottom: 0.1rem;
            li {
                /*background-color: #dce1e8;*/
                background-color: #f1f4f9;
                line-height: 0.28rem;
                width: 5.3rem;
                word-break: break-all;
                margin: 0.1rem 0.24rem;
                padding: 0 0.3rem 0.2rem;
                border-radius: 0.1rem;
                border: solid #dce1e8 1px;
                .fileIcon:before {
                    content: '\e60c';
                    color: #9a9a9a;
                }
                span {
                    color: #9a9a9a;
                    font-size: 0.28rem;
                }
            }
        }

    }
</style>
