<template>
    <ul class="timeline">
        <li :class="['history', record.length === 1 ? '' : 'vitercal-line']" v-for="(index,item) in record">
            <span class="clear-line">
                <i class="cell iconfont"
              :class="{'recordIcon':item.status!='-1'&&item.status!='3','pendingIcon':item.status=='-1','rejectTL':item.status=='3'}">
           </i>
            </span>
            <span class="cell avator"><img :src="item.approvalUser.photo" alt="" class="img"></span>
            <span class="cell content">
                <span class="title" v-if="item.status=='-2'">{{item.approvalUser.name}}&nbsp;&nbsp;未来等待处理审批</span>
                <span class="title" v-if="item.status=='-1'">等待&nbsp;{{item.approvalUser.name}}&nbsp;&nbsp;审批</span>
                <span class="title" v-if="item.status=='0'">{{item.approvalUser.name}}&nbsp;&nbsp;关闭审批</span>
                <span class="title" v-if="item.status=='1'">{{item.approvalUser.name}}&nbsp;&nbsp;提交申请</span>
                <span class="title" v-if="item.status=='2'">{{item.approvalUser.name}}&nbsp;&nbsp;同意审批</span>
                <span class="title" v-if="item.status=='3'">{{item.approvalUser.name}}&nbsp;&nbsp;不同意并完成审批</span>
                <span class="title" v-if="item.status=='4'">{{item.approvalUser.name}}&nbsp;&nbsp;同意并完成审批</span>
                <span class="title" v-if="item.status=='5'">{{item.approvalUser.name}}&nbsp;&nbsp;挂起（待定）审批</span>
                <span class="time">{{item.approvalTime | dateformat 'MM/dd hh:mm'}}</span>
            </span>
        </li>
    </ul>
</template>

<script>
import { isCurApprover, approvalReplyText, isCanApproval, approvalDetail } from '../../vuex/getters'

export default {
    props: {
        record: {
            type: Array,
            required: true
        },
        createinfo: {
            type: Object,
            required: true
        }
    },
    data:function () {
        return {
            action:""
        }
    },
    vuex: {
        getters: {
            isCurApprover,
            approvalReplyText,
            isCanApproval,
            approvalDetail
        }
    }
    /*ready(){
        let records=approvalDetail
    }*/
}
</script>

<style lang="less" rel="stylesheet/less">
    .timeline {
        margin-top: 0.16rem;
        position: relative;
        background: #fff;
        padding-left: 0.24rem;

        li.vitercal-line:first-child:after{
            display: block;
            content: "";
            width: 1px;
            height: 50%;
            background: #FFF;
            position: absolute;
            top: 0;
            left: .16rem;
            z-index: 5;
        }

        li.vitercal-line:last-child:after{
            display: block;
            content: "";
            width: 1px;
            height: 50%;
            background: #FFF;
            position: absolute;
            bottom: 0;
            left: .16rem;
            z-index: 5;
        }

        .clear-line{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            width: .32rem;
            height: .32rem;
            background: #fff;
            z-index: 10;

            i{
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        li.history {
            background: #fff;
            position: relative;
            display: table;
            width: 100%;
            height: 1.2rem;
            border-radius: 0.1rem;
            padding-left: .51rem;

            .cell {
                display: table-cell;
                vertical-align: middle;
            }
            .recordIcon {
                width: 0.5rem;

                &:before {
                    content: '\e602';
                    font-size: 0.32rem;
                    color: #31d2ea;
                    z-index: 10;
                }
            }
            .pendingIcon{
                width: 0.5rem;

                &:before {
                    content: '\e601';
                    font-size: 0.34rem;
                    color: #dce1e8;
                    z-index: 10;
                    background: #FFF;
                    position: relative;
                }
            }
            .rejectTL{
                width: 0.5rem;

                &:before {
                    content: '\e600';
                    font-size: 0.32rem;
                    color: #f35959;
                }
            }
            .avator {
                vertical-align: middle;
                width: 0.66rem;

                .img {
                    border-radius: 50%;
                }
            }

            .content {
                height: 100%;
                color: #333;
                font-size: 0.28rem;
                vertical-align: middle;
                padding-left: 0.2rem;
                line-height: 0.2rem;

                .title {
                    display: block;
                    vertical-align: middle;
                    font-size: 0.28rem;
                    color: #343434;
                }

                .time {
                    display: block;
                    vertical-align: middle;
                    color: #9a9a9a;
                    font-size: 0.24rem;
                    position: relative;
                    top: 10px;
                }
            }

            .pending {
                vertical-align: middle;
                font-size: 0.28rem;
                color: #343434;
            }
        }

        li.pending {
            background: #fff;
            border-radius: 0.1rem;
            position: relative;

            .avator {
                margin-left: 0.24rem;
                width: 0.66rem;
                height: 0.66rem;
                border-radius: 0.1rem;
            }
            .content {
                color: #31d2ea;
                font-size: 0.28rem;
                vertical-align: middle;
            }

            .footer {
                color: #9a9a9a;
                font-size: 0.24rem;
                border-top: 1px solid #dce1e8;
                padding: 0.18rem 0.24rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .vitercal-line:before{
        display: block;
        content: "";
        width: 1px;
        height: 100%;
        background: #dbe1e8;
        position: absolute;
        top: 0;
        left: .16rem;
        z-index: 5;
    }
</style>
