<!-- approvalRule.approvalType==="2" 关键节点审批人,即指定无条件关键审批人 -->
<template>
    <div class="allot">
        <div class="field" @click="selectApprover">
            <span class="label">审批人</span>
            <span class="tips-left">(审批人由管理员预置)
                <i class="rules-explain-btn fr" @click.stop="cndHelper"></i>
            </span>
        </div>
        <!-- 下面是审批人显示列表,分为条件审批的固定流程、不指定条件的固定流程、以及用户自行添加的审批人,显示规则为三个至少一个为非空 -->
        <div class="con" v-show="!!keyApprovers || (approvalNodeUsers && approvalNodeUsers.length > 0)">
            <ul class="approval-tips">
                <!-- 添加审批人按钮 ,此按钮用作在当前流程*前*添加审批人 -->
                <select-person-button></select-person-button>
                <!--由于选人桥返回值不统一,做数据兼容-->
                <!--<li v-for="(index,nodeUser) in approvalNodeUsers" class="approver"
                    @click="showPersonInfo(nodeUser.openId||nodeUser.personId)">-->
                <!-- TODO 把审批节点人拆成组件 -->
                <li v-for="(index,nodeUser) in approvalNodeUsers" class="approver">
                    <img class="avator" :src="nodeUser.photoUrl || nodeUser.avatarUrl" alt="">
                    <span class="name ellipsis">{{nodeUser.name || nodeUser.personName}}</span>
                    <div class="del" @click="delNodeUser(index)"></div>
                </li>
                <!--暂时先不添加点击跳转到人员详情功能,xuntong桥的openId传入后有问题-->
                <!--<li v-for="item in keyApprovers" class="approver" @click="showPersonInfo(item.openId)">-->
                <li v-for="item in keyApprovers" class="approver">
                    <img class="avator" :src="item.photo" alt="">
                    <span class="name ellipsis">{{item.name}}</span>
                    <!--<div class="del">×</div>-->
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import {setApprovalNodeUsers, setCndApprovers, setCurCondition} from '../../../vuex/actions'
    import {approvalRule, getApprovalNodeUsers, curCondition} from '../../../vuex/getters'
    import personSelect from '../../../utils/personSelect'
    import selectPersonButton from '../../Buttons/SelectPersonButton'
    import helper from '../../../utils/helpers'

    export default {
        components: {
            selectPersonButton
        },
        vuex: {
            actions: {
                setApprovalNodeUsers,
                setCndApprovers,
                setCurCondition
            },
            getters: {
                approvalNodeUsers: getApprovalNodeUsers,
                approvalRule,
                curCondition
            }
        },
        data: function () {
            return {
                shortVer: true
            }
        },
        props: {
            required: {
                type: Boolean,
                required: true,
                default: true
            },
            type: {
                type: String,
                required: true,
            }
        },
        computed: {
            //固定流审批人
            //审批类型 不指定审批人:"0";指定条件关键审批人:"1";指定无条件关键审批人:"2";
            //只有不限条件指定关键审批人才会使用content字段
            keyApprovers () {
                if ( this.approvalRule && this.approvalRule.approvalType == '2' && this.approvalRule.content ) {
                    return JSON.parse(this.approvalRule.content)
                }
            }
        },
        ready(){
            this.setApprovalNodeUsers([], "init")
            this.setCndApprovers([])
            this.setCurCondition({})
        },
        methods: {
            isEmptyObject: function (obj) {
                var prop;
                for (prop in obj)
                    return false;
                return true
            },
            validate() {
                console.log('校验')
                if ( !(this.keyApprovers || this.approvalNodeUsers.length > 0) ) {
                    helper.addErrorTips(this.$el)
                    return false
                }
                return true
            },
            showPersonInfo (openId) {
                XuntongJSBridge.call('personInfo', {
                    'openId': openId
                }, function (result) {
                    //alert("结果：" + JSON.stringify(result));
                });
            },
            selectApprover () {
                var type = this.approvalRule.approvalType == '0' ? "push" : ""
                var self = this
                //update:可以选人了
                // 如果是固定流不可以选人
                /*if ( this.approvalRule && this.approvalRule.approvalType == '2' ) {
                 return
                 }*/

                if ( helper.getOS() ) {
                    XuntongJSBridge.call('selectPerson', { 'isMulti': true },
                            function (resp) {
                                if ( resp.success === true || resp.success === 'true' ) {
                                    if ( !resp.data ) {
                                        return;
                                    }
                                    let persons = resp.data.persons;
                                    //self.setSdkApprover(resp.data.persons[0])
                                    //let personInfo = resp.data.persons[0]
                                    //personInfo.oId = personInfo.personId;
                                    //由于手机端与web端选人桥返回的数据结构差异,故采用这种方式实现
                                    for (let i = 0; i < persons.length; i++) {
                                        persons[i].oId = persons[i].personId;
                                        self.setApprovalNodeUsers(persons[i], type)
                                    }
                                }
                            }
                    )
                } else {
                    window.location.hash = '#selectPerson'
                    var select = personSelect({
                        multi: true,
                        onSelect: function (data, historyLen) {
                            let keysArr = Object.keys(data);
                            for (let i = 0; i < keysArr.length; i++) {
                                let key = keysArr[i];
                                var computedData = data[key];
                                computedData.personName = computedData.name;
                                computedData.openId = computedData.personId = computedData.oId;
                                //computedData.personId = computedData.oId
                                //self.setSdkApprover(computedData)
                                self.setApprovalNodeUsers(computedData, type)
                            }
                            self.toggleReturnBtn(true)

                            if ( historyLen > 0 ) {
                                console.log('确定：' + historyLen)
                                document.getElementById("personBridge").contentWindow.history.go(-historyLen)
                            }
                        },

                        onCancel: function (historyLen) {
                            console.log("cancel")
                            self.toggleReturnBtn(true)
                            if ( historyLen > 0 ) {
                                console.log('取消：' + historyLen)
                                document.getElementById("personBridge").contentWindow.history.go(-historyLen)
                            }
                        }
                    });
                    this.toggleReturnBtn(false)
                }
            },
            delNodeUser(index){
                this.setApprovalNodeUsers(index, "delete")
            },
            toggleReturnBtn (state) {
                //隐藏或显示web端返回按钮
                var obj = {
                    needBack: state
                }
                window.parent.postMessage(JSON.stringify(obj), '*');
            },
            cndHelper(){
                console.log("cndhelper")
            }
        }

    }
</script>

<style lang="less">
    .allot {
        margin-top: 0.15rem;
        background-color: #fff;
        font-size: 0.28rem;
        overflow: hidden;
        position: relative;

        .con {
            overflow-x: auto;
            overflow-y: hidden;
        }

        .field {
            position: relative;
            padding: 0 0.24rem;
            box-sizing: content-box;
            display: block;
            min-height: 0.88rem;
            line-height: 0.88rem;

            .label {
                color: #3f3f3f;
                position: absolute;
                top: 0;
                left: 0.24rem;
            }
            .tips {
                display: block;
                padding-left: 1.5rem;
                text-align: right;
                color: #9a9a9a;
                font-size: 0.26rem;
                &.arrowIcon:after {
                    content: "";
                    display: inline-block;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    height: 0.16rem;
                    width: 0.16rem;
                    border-width: 0.02rem 0.02rem 0 0;
                    border-color: #9a9a9a;
                    border-style: solid;
                    position: relative;
                    top: -0.02rem;
                    /*margin-left: .15rem;*/
                }
            }
            //靠左边的tips
            .tips-left {
                display: block;
                padding-left: 1rem;
                color: #9a9a9a;
                font-size: 0.24rem;
                .rules-explain-btn {
                    width: 0.5rem;
                    height: 0.88rem;
                    background: url(../../../assets/rules-explain.png) no-repeat right center/0.32rem auto;
                }
            }
        }
        .select-field {
            padding: 0.2rem 0.2rem 0.2rem 0.27rem;
            position: relative;
            font-size: 0.28rem;
            color: #9a9a9a;
            margin-top: 0;
        }

        .approval-tips {
            margin: 0 0.05rem;
            padding-top: 0.22rem;
            color: #bdbdbd;
            font-size: 0;;
            line-height: 0.35rem;
        }
        .more {
            cursor: pointer;
            font-size: 0.24rem;
            color: #31d2ea;
        }
        .approver {
            display: inline-block;
            margin-right: 0rem;
            width: 20%;
            margin-bottom: 0.2rem;
            font-size: 0.24rem;
            position: relative;

            .arrow {
                position: absolute;
                top: 0.28rem;
                right: -0.26rem;
                &:after {
                    content: '\e60a';
                }
            }
            //连接线和横杠
            &:before {
                content: "";
                position: absolute;
                display: block;
                width: 0.3rem;
                top: 0.4rem;
                right: -0.15rem;
                border-bottom: 1px solid #dce1e7;
            }
            .avator {
                width: 0.72rem;
                height: 0.72rem;
                border-radius: 50%;
                display: block;
                margin: auto;
                position: relative;
            }
            .name {
                display: block;
                width: 100%;
                text-align: center;
                margin-top: 0.1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #9a9a9a;
            }
            &:last-child .arrow {
                display: none;
            }
            .del {
                position: absolute;
                right: 50%;
                top: 0;
                width: 0.3rem;
                height: 0.3rem;
                border-radius: 50%;
                text-align: center;
                background-color: #fff;
                border: 1px solid #dee4e9;
                line-height: 0.3rem;
                margin-right: -0.5rem;
                &:before, &:after {
                    content: "";
                    position: absolute;
                    width: 0.2rem;
                    left: 50%;
                    top: 50%;
                    margin-left: -0.1rem;
                    border-bottom: 1px solid #dee4e9;
                    -moz-transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                &:after {
                    -moz-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
            //清除最后元素的连线(最后一个和每行的第五个)
            /*&:last-child .arrow {*/
            /*display: none;*/
            /*}*/
            &:last-child:before, &:nth-child(5n):before {
                display: none;
            }
        }

        .addbtn-after .approver {
            &:before {
                left: -0.15rem;
            }
            &:nth-child(5n):before {
                display: block;
            }
            &:first-child:before, &:nth-child(5n-4):before {
                display: none;
            }
        }
        //审批人添加的按钮
        .addbtn {
            &:before {
                display: none !important;
            }
            .addbtn-b {
                display: block;
                margin: auto;
                width: 0.72rem;
                height: 0.72rem;
                border-radius: 50%;
                border: 1px dashed #ccc;
                position: relative;
                &:before, &:after {
                    border: none;
                    content: "";
                    position: absolute;
                    width: 0.36rem;
                    height: 1px;
                    background-color: #abb1b3;
                    top: 50%;
                    left: 50%;
                    margin-left: -0.18rem;
                }
                &:after {
                    width: 1px;
                    height: 0.36rem;
                    margin-top: -0.18rem;
                    margin-left: -0.01rem;
                }
            }
        }
        .terms {
            border-top: 1px solid #dadfe7;
            padding: 0.2rem 0.24rem;
            color: #9a9a9a;
            font-size: 0.24rem;
        }
    }
</style>
