/**
* Created by yuce_wang on 2016/7/21.
*/
<template>
    <div class="ff-terms-item" @click="setConditionSelect(index)">
        <i class="ff-item-radio" :class="{'ff-item-radio-active':select}"></i>
        <div class="ff-item-title">{{condition.label}}{{fail?'（失效）':'\'}}</div>
        <div v-show="select">
            <div class="ff-leave-type">
                <span v-for="option in condition.options">{{option}}</span>
            </div>
            <div>
                <button class="ff-btn" @click.stop="conditionSet">设置审批人</button>
            </div>
        </div>
    </div>
</template>
<script>
    import {
        conditionList,
        conditionSelect,
        conditionPersonData,
        conditionComplete
    } from '../../vuex/getter'
    import {setConditionSelect, conditionPersonSet} from '../../vuex/action'
    export default{
        vuex: {
            getters: {
                conditionList,
                conditionSelect,
                conditionPersonData,
                conditionComplete
            },
            actions: {
                setConditionSelect,
                conditionPersonSet
            }
        },
        props: {
            index: {
                type: Number,
                required: true
            }
        },
        computed: {
            condition: function () {
                return this.conditionList[this.index]
            },
            select: function () {
                return this.conditionSelect == this.index && this.conditionSelect != undefined
            },
            fail: function () {
                return this.conditionComplete && this.conditionComplete[this.condition.id] && !this.select
            }
        },
        methods: {
            conditionSet: function () {
                var data = {
                    conditionList: this.conditionList,
                    conditionSelect: this.conditionSelect,
                    conditionPersonData: this.conditionPersonData,
                }
                this.conditionPersonSet(data)
            }
        }
    }
</script>
