<template>
    <div id="globalTip">
        <!--<i class="iconfont" :class="type"></i>--><span>{{msg}}</span>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {}
        },
        methods: {

        }
    }
</script>

<style lang="less" rel="stylesheet/less">
    #globalTip{
        z-index: 99999;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 50%;
        left: 50%;
        font-size: 0.3rem;
        padding: 0.5rem 0.12rem;
        color: #fff;
        border-radius: 0.2rem;
        word-break: break-all;
        transform: translate(-50%,-50%);
    }
</style>