<template>
  <div class="apply-button">
    <button @click="newApply">我要申请</button>
  </div>
</template>

<script>
  export default {
   methods: {
    newApply: function(){
      this.$route.router.go('/select')
    }
   }
  }
</script>

<style lang="less">
  .apply-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #c9d0db;

    button {
      width: 100%;
      line-height: 0.9rem;
      background: #fff;
      display: block;
      color: #31d2ea;
      font-size: 0.3rem;
    }
  }
</style>