<template>
    <li class="approver addbtn" @click="selectPerson">
        <span class="addbtn-b"></span>
        <span class="name">添加审批人</span>
    </li>
</template>

<script>
    import {setApprovalNodeUsers} from '../../vuex/actions'
    import {approvalRule, getApprovalNodeUsers} from '../../vuex/getters'
    import SelectPerson from "../../utils/SelectPerson"

    export default{
        vuex: {
            actions: {
                setApprovalNodeUsers
            },
            getters: {
                approvalNodeUsers: getApprovalNodeUsers,
                approvalRule,
            }
        },
        components: {},
        methods: {
            selectPerson () {
                let type = this.approvalRule.approvalType === '0' ? "push" : "";
                const self = this;

                let people = SelectPerson({
                    multi: true,
                    success: function (res) {
                        for (let i = 0; i < res.length; i++) {
                            self.setApprovalNodeUsers(res[i], type)
                        }
                    },
                    fail: function (res) {
                        console.log(res)
                        self.$showTips(JSON.stringify(res))
                    }
                })
            },
        }
    }
</script>
