<template>
    <div class="no-flow">
        <img src="./no-data.png" alt="">
        <p class="tips"><slot></slot></p>
    </div>
</template>


<style lang="less">
    .no-flow {
        color: #aaa;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        img {
            width: 2.8rem;
            height: 2.8rem;
            display: block;
            margin: 0 auto;
        }
        
        .tips {
            margin-top: .4rem;
            text-align: center;
            font-size: 0.3rem;
        }
    }
</style>