<template>
    <photo-preview 
    :photos="photos"
    :index="pageIndex"    
    ></photo-preview>
</template>


<script>
import PhotoPreview from './PhotoPreview'

import { approvalDetailPhoto } from '../../vuex/getters'

export default {
    vuex: {
        getters: {
            photos: approvalDetailPhoto 
        }
    },
    created () {
        this.pageIndex = +this.$route.params.index
    },
    components: {
        PhotoPreview
    }
}
</script>