<template>
    <div class="swiper-container" @click="hidePreview">
		    <div class="swiper-wrapper">
		        <div class="swiper-slide" v-for="(index, item) in photos">
		        	<img :src="photoPreviewUrl + item" alt="">
		        </div>
		    </div>
		    <div class="curPage">{{curPage}}/{{totalPage}}</div>
		</div>
</template>

<script>
    import config from '../../config'
import Swiper from '../../lib/swiper'
    
export default {
    mySwiper: null,
    props: {
        photos: {
            type: Array,
            default: function(){
                return []
            }
        },
        index: {
            type: Number,
            default: 0
        }
    },
    data: function(){
        return {
            curPage: 0,
            photoPreviewUrl: config.photoPreviewUrl
        }
    },
    computed: {
        totalPage: function(){
            return this.photos ? this.photos.length : 0
        }
    },
    methods: {
        initPreview: function(){
            var self = this
            if(this.$options.mySwiper) {
                return
            }
            this.$options.mySwiper = new Swiper(this.$el, {
                initialSlide: this.index,
                speed: 400,
                spaceBetween: 100,
                onSlideChangeEnd: function (swiper) {
                    self.curPage = +swiper.activeIndex + 1;
                },
                onInit: function(swiper){
                    self.curPage = +swiper.activeIndex + 1;
                }
            })
            console.log("初始化预览");
        },
        hidePreview: function(){
            this.$options.mySwiper?this.$options.mySwiper.destroy(true):void(0)
            //this.$router.go({name: 'approvalDetail'})
            history.go(-1);
        }
    },
    watch: {
        'photos': function(){
            this.photos.length !== 0?this.initPreview():null
        }
    },
    ready () {
        if(this.photos && this.photos.length !== 0) {
            this.initPreview()
        }
    }
}
</script>

<style lang="less">
.swiper-container {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed!important;
    top: 0;
    left: 0;
    z-index: 100!important;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    flex-shrink: 0;
}

.swiper-wrapper {
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transform: translate3d(0,0,0);
    box-sizing: content-box;
    transform-style: preserve-3d;
}
.swiper-slide img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.curPage {
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    color: #FFF;
    font-size: .28rem;
    position: fixed;
    bottom: .2rem;
    left: 0;
    z-index: 120
}
</style>