@charset "UTF-8";
html, :root{
	width: 100%;
	height: 100%;
	font-size: 10px;
}
body,div,ul,li,p,dl,dt,span,a,h1,h2,h3,h4,h5,h6,img,input,button,textarea,label{
	padding: 0;
	margin: 0;
	font: normal 100% "微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	appearance: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
}
button{
	background: none;
	border: none;
}
img{
	border: none;
}

body{
	word-wrap: break-word;
	word-break: normal; 
	font: normal 100% "微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	font-size: .28rem;
	color: #444;
	background: #E9ECF1;
}
ul{
	list-style-type: none;
}
input,textarea{
	appearance:none;
	-webkit-appearance:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	border: none;
	border-radius:0;
	-webkit-border-radius:0;
}
[class*="btn-"]:active{
	opacity: .7;
}
.clearfix{
	zoom: 1;
}
.clearfix::after{
	content: '';
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}
.ellipsis{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}

/*------------------ 按钮组start -----------------*/
.group-btn,.group-btn2{
	width: 100%;
	border-top: 1px solid #e9ecf1;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #fff;
	text-align: center;
	z-index: 2;
    font-size: .32rem;
 /*    border-bottom-left-radius: 6px;
 border-bottom-right-radius: 6px; */
}
.group-btn2{
	position: absolute;
}

.group-btn button, .group-btn a{
	float: left;
	position: relative;
	width: 50%;
    height: .88rem;
    line-height: .88rem;
    display: block;
    cursor: pointer;
    color: #01d386;
}

.group-btn .btn-no{
  	color: #9a9a9a;
}

.group-btn .btn-yes:before{
	content: '';
	display: block;
	height: .28rem;
	border-left: 1px solid #dce1e8;
	position: absolute;
	vertical-align: middle;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.group-btn .btn-full-w{
	width: 100%;
}

/*tab高88px*/
.nav-button-h{
    height: .8rem !important;
    line-height: .8rem !important;
    font-size: .3rem;
}

/*------------------ 按钮组end -----------------*/
.blue{
    color: #3cbaff;
}
.green{
	color: #01d386;
}

#userinfo-ps{
	position: fixed;
	margin: auto;
	top: 45%;
	left: 25%;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	width: 45%;
	text-align: center;
	color: #fff;
	line-height: 24px;
	display: none;
	z-index: 1000;
	padding: 3%;
}

/* 朦层 */
.overlayer{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(4, 20, 42, .3);
	z-index: 10;
	display: none;
}
.mont-layer{
	display: none;
	position: fixed;
	background: rgba(4, 20, 42, 0.3);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
}
.screen{
	position: absolute;
	top: 0;
	left: 0;
	text-align:center;
	padding:2.5%;
}
.screen img{
	width:100%;
}
.close-tip{
	font-size: 1.1em;
	color: #404040;
	padding: 0.5em 1em;
	opacity: 1;
	background: #fff;
	border: 0px;
	border-radius: 4px;
	margin-top: 2em;
	-webkit-appearance: none;
}
.arrow{
    width: 0;
    height: 0;
    border-left: 6.5rem solid transparent;
    border-top: 3.2rem solid #ccc;
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.grey {
  	color: #aaa;
}

.none{
	display: none;
}

.loading{
	width: 100px;
	height: 100px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	z-index: 2000;
	display: none;
}

.vertical-middle{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.loading .circle-container{
	width: 30px;
	height: 30px;
}
.loading .container2{
	-webkit-transform: rotateZ(45deg);
			transform: rotateZ(45deg);
}
.loading .circle-container div{
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background: #2FA1E8;
	position: absolute;
	-webkit-animation: loading 1s linear infinite;
			animation: loading 1s ease-in-out infinite;
}

.loading .circle1{top: 0; left: 0;}
.loading .circle2{top: 0; right: 0; }
.loading .circle3{bottom: 0; right: 0;}
.loading .circle4{bottom: 0; left: 0; }


.loading .container1 .circle1{
	-webkit-animation-delay: -1s;
			animation-delay: -.9s;
}
.loading .container2 .circle1{
	-webkit-animation-delay: -.875s;
			animation-delay: -.8s;
}
.loading .container1 .circle2{
	-webkit-animation-delay: -.75s;
			animation-delay: -.7s;
}
.loading .container2 .circle2{
	-webkit-animation-delay: -.625s;
			animation-delay: -.6s;
}
.loading .container1 .circle3{
	-webkit-animation-delay: -.5s;
			animation-delay: -.5s;
}
.loading .container2 .circle3{
	-webkit-animation-delay: -.375s;
			animation-delay: -.4s;
}
.loading .container1 .circle4{
	-webkit-animation-delay: -.25s;
			animation-delay: -.3s;
}
.loading .container2 .circle4{
	-webkit-animation-delay: -.125s;
			animation-delay: -.2s;
}

@-webkit-keyframes loading{
	0%, 100%{
		-webkit-transform: scale(1.0);
	}
	80%{
		-webkit-transform: scale(0.0);
	}
}

@keyframes loading{
	0%, 100%{
		-webkit-transform: scale(1.0);
				transform: scale(1.0);
	}
	80%{
		-webkit-transform: scale(0.0);
				transform: scale(0.0);
	}
}


@-webkit-keyframes textareaError{
	0%, 100%{
		background: #fff;
	}
	50%{
		background: #FDEDED;
	}
}

@keyframes textareaError{
	0%, 100%{
		background: #fff;
	}
	50%{
		background: #FDEDED;
	}
}

textarea.error{
	-webkit-animation: textareaError 600ms 2;
			animation: textareaError 600ms 2;
}
.error{
	-webkit-animation: textareaError 600ms 2;
			animation: textareaError 600ms 2;
}

.leftin{
	-webkit-transform: translateX(-110%);
			transform: translateX(-110%);
	-webkit-animation: leftIn 500ms ease-out forwards;
			animation: leftIn 500ms ease-out forwards;
}

@keyframes leftIn{
	from{
		-webkit-transform: translateX(-110%);
				transform: translateX(-110%);
	}
	to{
		-webkit-transform: translateX(0%);
				transform: translateX(0%);
	}
}

@-webkit-keyframes leftIn{
	from{
		-webkit-transform: translateX(-110%);
	}
	to{
		-webkit-transform: translateX(0%);
	}
}

.rightout{
    -webkit-animation: rightOut 500ms ease-in forwards;
            animation: rightOut 500ms ease-in forwards;
}

@-webkit-keyframes rightOut{
    0%{
        -webkit-transform: translateX(0%);
    }
    /*15% {
        -webkit-transform: translateX(-10%);
    }
    45% {
        -webkit-transform: translateX(10%);
    }
    60%, 70% {
        -webkit-transform: translateX(0%);
    }*/
    100%{
        -webkit-transform: translateX(100%);
    }
}

@keyframes rightOut{
    0%{
        transform: translateX(0%);
    }
    /*15% {
        transform: translateX(-10%);
    }
    45% {
        transform: translateX(10%);
    }
    60%, 70% {
        transform: translateX(0%);
    }*/
    100%{
        transform: translateX(100%);
    }
}

.nothing {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2.5rem;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.nothing-icon {
    display: inline-block;
    background-image: url(/freeflow/images/nothing-icon.png);
    background-size: 14rem;
    width: 14rem;
    height: 14rem;
}
.nothing-tips {
    padding-top: 1rem;
    color: #aaa;
}

/*1px邊框*/
html[data-dpr="2"] .border {
	position: relative;
	border: none;
}

/* 通过设置伪元素放大到2倍的宽高，设置1px边框，再缩小1倍，以达到0.5px边框的效果*/
html[data-dpr="2"] .border:before {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transform-origin: left top;
	transform-origin: left top;
	-webkit-transform: scale(1,.5);
	transform: scale(1,.5);
}

html[data-dpr="2"] .border-b:before {
	border-width: 0;
	height: 1px;
	background: #dce1e8;
	top: initial;
	bottom: 0;
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
}

html[data-dpr="2"] .border-t:before {
	border-width: 0;
	height: 1px;
	background: #dce1e8;
	top: 0;
}
/*公共动画弹窗  */
textarea.error, input.error{
	-webkit-animation: textareaError 600ms 2;
			animation: textareaError 600ms 2;
}
@-webkit-keyframes textareaError{
	0%, 100%{
		background: #fff;
	}
	50%{
		background: #FDEDED;
	}
}

@keyframes textareaError{
	0%, 100%{
		background: #fff;
	}
	50%{
		background: #FDEDED;
	}
}
.success-tips {
	display: none;
    width: 70%;
    padding: .2rem;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
	margin-top:-12%;
    margin-left: -35%;
	box-shadow: 0 0 6px #8A8888;
    z-index: 999;
    border-radius: 6px;
    text-align: center;
	color: #9a9a9a;
}
.success-tips .title {
    margin-bottom: .1rem;
    color: #444;
}
.tips-msg {
    position: fixed;
    margin: auto;
    top: 45%;
    left: 23%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    width: 44%;
    text-align: center;
    color: #fff;
    line-height: 24px;
    display: none;
    z-index: 1000;
    padding: 15px;
}
/*弹出框*/
.model-box,.model-box2{
	display: none;
	position: fixed;
	width: 77.6%;
	/* min-height: 2.6rem; */
	top: 50%;
	margin-top: -1.8rem;
	margin-left: 11.2%;
	z-index: 999;
    border-radius: 6px;
    color: #3f3f3f;
    background: #fff;
}
.model-box-list{
	min-height: 2.6rem;
}
/* .model-box p.share-text{
	margin-bottom: .88rem;
} */
.translate-center{
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.model-box2{
	padding-top: .2rem;
}
.model-box .group-btn, .model-box2 .group-btn{
	position: absolute;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;	
}
.zoom{
	-webkit-animation: zoom 300ms ease-out forwards 400ms;
			animation: zoom 300ms ease-out forwards 400ms;
}

@-webkit-Keyframes zoom{
	0%{
		-webkit-transform: scale(0);
	}
	50%{
		-webkit-transform: scale(1.1);
	}
	90%, 100%{
		-webkit-transform: scale(1);
	}
}

@Keyframes zoom{
	0%{
		transform: scale(0);
	}
	50%{
		transform: scale(1.1);
	}
	90%, 100%{
		transform: scale(1);
	}
}
/*上传图片*/
.upload-img{
    position: absolute !important;
    bottom: 0;
    height: 1.6rem;
    width: 100%;
    display: table;
    box-sizing: border-box;
    border-top: 1px solid #dce1e8 !important;
}
.upload-btn {
    display: table-cell;
    vertical-align: middle;
    padding-left: .24rem;
}
.upload-addbtn {
   
    line-height: 1rem;
    border: 1px dashed #CCC;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    border-radius: .14rem;
}
.smallyulan, .upload-addbtn {
    float: left;
    margin-right: .2rem;
    cursor: pointer;
}
.hengxian, .shuxian {
    position: absolute;
    top: 50%;
}
.hengxian {
    display: block;
    font-weight: 400;
    width: .6rem;
    height: .02rem;
    border-top: .02rem solid #abb1b3;
    left: 50%;
    margin-left: -0.3rem;
}
.shuxian {
    font-style: normal;
    width: .02rem;
    height: .6rem;
    border-left: .02rem solid #abb1b3;
    left: 50%;
    margin-top: -0.3rem;
}
#file {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#file, .upload-addbtn {
    width: 1.1rem;
    height: 1.1rem;
}
.gobtn{
    display:none;
}
.swiper-container {
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}
.swiper-slide{
    width:100%;
}
.swiper-slide img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.curPage {
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    color: #FFF;
    font-size: .28rem;
    position: fixed;
    bottom: .2rem;
    left: 0;
    z-index: 120;
}
.upload-tishi {
    display: none;
    width: 60%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .28rem;
    background: #FFF;
    border-radius: .2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30%;
    margin-top: -1rem;
    z-index: 999;
}
.smallyulan {
    width: 1.1rem;
    position: relative;
    float: left;
    cursor: pointer;
    border-radius: .14rem;
}
.del, .progress {
    position: absolute;
    color: #FFF;
}
.del {
    position: absolute;
    top: .03rem;
    right: .03rem;
    width: .36rem;
    height: .36rem;
    box-sizing: border-box;
    border-radius: 50%;
    line-height: .36rem;
    font-size: .24rem;
    color: #FFF;
    text-align: center;
    background: rgba(4, 20, 42, .7);
}
.progress {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    cursor: pointer;
    font-size: .24rem;
    opacity: .6;
    z-index: 50;
}
.smallimg,.smallimg img {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: .14rem;
}
.img-mask {
    width: 1.1rem;
    height: 1.1rem;
    background: black;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: .14rem;
    z-index: 40;
}
.model-box2 p{
	min-height: 0.66rem;
	line-height: 0.66rem;
	text-align: left;
	padding: 0 .24rem;
	font-size: .32rem;
}
