<template>
<div class="mt-datetime-picker">
    <datetime-picker
        :visible.sync="show"
        :value.sync="value"
        @confirm="onConfirm">
    </datetime-picker>
</div>
</template>

<script>
import DatetimePicker from 'mint-ui/lib/datetime-picker' 
import 'mint-ui/lib/datetime-picker/style.css' 
import format from './format'
    
export default {
    data: function(){
        return {
            value: new Date(),
            show: true
        }
    },
    watch: {
        'show': function(){
            if(this.show === false){
               this.$dispatch('cancel') 
            }
        }
    },
    methods: {
        onConfirm () {
            this.$dispatch('confirm', format(this.value, 'YYYY-MM-DD HH:mm'))
        }
    },
    ready() {
    },
    components: {
        DatetimePicker
    }
}
</script>

<style lang="less">
    
</style>