<template>
<section class="list-area" v-scroll-bottom>
    <flow-item
            v-for="(index, item) in myApplications"
            :title="'我的【'+item.title+'】'"
            :applytitle="item.applyTitle"
            :date="item.createTime"
            :status="getStatusText(item.status,item.nextApprover)"
            :pass="item.status === '2'"
            :reject="item.status === '3'"
            v-link="{ name: 'approvalDetail', params: { id: item.id }}"
    ></flow-item>
    <no-data v-show="myApplications.length ===0">没有审批记录哦~</no-data>
</section>
</template>

<script>
import { FlowItem, NoData } from '../../components'
import { myApplications, myAccountInfo } from '../../vuex/getters'
import { loadMyApplication } from '../../vuex/actions'


export default {
    vuex: {
        actions: {
            loadMyApplication
        },
        getters: {
            myApplications: myApplications,
            myAccountInfo:myAccountInfo
        }
    },
    data: function () {
        return {
            toBottom: false,
            currentApplyIndex: 2,
            noData: false,
            loadAll: false
        }
    },
    events: {
        scrollBottom: function () {
            var self = this
            if ( this.toBottom || this.loadAll ) {
                return
            }
            this.toBottom = true;
            this.loadMyApplication({
                type: "more",
                start: self.currentApplyIndex + 1
            })
            .then(function ( data ) {
                self.toBottom = false
                if ( data['approvalApplys'].length === 0 ) {
                    return self.loadAll = true
                }
                self.currentApplyIndex ++
            })
            .catch(function ( err ) {
                console.log(err)
            })
        }
    },
    created () {
        //首次加载我的申请数据
            this.loadMyApplication({
                type: "init"
            })
    },
    methods: {
        getStatusText (status, nextApprover) {
            //我的申请状态
            let name = (nextApprover && nextApprover["name"]) || ""
            const list = {
                '0': '已关闭',
                '1': '待' + name + '审批',
                '2': '已同意',
                '3': '不通过',
                '4': '已挂起'
            }
            return list[status]
        }
    },
    components: {
        FlowItem,
        NoData
    }
}
</script>


