<template>
<section class="list-area" v-scroll-bottom>
    <flow-item
            v-for="(index, item) in approvals"
            :title="item.formCreator.name +'的【' + item.formTitle + '】'"
            :applytitle="item.applyTitle"
            :date="item.approvalTime || item.createTime"
            :status="getStatusText(item.status)"
            :pass="item.status === '4'"
            :reject="item.status === '3'"
            v-link="{ name: 'approvalDetail', params: { id: item.formId }}"
    ></flow-item>
    <no-data v-show="approvals.length===0">没有审批记录哦~</no-data>
</section>
</template>


<script>
import { FlowItem, NoData } from '../../components'
import { myApprovals, myAccountInfo } from '../../vuex/getters'
import { loadMyApproval } from '../../vuex/actions'

export default {
    vuex: {
        getters: {
            approvals: myApprovals,
            myAccountInfo:myAccountInfo
        },
        actions: {
            loadMyApproval: loadMyApproval
        }
    },
    data: function () {
        return {
            toBottom: false,
            currentApprovalIndex: 2,
            loadAll: false
        }
    },
    events: {
        scrollBottom: function () {
            var self = this
            if ( this.toBottom || this.loadAll ) {
                return
            }
            this.toBottom = true;
            this.loadMyApproval({
                type: "more",
                start: self.currentApprovalIndex + 1
            })
            .then(function ( data ) {
                self.toBottom = false
                if ( data['ApprovalApplyRecords'].length === 0 ) {
                    return self.loadAll = true
                }
                self.currentApprovalIndex ++
            })
            .catch(function ( err ) {
                console.log(err)
            })
        }
    },
    created () {
        //首次加载我的审批数据
        this.loadMyApproval({
            type: "init"
        })
    },
    methods: {
        getStatusText (status) {
            //我的审批状态
            const list = {
               '-1': '待审批',
                '0': '已关闭',
                '1': '已创建',
                '2': '已同意',
                '3': '不同意',
                '4': '已通过',
                '5': '已挂起'
            }
            return list[status]
        }
    },
    components: {
        FlowItem,
        NoData
    }
}
</script>


<style>
    .list-area {
        background: #e9ecf1;
        padding: 1.1rem 0.24rem 1.8rem 0.24rem;
    }
</style>
