@baseColor: #44bbfc;
@redcolor: #f35959;
.fr {
    float: right;
}

.text-center {
    text-align: center;
}

.q-form-row {
    .q-form-input {
        width: 100%;
        height: 36px;
        border: 1px solid #dce1e7;
        font-size: 14px;
        padding-left: 8px;
    }
}

.q-hint-item {
    display: none;
    color: @redcolor;
}

.q-btn {
    padding: 5px 40px;
    border-radius: 4px;
    cursor: pointer;
    &.btn-primary {
        background-color: @baseColor;
        color: #fff;
        &:hover {
            background-color: overlay(@baseColor, #666666);
            text-decoration: inherit;
        }
    }
    &.btn-default {
        background-color: #e5e5e5;
        color: #fff;
        &:hover {
            background-color: overlay(#e5e5e5, #666666);
            text-decoration: inherit;
        }
    }
}

.q-bg {
    display: none;
    z-index: 123000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.q-dialog,
.q-alert {
    display: none;
    position: fixed;
    z-index: 123333;
    width: 364px;
    min-height: 220px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -110px;
    margin-left: -182px;
    border-radius: 4px;
    overflow: hidden;
    //padding:0 20px 20px;
}

.q-dialog-heard,
.q-alert-heard {
    height: 50px;
    line-height: 50px;
    background-color: @baseColor;
    padding-left: 20px;
    color: #fff;
}

.q-dialog-body,
.q-alret-body {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 50px;
    padding: 20px;
}

.q-dialog-closebtn,
.q-alert-closebtn {
    float: right;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../assets/btn-close.png") no-repeat center center;
    cursor: pointer;
}

.q-dialog-title,
.q-alert-title {
    font-size: 20px;
    font-weight: normal;
}

.q-dialog-text,
.q-alert-text {
    margin: 10px 0;
}

.q-dialog-button-group {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 20px 20px 0;
}

//------------------------------------------
//q-alert(提示窗)
.q-alert {
    .q-alert-heard {
        background-color: transparent;
    }
    .q-alert-body {
        padding: 0 20px;
    }
    .q-alert-closebtn {
        background: url("../assets/btn-alert-close.png") no-repeat center center;
    }
}

.q-alert-button-group {
    margin-top: 40px;
    .q-btn {
        margin: 0 5px;
    }
}
