<template>
    <div class="fd-bd-header">
        <div class="fd-header-l fl">
            <a href="javascript:;" class="back-manager icons" @click="back"></a>
            <span class="line icons"></span>
            <app-step step="1" word="审批设计器"></app-step>
            <span class="fd-design-step-arrow icons"></span>
            <app-step step="2" word="审批规则匹配"></app-step>
        </div>
        <div class="fr">
            <button class="fd-btn fd-btn-default" v-show="approvalStep==0" @click="next">下一步
            </button>
            <button class="fd-btn fd-btn-default" v-show="approvalStep==1" @click="last">上一步
            </button>
            <button class="fd-btn fd-btn-primary" v-show="approvalStep==1" @click="submit">保存并启用
            </button>
        </div>
    </div>
</template>

<script>
    import vue from 'vue'
    import AppStep from '../Approval/AppStep'
    import {
        templateId,
        personRuleType,
        personSelectList,
        conditionSelect,
        conditionList,
        conditionNumberData,
        conditionPersonData,
        conditionComplete,
        approvalStep,
        designSubmit
    } from '../../vuex/getter'
    import {
        setApprovalStep,
        submitApprovalRule
    } from '../../vuex/action'

    export default {
        vuex: {
            getters: {
                templateId,
                personRuleType,
                personSelectList,
                conditionSelect,
                conditionList,
                conditionNumberData,
                conditionPersonData,
                conditionComplete,
                approvalStep,
                designSubmit
            }
            ,
            actions: {
                submitApprovalRule,
                setApprovalStep
            }
        },
        data: function () {
            return {
                isClicked: false,
                search: window.location.search
            }
        },
        route: {
            canDeactivate: function (transition) {
                console.log(transition)
            }
        },
        methods: {
            back: function () {
                window.location.href = "/freeflow/web/approval-manage.json" + this.search
            },
            last: function () {
                var self = this
                if (this.$route.name === 'approvalrule') {
                    if (!this.isClicked) {
                        this.isClicked = true
                        var data = {
                            templateId: this.templateId,
                            personRuleType: this.personRuleType,
                            personSelectList: this.personSelectList,
                            conditionSelect: this.conditionSelect,
                            conditionList: this.conditionList,
                            conditionNumberData: this.conditionNumberData,
                            conditionPersonData: this.conditionPersonData,
                            conditionComplete: this.conditionComplete,
                            isLast: true
                        }
                        this.submitApprovalRule(data).then(function (rsp) {
                            self.isClicked = false
                            if (rsp.success || rsp.body.meta && rsp.body.meta.success) {
                                self.$route.router.go('formdesign')
                            }else if(rsp.body.meta && rsp.body.meta.msg){
                                self.$alert({
                                    title: '警告',
                                    content:  rsp.body.meta.msg
                                })
                            }
                        }, function () {
                            self.isClicked = false
                            if (!rsp || !rsp.body) {
                                return
                            }
                            self.$alert({
                                title: '警告',
                                content: rsp.body.msg || rsp.body.meta.msg
                            })
                        })
                    }
                }

            },
            next: function () {
                var self = this
                if (this.$route.name === 'formdesign') {
                    this.designSubmit().then(function () {
                        self.$route.router.go('approvalrule')
                    })
                }
            },
            submit: function () {
                var self = this
                if (!this.isClicked) {
                    self.isClicked = true
                    var data = {
                        templateId: this.templateId,
                        personRuleType: this.personRuleType,
                        personSelectList: this.personSelectList,
                        conditionSelect: this.conditionSelect,
                        conditionList: this.conditionList,
                        conditionNumberData: this.conditionNumberData,
                        conditionPersonData: this.conditionPersonData,
                        conditionComplete: this.conditionComplete
                    }
                    this.submitApprovalRule(data).then(function (rsp) {
                        self.isClicked = false
                        if (rsp.body&&rsp.body.meta && rsp.body.meta.success) {
                            window.location.href = '/freeflow/web/approval-manage.json' + self.search
                        }else if(rsp.body.meta && rsp.body.meta.msg){
                        self.$alert({
                            title: '警告',
                            content:  rsp.body.meta.msg
                        })
                    }
                    },function (rsp) {
                        self.isClicked = false
                        if (!rsp) {
                            return
                        }
                        self.$alert({title: '警告', content: rsp.msg || rsp.body.meta.msg})
                    })
                }
            }
        },
        components: {
            AppStep
        }
    }
</script>
<style lang="less">
    .fd-design-active {
        color: #f7f7f7 !important;
    }

    .fd-bd-header {
        padding: 20px 0 0 0;
        position: static;
        overflow: hidden;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
    }

    .fd-header-l .back-manager {
        width: 20px;
        height: 38px;
        background-position: 0px -146px;
    }

    .fd-header-l > * {
        display: inline-block;
        vertical-align: middle;
    }

    .fd-bd-header a, .fd-bd-header label {
        color: #fff;
    }

    .fd-header-l .line {
        display: inline-block;
        height: 54px;
        border-left: 1px solid #9a9a9a;
        margin: 0 30px;
    }

    .fd-design-step-arrow {
        width: 20px;
        height: 38px;
        background-position: -23px -146px;
        margin: 0 5px 0 13px;
    }

    /*-------- 按钮样式start --------*/
    .fd-btn {
        display: inline-block;
        outline: none;
        min-width: 102px;
        height: 30px;
        line-height: 28px;
        border: 1px solid transparent;
        background-color: transparent;
        border-radius: 2px;
        padding: 0 10px;
        color: #fff;
    }

    .fd-btn + .fd-btn {
        margin-left: 10px;
    }

    .fd-btn-default {
        border-color: #DCE1E8;
        background-color: #fff;
        color: #6f6f6f;
    }

    .fd-btn-default:hover {
        background-color: #eee;
    }

    .fd-btn-primary {
        background-color: #44bbfc;
    }

    .fd-btn-primary:hover {
        background-color: #36AEEE;
    }

    .fd-btn-black {
        border-color: #fff;
    }

    .fd-btn-black:hover {
        background-color: #626D7B;
    }

    /*-------- 按钮样式end --------*/
</style>
