<template>
  <dl class="flow-item">
        <dt class="title">
          {{title}}
            <!--先屏蔽掉啦-->
            <!--{{applytitle}}-->
        </dt>
        <dd class="time">{{date | dateformat 'MM月dd日 hh:mm:ss'}}</dd>
        <dd class="content has-border-t">
        <span >{{status}}</span>
        </dd>
        <dd>
            <i class="pass" v-show="pass"></i>
            <i class="reject" v-show="reject"></i>
        </dd>
  </dl>
</template>

<script>
import dateformat from '../../filters/dateFormat'

export default {
    props: {
      title: {
        type: String,
        require: true
      },
        applytitle: {
        type: String,
        require: true
      },
      date: {
        type: Number,
        require: true
      },
      status: {
        type: String,
        require: true
      },
      pass: {
        type: Boolean,
        default: false
      },
      reject: {
        type: Boolean,
        default: false
      }

    },
    computed: {
//       statusText () {
//           if(this.type === 'myApproval'){
//                return  statusList1[this.status]
//           }
//           if(this.type === 'myApplication'){
//                return  statusList2[this.status]
//           }
//       }
    }
}
</script>

<style lang="less">
   .flow-item {
      cursor: pointer;
      border-radius: 0.1rem;
      background:#fff;
      padding: 0.24rem;
      position: relative;
      margin-bottom: 0.18rem;

      .pass {
        position: absolute;
        background: url('../../assets/passIcon@2x.png') no-repeat right bottom;
        width: 1rem;
        height: 1rem;
        bottom: 0.24rem;
        right: 0.24rem;
        background-size: contain;
      }
      .reject {
        position: absolute;
        background: url('../../assets/rejectIcon@2x.png') no-repeat right bottom;
        width: 1rem;
        height: 1rem;
        bottom: 0.24rem;
        right: 0.24rem;
        background-size: contain;
      }

      .title {
        color: #343434;
        font-size: 0.28rem;
      }

      .time {
        margin-top: 0.15rem;
        color: #9a9a9a;
        font-size: 0.24rem;
      }

      .content {
        margin-top: 0.24rem;
        padding-top:0.18rem;
        color: #9a9a9a;
        font-size: 0.24rem;
        position: relative;

      }

    }
</style>


