<template>
    <div class="footer-button">
        <slot name="reject"></slot>
        <slot name="accept"></slot>
    </div>
</template>

<style lang="less">
    .footer-button {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        height: 0.9rem;
        background: #fff;
        border-top: 1px solid #dce1e8;
        
        button {
            vertical-align: middle;
            appearence: none;
            background: #fff;
            flex:1;
            font-size: 0.3rem;
            -webkit-tap-highlight-color: rgba(255,255,255,0);            
            
            &:last-child {
                border: none;
            }
        }
        .reject {
            position: relative;
            color: #9a9a9a;
            
            &:before {
                content: '';
                display: block;
                height: .28rem;
                border-left: 1px solid #dce1e8;
                position: absolute;
                vertical-align: middle;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                
            }
        }
        
        .accept {
            color: #31d2ea;
        }
    }
</style>