@media( min-width: 768px){
	#menu{
		z-index: 33;
		position: fixed;
		left:0;
		top:50px;
		width:250px;
		height:100%;
		background:#303641;
	}
	#page-name{
		position: fixed;
		top: 0;
		left: 0;
		width:250px;
		height: 50px;
		color: #fff;
		font: 600 40px/50px 微软雅黑;
		font-family: 微软雅黑;
		/*font-weight: 600;*/
		text-align: center;
		/*font-size: 40px;
		line-height: 50px;*/
		background: #1f232a;
	}
	#main,#details-main{
		padding: 0 15px;
	}
	#wrap{
		margin:0 0 0 250px;
		padding: 0 40px;
		position:relative;
	}
}
@media( min-width: 1050px){
	#main,#details-main{
		width: 800px;
		margin:0 auto;
		background-color: #fff;
	}

		
}
#wrap,#details-cover{
	padding: 0 40px;
}
#details-main{
	position: relative;
	height:100%;
	overflow-y:scroll;
	padding-top: 50px;
 	padding-bottom: 50px;
 	background: #fff;
}
#details-cover{
	z-index:4;
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.3);
	z-index: 99;
	padding: 30px 0;
}

#page-wrap{
	display: none;
}
/*#page li{
	display: none;
}*/
/*#page li.pre,#page li.next{
	display: inline;
}*/

.btn.btn-success{
	border-radius: 0;
}

label.error{
	margin-top:5px;
	color:red;
}
#register-form,#module-form,#details-form,.detail-create-module-form{
	margin:10px 0;
	padding: 15px;
  border: 1px solid #efefef;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.14);
}
#module-form,.detail-create-module-form{
	display: none;

}
#create-module-form{
	display: block;
}
#details-form,.detail-create-module-form{
	margin-top:0;
	border-top:0;	
}

.detail-module-form{
	display: none;
}

#module-tabs{
	margin-top:20px;
	margin-right:-2px;
}
#module-tabs li{
	float:right !important;
}

#main-tabs{
	margin-right:-2px;
}

#module-wrap{
	display: none;
}

#module-open{
	display: inline-block;
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	color: #000;
}
#module-open span{
	display: inline-block;
	line-height: 30px;
	height: 30px;
}

#register-btn,#module-btn{
	display: none;
}



#main{
	margin-top:30px;
}

#details-cover{
	display: none;
}

.close{
	position: absolute;
	right: 10px;
	top: 10px;
	width:30px;
	height:30px;
	border-radius: 30px;
	background-color: #000;
}
.close em{
	position: absolute;
	left:5px;
	top:14px;
	width:20px;
	height:2px;
	background-color: #fff;
	-webkit-transform-origin:50% 50%;
}
.close em:nth-child(1){
	-webkit-transform:rotate(45deg);
}
.close em:nth-child(2){
	-webkit-transform:rotate(-45deg);
}


.tip{
	display: none;
	position: fixed;
	top:50%;
	left:0;
	width: 100%;
	color: red;
	font-size: 16px;
	text-align: center;

}


/*list 页*/
#list tr:hover{
	cursor:pointer;
}
#list tr:first-child:hover{
	cursor:default;
}

#main-head{
	padding:10px;
}
#main-head h3{
	margin: 0;
	line-height: 34px;
}

.module-detail-wrap{
	position: relative;
	margin-top: 30px;
	padding:15px;
	border: 1px solid #efefef;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.14);
}
.module-detail-wrap:hover .module-update{
	display: block;
}
.module-detail-wrap dt{
	text-align: right;
}
.module-detail-wrap dt,.module-detail-wrap dd{
	margin-top:15px;
	height:20px;
}
.module-update{
	display: none;
	position: absolute;
	right: 15px;
	top: 20px;
}

@keyframes hideAni
{
from {display: block;}
to {transform: rotateX(360deg);
-webkit-transform: rotateX(360deg);	/* Safari 和 Chrome */
-moz-transform: rotateX(360deg);}
}

@-moz-keyframes hideAni /* Firefox */
{
	from {display: block;}
	to {

		transform: rotateX(360deg);
		-webkit-transform: rotateX(360deg);	/* Safari 和 Chrome */
		-moz-transform: rotateX(360deg);}
}

@-webkit-keyframes hideAni /* Safari 和 Chrome */
{
	from {display: block;}
	to {
		transform: rotateX(360deg);
		-webkit-transform: rotateX(360deg);	/* Safari 和 Chrome */
		-moz-transform: rotateX(360deg);}
}

@-o-keyframes hideAni /* Opera */
{
	from {display: block;}
	to {
		transform: rotateX(360deg);
		-webkit-transform: rotateX(360deg);	/* Safari 和 Chrome */
		-moz-transform: rotateX(360deg);}
}

.hide-animation
{
	animation: hideAni 1s forwards;
	-moz-animation: hideAni 1s forwards;	/* Firefox */
	-webkit-animation: hideAni 1s forwards;	/* Safari 和 Chrome */
	-o-animation: hideAni 1s forwards;	/* Opera */
}

.module-detail-wrap{
	display: none;
}

#search-form{
	padding: 0 10px 20px;
}
#search-form div{
	margin-right: 10px;
}

#module-msg{
	padding: 15px;
	margin-top: 10px;
	line-height: 30px;
}