html,body,a,div,p,h3{
	margin:0;
	padding:0;
}
body{
	font:normal 12px/16px 宋体;
    background-color: #ffc954;
	padding:0 30px;
}
a{
	text-decoration: none;
}
.erweima-wrap{
	width: 75%;
	margin: 75px auto;
}
.erweima-msg{
	font-size: 14px !important;
	line-height: 24px;
}
.erweima{
    margin-top: 90px;
}
.erweima img{
	width: 100%;
}