body{
	font-size: 18px;
	color: #3f3f3f;
}
input, textarea{
	color: #3f3f3f;
}
input:focus{
	background: transparent;
}
.process-request-wrap{
	display: none;
}
.pr-wrapper{
	display: none;
	padding-bottom: 1.1rem;
}
.pr-request-submit{
	position: fixed;
	display: none;
}
.pr-request-submit button{
	height: .9rem;
	line-height: .9rem;
	font-size: 20px;
}
.pr-choose{
	/*display: none;*/
	width: 100%;
	margin-top: .17rem;
	background: #fff;
}
.pr-choose .pr-item, .pr-handbook{
	height: .9rem;
	line-height: .9rem;
	text-indent: .22rem;
	border-bottom: 1px solid #e9ecf1;
}
.pr-handbook{
	color: #31d2ea;
}
.pr-handbook .pr-handbook-icon{
	padding: 0 .11rem;
	margin-right: .1rem;
	text-align: center;
	line-height: .9rem;
	border-radius: 100%;
	border: 1px solid #31d2ea;
}
.pr-component{
	position: relative;
	width: 100%;
    box-sizing: border-box;
    overflow: hidden;
	margin-top: .17rem;
	padding: .3rem .25rem;
    background: #fff;
}
.pr-component-item{
	position: relative;
	padding-left: 6em;
}
.pr-component-label{
	float: left;
    width: 5em;
    margin-right: -5rem;
    position: relative;
}
.pr-component-area{
	position: relative;
	width: 100%;
	box-sizing: border-box;
}
.pr-textareafield-area{
	min-height: 1.8rem;
}
.pr-textareafield-textarea{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}
.pr-wordcontrol{
	position: absolute;
	right: .24rem;
	bottom: .14rem;
	font-size: 14px;
}
.pr-component-picker{
	position: relative;
	padding-right: 0.35rem;
    text-align: right;
    height: 0.46rem;
}
.pr-component-picker input{
	padding: 0;
    text-align: right;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.pr-dataplaceholder{
	/*position: absolute;
	top: 0;
	right: 0;*/
}
.pr-component .caret{
	float: right;
    width: 10px;
    height: 10px;
    border-right: 1px solid #aaa;
    border-top: 1px solid #aaa;
    -webkit-transform: translateY(7px) rotate(45deg);
}
.pr-component-radioselect{
	position: relative;
    margin-right: .35rem;
    text-align: right;
}
.pr-component-radioselect input{
	/*display: none;*/
	text-align: right;
	color: #31d2ea;
}
.pr-component-radioarea{
	opacity: 0;
	border: none;
	outline: none;
	text-align: right;
	background: transparent;
	font-size: 18px;
}
.pr-startpicker{
	padding-bottom: .3rem;
}
.pr-endtime{
	margin-top: 0;
	border-top: 1px solid #e9ecf1;
}
.pr-upload-addbtn{
	position: relative;
	text-align: center;
	display: inline-block;
	height: 1.1rem;
	width: 1.1rem;
	margin-top: .3rem;
	border: 1px #e9ecf1 dashed;
	border-radius: 5px;
	line-height: 1.1rem;
	font-weight: lighter;
	color: #abb1b3;
}
.horizontal-line, .vertical-line{
	position: absolute;
	width: .5rem;
	left: .3rem;
	top: .55rem;
	border: 1px #abb1b3 solid;
}
.vertical-line{
	-webkit-transform: rotateZ(90deg);
	   -moz-transform: rotateZ(90deg);
	    -ms-transform: rotateZ(90deg);
	     -o-transform: rotateZ(90deg);
	        transform: rotateZ(90deg);
}
#file{
	position: absolute;
    height: 6rem;
    width: 6rem;
    top: 0;
    left: 0;
}
.pr-approver-list{
	margin-top: 0;
	border-top: 1px solid #e9ecf1;
	/*overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;*/
}


.request-title, .request-reason{
	width: 100%;
	height: 4rem;
	box-sizing: border-box;
	margin-top: 1rem;
	padding: 1rem;
}
.request-reason{
	min-height: 12rem; 
}
.request-select-manager .caret{
    display: block;
    width: .8rem;
    height: .8rem;
    border-right: 1px solid #aaa;
    border-top: 1px solid #aaa;
    -webkit-transform: translateY(.5rem) rotate(45deg);
}
.request-manager{
	margin-top: 1rem;
    padding: 1.5rem;
    background: #fff;
}
.request-manager-name{
	margin-right: 2rem;
}
.request-submit.sending button{
	color: #ddd;
}

/*审批列表*/
.list-nav{
	top: 0;
    bottom: inherit;
    overflow: hidden;
    box-shadow: 0 0 2px #ddd;
    display: none;
}
.list-nav button{
	color: #999;
}
.list-nav .selected{
	color: #3CBAFF;
	border-bottom: 2px solid #3CBAFF;
}
.process-list-wrap {
	padding-bottom: 5rem;
}
.list-wrap{
	margin-top: 0;
}
.list-wrap .myrequest-wrap, .list-wrap .myprocess-wrap{
	padding-bottom: 1rem;
}
.list-wrap .list-item{
	margin: 1rem 1rem 0;
	padding: 1.5rem 1.5rem 1rem;
	box-shadow: 0 0 2px #dce1e8;
	border-radius: 5px;
	background: #fff;
}
.list-wrap .list-content{
	padding: 0 0 .5rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: 700;
}
.list-wrap .request-time{
	padding: .3rem 0 1.5rem;
	border-bottom: 1px solid #dce1e8;
	color: #888;
}
.list-wrap .list-process-state{
	padding-top: .8rem;
	color: #888;
}
.list-wrap .list-process-state.disagree{
	color: #f35959;
}
.list-wrap .list-process-state.agree{
	color: #94D301;
}
.list-wrap .overprint{
	width: 5.2rem;
	height: 5.2rem;
	position: absolute;
	right: 1.5rem;
	margin: auto;
	top: 4.5rem;
	background: url(/freeflow/images/icon.png) no-repeat;
	background-size: 150px;
	background-position: 1000px 1000px;
	z-index: 2;
}
.list-wrap .agree-overprint{
	background-position: -81px -12px;
}
.list-wrap .disagree-overprint{
	background-position: -18px -15px;
}
.myprocess-wrap{
	display: none;
}
.process-list-wrap .no-more-process, .process-list-wrap .load-more-fail, .process-list-wrap .no-process{
	color: #aaa;
	text-align: center;
}
.process-list-wrap .no-process{
	margin-top: 10rem;
}
.process-list-wrap .no-process img{
	width: 14rem;
	height: 14rem;
	display: block;
	margin: 0 auto;
}
.process-list-wrap .no-process span{
	margin-top: 2rem;
	display: block;
}
.process-tips{
	display: none;
}
.process-list-wrap .load-more-fail{
	-webkit-transform: translateY(-1rem);
			transform: translateY(-1rem);
}

.process-list-wrap .load-more{
	height: 2.1rem;
	text-align: center;
	display: none;
	-webkit-transform: translateY(-1rem);
			transform: translateY(-1rem);
}

.process-list-wrap .load-more span{
	display: inline-block;
	width: .8rem;
	height: .8rem;
	background: #2FA1E8;
	border-radius: 100%;
	-webkit-transform: scale(0);
			transform: scale(0);
	-webkit-animation: loadingZoom 1s infinite;
			animation: loadingZoom 1s infinite;
}

.process-list-wrap .bottom-tips{
	padding-bottom: 2rem;
}

.process-list-wrap .load-more .circle2{
	-webkit-animation-delay: .2s;
			animation-delay: .2s;
}

.process-list-wrap .load-more .circle3{
	-webkit-animation-delay: .4s;
			animation-delay: .4s;
}

@-webkit-Keyframes loadingZoom{
	0, 80%, 100%{
		-webkit-transform: scale(0);
	}
	50%{
		-webkit-transform: scale(1);
	}
}

@Keyframes loadingZoom{
	0, 80%, 100%{
		-webkit-transform: scale(0);
				transform: scale(0);
	}
	50%{
		-webkit-transform: scale(1);
				transform: scale(1);
	}
}
/* 图片上传2015/9/7 */
.upload-btn{
	padding:1rem;
	min-height:8rem;
}
.upload-addbtn{
	width:6rem;
	height:6rem;
	font-size:3.8rem;
	line-height:5rem;
	border:0.1rem dashed #CCC;
	text-align:center;
	float:left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position:relative;
	border-radius:0.7rem;
	margin-right:1rem;
	cursor:pointer;
}
.img-load{
	background:#FFF;
	margin-top:1rem;
}
.request-reason{
	margin-top:0;
	border:none;
	height:6rem;
}
.hengxian{
	display:block;
	font-weight:normal;
	width:3rem;
	height:0.1rem;
	border-top:0.1rem solid #abb1b3;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-1.5rem;
}
.shuxian{
	font-style:normal;
	width:0.1rem;
	height:3rem;
	border-left:0.1rem solid #abb1b3;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-1.5rem;
}
#file{
	width: 1.1rem;
	height: 1.1rem;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
}
.smallyulan {
	width:6rem;
	position:relative;
	float:left;
	margin-right:1rem;
	margin-bottom:1rem;
	cursor:pointer;
	border-radius:0.7rem;
}
.smallimg img{
	width:6rem;
	height:6rem;
	border-radius:0.7rem;
}
.smallimg{
	width:6rem;
	height:6rem;
	border-radius:0.7rem;
}
.del{
	width:1.8rem;
	height:1.8rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:0.1rem solid #ccc;
	border-radius:50%;
	line-height:1.6rem;
	font-size:1.6rem;
	color:#FFF;
	text-align:center;
	position:absolute;
	top:0.2rem;
	right:0.2rem;
}
.progress{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	cursor:pointer;
	color:#FFF;
	font-size:1.4rem;
	opacity:0.6;
	z-index:50;
}


.swiper-container{
	width:100%;
	height:100%;
	background:black;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	display:none;
}
.swiper-pagination-bullet{
	background:#FFF;
}
.addimg-header{
	width:100%;
	height:5rem;
	background:#ccc;
	opacity:0.6;
	position:fixed;
	top:0;
	left:0;
	z-index:110;
	display:none;
}
.addimg-header-back{
	width:6rem;
	height:3.5rem;
	line-height:3.5rem;
	text-align:center;
	color:black;
	font-size:1.6rem;
	background:#f0f0f0;
	border-top-left-radius:1rem;
	border-bottom-left-radius:1rem;
	position:absolute;
	top:0.75rem;
	left:1rem;
	cursor:pointer;
}

.swiper-slide img{
	max-width:100%;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.img-mask{
	width:6rem;
	height:6rem;
	background:black;
	opacity:0.8;
	position:absolute;
	top:0;
	left:0;
	border-radius:0.7rem;
	z-index:40;
}
.swiper-pagination{
	color:#FFF;
	font-size:1.4rem;
	display:none;
}
.curPage{
	width:100%;
	height:3rem;
	line-height:3rem;
	text-align:center;
	color:#FFF;
	font-size:1.4rem;
	position:fixed;
	bottom:1rem;
	left:0;
	z-index:120;
}
.mask{
	width:100%;
	height:100%;
	background:black;
	opacity:0.6;
	z-index:200;
	position:absolute;
	top:0;
	left:0;
	display:none;
}
.upload-tishi{
	width:60%;
	height:10rem;
	line-height:10rem;
	text-align:center;
	font-size:1.4rem;
	background:#FFF;
	border-radius:1rem;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-30%;
	margin-top:-5rem;
}

