/*
 * 流程审批
 * @author muqin_deng
 * @time 2015/08/12
 */
 
.process-detail-wrap{
	overflow: hidden;
	padding-bottom: 6rem;
}

.process-detail-wrap .load-error{
	text-align: center;
	padding-top: 5rem;
}

.process-detail-wrap .load-error{
	color: ;
}
 
.process-detail-wrap .top{
/*	position: fixed;
	z-index: 9;*/
	width: 100%;
	/*left: 0;
	top: 0;*/
}

.process-detail-wrap .process-detail{
	padding: 1.5rem 2rem;
	color: #fff;
	position: relative;
	overflow: hidden;
	background: #31D2EA;
}

.process-detail-wrap .process-detail .applicant-name{
	font-size: 1.2em;
}

.process-detail-wrap .process-detail .process-title{
	padding: .5rem 0;
}

.process-detail-wrap .patch{
	display: block;
	width: 1.8rem;
	height: 1.8rem;
	position: absolute;
	left: 3rem;
	overflow: hidden;
	bottom: -1.3rem;
	background-color: #fff;
  	-webkit-transform: rotate(45deg);
  			transform: rotate(45deg);
}

/* .process-detail-wrap .patch:before{
	content: '';
	display: block;
	width: 6rem;
	height: 7.5rem;
	background-color: #fff;
	border-radius: 100%;
	position: absolute;
	left: 0;
}

.process-detail-wrap .patch:after{
	content: '';
	display: block;
	width: 3.5rem;
	height: 4rem;
	background-color: #31D2EA;
	position: absolute;
	left: 1.2rem;
	top: -1.5rem;
	border-radius: 100%;
	transform: rotate(-40deg);
	-webkit-transform: rotate(-40deg);
} */


.process-detail-wrap .process-content{
	background: #fff;
	color: #444;
	position: relative;
	padding: 1.8rem 2.2rem 1.8rem 2.2rem;
	min-height: 4rem;
	box-shadow: 0 .1rem .1rem #eee;
}

/*-------------- 审批列表start ---------------*/

.process-detail-wrap .reply-list{
	position: relative;
  	/*margin: 16.2rem .8rem 0;*/
  	margin: 0 .8rem;
}

.process-detail-wrap .reply-list:before{
	content: '';
	display: block;
	position: absolute;
	border-left: 2px solid #bdbdbd;
	top: 0;
	left: 3rem;
	height: 100%;
	z-index: -1;
}

.process-detail-wrap .reply-list ul{
	overflow: hidden;
}

.process-detail-wrap .reply-item{
	background: #fff;
	padding: 1.8rem 1.2rem;
	margin-top: 1rem;
	border-radius: .4rem;
}

.process-detail-wrap .reply-item:first-child{
	margin-top: 1.2rem;
}

.process-detail-wrap .reply-item .reply-info{
	margin-right: -11rem;
	font-size: 0;	/* 解决inline-block多余间隔问题 */
	position: relative;
}

.process-detail-wrap .reply-item .time{
	width: 4rem;
	margin-right: .5rem;
	color: #9a9a9a;
	height: 4.5rem;
	line-height: 4.5rem;
	text-align: center;
}

.process-detail-wrap .reply-item .time-inner{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font-size: 1.4rem;
}

.process-detail-wrap .reply-item .photo, .process-detail-wrap .reply-item .decide-icon{
	width: 4.5rem;
	height: 4.5rem;
	border-radius: .8rem;
	margin-left: .5rem;
	display: inline-block;
}

.process-detail-wrap .reply-item .decide-icon{
	position: relative;
	background-color: #31D2EA;
}

.process-detail-wrap .reply-item .decide-icon:before, .process-detail-wrap .reply-item .decide-icon:after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.process-detail-wrap .reply-item .decide-icon:before{
	width: 2.5rem;
	height: 2.5rem;
	border: .2rem solid #fff;
	border-radius: 100%;
}

.process-detail-wrap .reply-item .agree-icon:after{
	width: 1.2rem;
	height: .6rem;
	border-left: .2rem solid #fff;
	border-bottom: .2rem solid #fff;
	transform: rotateZ(-45deg) translate3d(.1rem,-.1rem,0);
	-webkit-transform: rotateZ(-45deg) translate3d(.1rem,-.1rem,0);
}

.process-detail-wrap .reply-item .waite-icon:after{
	width: .8rem;
	height: .8rem;
	border-left: .2rem solid #fff;
	border-bottom: .2rem solid #fff;
	transform: translate3d(.3rem, -.3rem, 0);
	-webkit-transform: translate3d(.3rem, -.3rem, 0);
}

.process-detail-wrap .reply-item .disagree-icon{
	background-color: #f35959;
}

.process-detail-wrap .reply-item .disagree-icon:after{
	width: 1.4rem;
	height: .2rem;
	background-color: #fff;
}

.process-detail-wrap .reply-item .text{
	width: 100%;
	z-index: 1;
  	position: relative;
}

.process-detail-wrap .reply-item .text-inner{
	margin-left: 11rem;
}

.process-detail-wrap .reply-item .text-title{
	line-height: 4.5rem;
}

.process-detail-wrap .reply-item .text-title.agree, .process-detail-wrap .reply-item .text-title.waite{
	color: #94d301;
}

.process-detail-wrap .reply-item .text-title.disagree{
	color: #f35959;
}

.process-detail-wrap .text-title .blue{
	color: #3cbaff;
}

.process-detail-wrap .reply-item .text-content{
	display: none;
}

.process-detail-wrap .has-content .text-title{
	line-height: normal;
}

.process-detail-wrap .has-content .text-content{
	display: block;
	color: #9a9a9a;
	padding-top: .4rem;
	font-size: 1.5rem;
}
/*-------------- 审批列表end ---------------*/

/*-------------- 弹窗start ---------------*/
.process-detail-wrap .dialog{
	width: 28rem;
	height: 14rem;
	background: #fff;
	position: fixed;
	left: 50%;
	top: 50%;
	border-radius: .8rem;
	border: 1px solid #eee;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
	display: none;
	z-index: 9999;
}

.process-detail-wrap .dialog .dialog-main{
	box-sizing: border-box;
	height: 9.4rem;
	padding: 1rem;
	text-align: center;
	color: #000;
	line-height: 2.2rem;
}

.process-detail-wrap .dialog .group-btn{
	background: transparent;
	position: static;
}

.process-detail-wrap .dialog .group-btn button{
	height: 4.5rem;
	line-height: 4.5rem;
	font-size: 1.6rem;
}

.process-detail-wrap .add-approver-dialog .dialog-main{
	padding: 2rem;
}

.process-detail-wrap .add-approver-dialog .title{
	padding-top: 1.5rem; 
}

.process-detail-wrap .reply-dialog{
	height: 15rem;
}

.process-detail-wrap .reply-dialog .dialog-main{
	height: 10.4rem;
}

.process-detail-wrap .reply-dialog .reply-input{
	width: 96%;
	padding: 1rem 0;
	border-bottom: 1px solid #eee;
	margin: 1.5rem 0 0 0;
	border-radius: 0;
	color: #444;
}

/*-------------- 弹窗end ---------------*/