@charset "UTF-8";
html, :root{
	width : 100%;
	height : 100%;
	font-size: 10px;
}
body,div,ul,li,p,dl,dt,span,a,h1,h2,h3,h4,h5,h6,img,input,button,textarea,label,select{
	padding: 0;
	margin: 0;
	appearance: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
}
button{
	background: none;
	border: none;
}
img{
	border: none;
}
body{
	word-wrap: break-word;
	word-break: normal; 
	font: normal 100% "微软雅黑", "宋体", tahoma, arial, sans-serif;
	font-size: 16px;
	color: #444;
	-webkit-user-select:none;
	background: #E9ECF1;
}
input, textarea, button{
	font: normal 100% "微软雅黑", "宋体", tahoma, arial, sans-serif;
}
body.bg-write{
	background: #fff;
}
body.pd-bottom{
	padding-bottom: 5rem;
}
body.height-full{
	height: 100%;
}
ul{
	list-style-type: none;
}
input,textarea{
	appearance:none;
	-webkit-appearance:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	border: none;
}

a{
	text-decoration: none;
	color: #3CBAFF;
}

.active-grey{
	background-color: rgba(4,20,42, .1) !important;
}
.reply-item:before{
	content: '';
    display: block;
    position: absolute;
    border-left: 2px solid #FFF;
    opacity:0.5;
    top: 0;
    left: 3rem;
    height: 100%;
   
}

.active-opacity{
	opacity: .5 !important;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix{
	zoom: 1;
}
.clearfix::after{
	content: '';
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}

.overlayer{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, .6);
	display: none;
	z-index: 99;
}
.grey{
	color: #bdbdbd !important;
}
.red{
	color: #f00 !important;
}
.blue{
	color: #31d2ea !important;
}
.none{
	display: none;
}

.ellipsis{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}

#tips-msg{
	position: fixed;
	margin: auto;
	top: 45%;
	left: 25%;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	width: 44%;
	text-align: center;
	color: #fff;
	line-height: 24px;
	display: none;
	z-index: 1000;
	padding: 1rem;
}

.vertical-middle{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

/*------------------ 按钮组start -----------------*/
.group-btn{
	width: 100%;
	border-top: 1px solid #ddd;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #fff;
	text-align: center;
	z-index: 2;
}

.group-btn button, .group-btn a{
	color: #31d2ea;
	line-height: 5rem;
	display: block;
	float: left;
	position: relative;
	width: 50%;
	font-size: 1.8rem;
}

.group-btn .btn-no{
  	color: #999;
}

.group-btn .btn-yes:before{
	content: '';
	display: block;
	height: 40%;
	border-left: 1px solid #ddd;
	position: absolute;
	vertical-align: middle;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.group-btn .btn-full-w{
	width: 100%;
}
/*------------------ 按钮组end -----------------*/

.floatin{
	-webkit-animation: floatIn 300ms forwards;
}

.floatout{
	-webkit-animation: floatOut 300ms forwards;
}

.fadein{
	animation: fadeIn 400ms forwards;
	-webkit-animation: fadeIn 400ms forwards;
}

.fadeout{
	animation: fadeOut 400ms forwards;
	-webkit-animation: fadeOut 400ms forwards;
}

textarea.error, input.error{
	-webkit-animation: textareaError 600ms 2;
			animation: textareaError 600ms 2;
}

.leftin{
	-webkit-transform: translateX(-110%);
			transform: translateX(-110%);
	-webkit-animation: leftIn 500ms ease-out forwards;
			animation: leftIn 500ms ease-out forwards;
}

.loading{
	width: 60px;
    height: 60px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    z-index: 2000;
	display: none;
}
.loading .circle-container{
	width: 40px;
	height: 40px;
}
.loading .container2{
	-webkit-transform: rotateZ(45deg);
			transform: rotateZ(45deg);
}
.loading .circle-container div{
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #31d2ea;
	position: absolute;
	-webkit-animation: loading 1s linear infinite;
			animation: loading 1s ease-in-out infinite;
}

.loading .circle1{top: 0; left: 0;}
.loading .circle2{top: 0; right: 0; }
.loading .circle3{bottom: 0; right: 0;}
.loading .circle4{bottom: 0; left: 0; }


.loading .container1 .circle1{
	-webkit-animation-delay: -1s;
			animation-delay: -.9s;
}
.loading .container2 .circle1{
	-webkit-animation-delay: -.875s;
			animation-delay: -.8s;
}
.loading .container1 .circle2{
	-webkit-animation-delay: -.75s;
			animation-delay: -.7s;
}
.loading .container2 .circle2{
	-webkit-animation-delay: -.625s;
			animation-delay: -.6s;
}
.loading .container1 .circle3{
	-webkit-animation-delay: -.5s;
			animation-delay: -.5s;
}
.loading .container2 .circle3{
	-webkit-animation-delay: -.375s;
			animation-delay: -.4s;
}
.loading .container1 .circle4{
	-webkit-animation-delay: -.25s;
			animation-delay: -.3s;
}
.loading .container2 .circle4{
	-webkit-animation-delay: -.125s;
			animation-delay: -.2s;
}

@-webkit-keyframes loading{
	0%, 100%{
		-webkit-transform: scale(1.0);
	}
	80%{
		-webkit-transform: scale(0.0);
	}
}

@keyframes loading{
	0%, 100%{
		-webkit-transform: scale(1.0);
				transform: scale(1.0);
	}
	80%{
		-webkit-transform: scale(0.0);
				transform: scale(0.0);
	}
}


@keyframes rotateIn{
	from{
		transform: rotateY(90deg);
	}
	to {
		transform: rotateY(0deg);
	}
}

@keyframes rotateOut{
	from{
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(90deg);
	}
}

@-webkit-keyframes textareaError{
	0%, 100%{
		background: #fff;
	}
	50%{
		background: #FDEDED;
	}
}

@keyframes textareaError{
	0%, 100%{
		background: #fff;
	}
	50%{
		background: #FDEDED;
	}
}

@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes fadeOut{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}

@-webkit-keyframes fadeOut{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}

@keyframes leftIn{
	from{
		-webkit-transform: translateX(-110%);
				transform: translateX(-110%);
	}
	to{
		-webkit-transform: translateX(0%);
				transform: translateX(0%);
	}
}

@-webkit-keyframes leftIn{
	from{
		-webkit-transform: translateX(-110%);
	}
	to{
		-webkit-transform: translateX(0%);
	}
}

@-webkit-keyframes floatIn{
	from{
		bottom: -5rem;
	}
	to{
		bottom: 0rem;
	}
}

@keyframes floatOut{
	from{
		bottom: -5rem;
	}
	to{
		bottom: 0rem;
	}
}

@-webkit-keyframes floatOut{
	from{
		bottom: 0em;
	}
	to{
		bottom: -5rem;
	}
}

@keyframes floatOut{
	from{
		bottom: 0em;
	}
	to{
		bottom: -5rem;
	}
}
