<template>
    <!--审批规则说明页面-->
    <div class="rules-explain">
        <div class="explain-title">
            <h1>管理员已预置按条件的审批人</h1>
            <p>该审批必须由相应条件的审批人全部通过后才能完成审批</p>
        </div>
        <div class="terms-panel-container">
            <div class="terms-panel">
                <div class="panel-title">
                    <div class="terms-info has-border-b">当&nbsp;1&nbsp;≤&nbsp;<span>这里是条件</span>&nbsp;≤&nbsp;3</div>
                </div>
                <div class="panel-body">
                    <ul class="approval-tips">
                        <li class="approver">
                            <img class="avator" alt=""
                                 src="http://192.168.22.144/space/c/photo/load?userId=575fba9a00b076c24c70a5c0">
                            <span class="name ellipsis">宇大魔王名字很长</span>
                        </li>
                        <li class="approver">
                            <img class="avator" alt=""
                                 src="http://192.168.22.144/space/c/photo/load?userId=572ffd2200b041230857a4bc">
                            <span class="name ellipsis">胡浩洋嗯</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="terms-panel">
                <div class="panel-title">
                    <div class="terms-info has-border-b">当&nbsp;1&nbsp;≤&nbsp;<span>这里是条件</span>&nbsp;≤&nbsp;3</div>
                </div>
                <div class="panel-body">
                    <ul class="approval-tips">
                        <li class="approver">
                            <img class="avator" alt=""
                                 src="http://192.168.22.144/space/c/photo/load?userId=575fba9a00b076c24c70a5c0">
                            <span class="name ellipsis">宇大魔王名字很长</span>
                        </li>
                        <li class="approver">
                            <img class="avator" alt=""
                                 src="http://192.168.22.144/space/c/photo/load?userId=572ffd2200b041230857a4bc">
                            <span class="name ellipsis">胡浩洋嗯</span>
                        </li>
                        <li class="approver">
                            <img class="avator" alt=""
                                 src="http://192.168.22.144/space/c/photo/load?userId=572ffd2200b041230857a4bc">
                            <span class="name ellipsis">胡浩洋</span>
                        </li>
                        <li class="approver">
                            <img class="avator" alt=""
                                 src="http://192.168.22.144/space/c/photo/load?userId=572ffd2200b041230857a4bc">
                            <span class="name ellipsis">胡浩洋</span>
                        </li>
                        <li class="approver">
                            <img class="avator" alt=""
                                 src="http://192.168.22.144/space/c/photo/load?userId=572ffd2200b041230857a4bc">
                            <span class="name ellipsis">胡浩洋</span>
                        </li>
                        <li class="approver">
                            <img class="avator" alt=""
                                 src="http://192.168.22.144/space/c/photo/load?userId=572ffd2200b041230857a4bc">
                            <span class="name ellipsis">胡浩洋</span>
                        </li>
                        <li class="approver">
                            <img class="avator" alt=""
                                 src="http://192.168.22.144/space/c/photo/load?userId=572ffd2200b041230857a4bc">
                            <span class="name ellipsis">胡浩洋</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return {
            }
        },
        components: {
        }
    }
</script>
<style lang="less">
    .rules-explain {
        .explain-title {
            text-align: center;
            height: 2rem;
            padding: 0.24rem 0.48rem;
            background-color: #31d2ea;
            h1, p {
                margin-top: 0.2rem;
                font-size: 0.28rem;
                color: #ffffff;
            }
            p {
                font-size: 0.2rem;
            }
        }
        .terms-panel-container {
            margin: -0.36rem 0.24rem 0 0.24rem;
        }
        .terms-panel {
            color: #3f3f3f;
            border-radius: 0.08rem;
            background-color: #ffffff;
            margin-bottom: 0.15rem;
            overflow: hidden;
            .panel-title {
                line-height: 0.88rem;
                padding-left: 0.24rem;
                .terms-info {
                    font-size: 0.28rem;
                    position: relative;
                    span {
                        color: #f7c025;
                    }
                }
            }
            //=======审批人列表 （需要复用这一块样式）==========//
            .approval-tips {
                margin: 0 0.24rem;
                padding-top: 0.24rem;
                color: #bdbdbd;
                font-size: 0;;
                line-height: 0.35rem;
            }
            .approver {
                display: inline-block;
                margin-right: 0;
                width: 20%;
                margin-bottom: 0.2rem;
                font-size: 0.24rem;
                position: relative;
                //连接线和横杠
                &:before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 0.3rem;
                    top: 0.4rem;
                    right: -0.15rem;
                    border-bottom: 1px solid #dce1e7;
                }
                .avator {
                    width: 0.72rem;
                    height: 0.72rem;
                    border-radius: 50%;
                    display: block;
                    margin: auto;
                    position: relative;
                }
                .name {
                    display: block;
                    width: 100%;
                    text-align: center;
                    margin-top: 0.1rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #9a9a9a;
                }
                &:last-child .arrow {
                    display: none;
                }
                //清除最后元素的连线(最后一个和每行的第五个)
                /*&:last-child .arrow {*/
                /*display: none;*/
                /*}*/
                &:last-child:before, &:nth-child(5n):before {
                    display: none;
                }
            }
        }
    }
</style>