<template>
    <div class="date-range-field">
        <label class="line">
            <span class="label">{{labels[0]}}<span class="require" v-show="required">*</span></span>
            <span class="time" @click="onClick('1')">{{time1 || placeholder}}</span>
        </label>
        <label class="line has-border-t">
            <span class="label">{{labels[1]}}<span class="require" v-show="required">*</span></span>
            <span class="time" @click="onClick('2')">{{time2 || placeholder}}</span>
        </label>
    </div>
</template>

<script>
import { updateComponentValue } from '../../vuex/actions'
import helper from '../../utils/helpers'
    
export default {
    props: {
        id: {
            type: String,
            required: true
        },
        labels: {
            type: Array,
            required: false
        },
        required: {
            type: Boolean,
            required: true,
            default: true
        },
        type: {
            type: String,
            required: true
        },
        format: {
            type: String,
            required: true
        },
        placeholder: {
            type: String,
            required: true
        }
    },
    vuex: {
        actions: {
            updateComponentValue: updateComponentValue
        }
    },
    data: function(){
        return {
            time1: '',
            time2: '',
            value: [],
            curYear: new Date().getFullYear(),
            show1: false,
            show2: false
        }
    },
    methods: {
        validate() {
            console.log('校验')
            if(this.value[0] && this.value[1] && this.value[1] >= this.value[0]){
                return true
            }
            helper.addErrorTips(this.$el)
            return false
        },
        onClick (index) {
            this.$datetimePicker()
            .then((value) => {
                if(index === '1'){
                    this.time1 = value
                }else{
                    this.time2 = value
                }
                this.checkTime(index)
            })
            .catch(function(){})
        
        },
        checkTime (index) {
            var t1, t2
            if(!this.time1 || !this.time2){
                return
            }
            t1 = new Date(this.time1)
            t2 = new Date(this.time2)
            if(+t1 > +t2){
                this.$alert({title: '错误', content: '日期范围选择有误'})
                if ( index == 1 ) {
                    this.time1 = '';
                } else {
                    this.time2 = '';
                }
            }
        }
    },
    watch: {
        'time1': function(){
            console.log('time1')
            this.value[0] = this.time1
            this.updateComponentValue({id: this.id, val: this.value})
        },
        'time2': function(){
            console.log('time2')
            this.value[1] = this.time2
            this.updateComponentValue({id: this.id, val: this.value})
        }
    }
}
</script>

<style lang="less">
    .date-range-field {
        margin-top: 0.15rem;
        background-color: #fff;
        font-size: 0.28rem;
        overflow: hidden;
        position: relative;

        .line {
            padding: 0.2rem 0.24rem;
            position: relative;
            display: block;
            line-height: 0.88rem;

            .label {
                color: #3f3f3f;
                position: absolute;
                top: 0;
                left: 0.24rem;
            }

            .tips {
                font-size: 0.28rem;
                color: #9a9a9a;
            }

            .time {
                font-size: 0.26rem;
                color: #31d2ea;
                text-align: right;
                display: block;
                width: 100%;
                line-height: 0.4rem;

                &:after {
                    content: "";
                    display: inline-block;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    height: 0.16rem;
                    width: 0.16rem;
                    border-width: 0.02rem 0.02rem 0 0;
                    border-color: #9a9a9a;
                    border-style: solid;
                    position: relative;
                    top: -0.02rem;
                    margin-left: .15rem;
                    right: 0.06rem;
                }
            }
            .datetime {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                background: rgba(255,255,255,0)
            }
        }
    }
</style>

