<template>
<label class="date-field">
    <span class="label">{{label}}<span class="require" v-show="required">*</span></span>
    <span class="value" @click="onClick" v-if="value">{{value}}</span>
    <span class="value has-arrow" @click="onClick" v-if="!value">{{placeholder}}</span>
</label>
</template>

<script>
import { commonProps, componentUpdate } from '../../mixins'
import helper from '../../utils/helpers'

    
export default {
    mixins: [commonProps, componentUpdate],
    props: {
        format: {
            type: String,
            required: true
        }
    },
    data: function(){
        return {
            value: ''
        }
    },
    methods: {
        validate() {
            console.log('校验')
            if (!this.value) {
                helper.addErrorTips(this.$el)
                return false
            }
            return true
        },
        onClick () {
            this.$datetimePicker()
            .then((value) => {
                this.value = value
            })
            .catch(function(){})
        }
    }

}
</script>

<style lang="less">
    .date-field {
        margin-top: 0.15rem;
        background-color: #fff;
        font-size: 0.28rem;
        overflow: hidden;
        position: relative;
        padding: 0.24rem;
        position: relative;
        display: block;

        .label {
            position: absolute;
            left: 0.24rem;
            top: 0.24rem;
            color: #404040;
        }

        .value {
            font-size: 0.26rem;
            color: #404040;
            display: block;
            text-align: right;
            background: rgba(255,255,255,0);
            background: rgba(255,255,255,0);
          &.has-arrow{
            color: #9a9a9a;
            &:after{
              content: "";
              display: inline-block;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              height: 0.16rem;
              width: 0.16rem;
              border-width: 0.02rem 0.02rem 0 0;
              border-color: #9a9a9a;
              border-style: solid;
              position: relative;
              top: -0.02rem;
              margin-left: .15rem;
              right: 0.06rem;
            }
          }
        }
        .datetime {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0;
        }
    }
</style>
