<template>
    <div class="detail-field">
        <div class="header">
            <label class="label">明细</label>
            <span class="copy-btn" @click="addDetail"></span>
            <span class="delete-btn" @click="delDetail"></span>
        </div>
        <div class="content">
            <!--这里的内容仅作查看效果用-->
            <div class="white">
                <label class="select-field">
                    <span class="label">请假天数<span class="require">*</span></span>
                    <div class="container">
                        <span class="value has-arrow">请选择</span><!--v-if-->
                    </div>
                    <select>
                        <option>请选择</option>
                    </select>
                </label>
            </div>
            <div class="money-field">
                <span class="label">金额(元)<span class="require">*</span></span>
                <div class="container">
                    <input class="value" type="text" step="0.01" placeholder="请输入">
                </div>
                <span class="money ellipsis">大写：零元整</span>
            </div>
            <div class="number-field">
                <span class="label">数字输入框数字输入框<span class="require" style="display: none;">*</span></span>
                <div class="container">
                    <input class="value" type="text" placeholder="请输入dfyh65hytehtetyhythtyhy">
                </div>
            </div>
        </div>
        <!--明细组件下方汇总值-->
        <div class="detail-value">
            <div>总数字输入框：0</div>
            <div>总金额（元）：0</div>
            <div>大写：壹万元整</div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import {
            getApprovalCndGroups
    } from '../../vuex/getters'
    import {
            setCndApprovers,
            setCurCondition
    } from '../../vuex/actions'
    import {commonProps, componentUpdate, validate} from '../../mixins'
    import helper from '../../utils/helpers'

    export default {
        vuex: {
            getters: {
                cndGroup: getApprovalCndGroups
            },
            actions: {
                setCndApprovers,
                setCurCondition
            }
        },
        mixins: [commonProps, componentUpdate],
        data: function () {
            return {
                value: "",
                timer: null
            }
        },
        props: {

        },
        watch: {
            "value": function (val) {
                //var regexp = /(^-*\d*\.\d{1,2}|^-*\d*\.|^-*\d*)/;
                //限制为输入一亿以下
                //var regexp = /(^-*\d{0,9}\.\d{1,2}|^-*\d{0,9}\.|^-*\d{0,9})/;
                var regexp = /(^\d{0,9}\.\d{1,2}|^\d{0,9}\.|^\d{0,9})/;
                var matches_array = val.match(regexp);
                Vue.nextTick(()=> {
                    this.value = matches_array[0]
                })
            }
        },
        methods: {
            onMoneyBlur: function (val) {
                //var regexp = /(^-*\d*\.\d{1,2}|^-*\d*)/;
                //var regexp = /(^-*\d{0,9}\.\d{1,2}|^-*\d{0,9})/;
                var regexp = /(^\d{0,9}\.\d{1,2}|^\d{0,9})/;
                var matches_array = val.match(regexp);
                Vue.nextTick(()=> {
                    this.value = matches_array[0]
                })
            },
            validate() {
                console.log('校验')
                if ( !this.value ) {
                    helper.addErrorTips(this.$el)
                    return false
                }
                return true
            },
            onMoneyInput: function (val) {
                if ( !this.iscndkey )return false;
                clearTimeout(this.timer);
                //延迟一定时间再执行判断下面的审批人操作
                this.timer = setTimeout(()=> {
                    let curCondition = this.getCurrentCnd(val)
                    this.setCurCondition(curCondition)
                    this.setCndApprovers(curCondition.usersContext)
                }, 300)
            },
            /**
             *  获取当前输入的值所在的条件下的审批人
             */
            getCurrentCnd: function (val) {
                let cndGroup = this.cndGroup;
                val = parseFloat(val)
                console.log(val);
                for (let i = 0; i < cndGroup.length; i++) {
                    let value = cndGroup[i]
                    for (let j = 0; j < value.cnds.length; j++) {
                        let cnd = value.cnds[j]
                        let cndContext = cnd.cndContext
                        if ( (cndContext.gte && cndContext.lt && val < cndContext.lt && val >= cndContext.gte)
                                || (cndContext.gte && !cndContext.lt && val >= cndContext.gte)
                                || (cndContext.gt === 0 && cndContext.lt && val < cndContext.lt && val >= cndContext.gt) ) {
                            return value
                        }
                    }
                }
                return {}
            },
            /**
             * 金额大写
             * src:https://gist.github.com/tonyc726/00c829a54a40cf80409f
             * @param money
             * @returns {string}
             */
            moneyUpperCase: function (money) {
                var fraction = ['角', '分'];
                var digit = ['零', '壹', '贰', '叁', '肆', '伍', '陆', '柒', '捌', '玖'];
                var unit = [
                    ['元', '万', '亿'],
                    ['', '拾', '佰', '仟']
                ];
                var head = money < 0 ? '欠' : '';
                money = money == "." ? 0 : Math.abs(money || 0);
                var str = '';
                for (var i = 0; i < fraction.length; i++) {
                    str += (digit[Math.floor(money * 10 * Math.pow(10, i)) % 10] + fraction[i]).replace(/零./, '');
                }
                str = str || '整';
                money = Math.floor(money);
                for (var i = 0; i < unit[0].length && money > 0; i++) {
                    var p = '';
                    for (var j = 0; j < unit[1].length && money > 0; j++) {
                        p = digit[money % 10] + unit[1][j] + p;
                        money = Math.floor(money / 10);
                    }
                    str = p.replace(/(零.)*零$/, '').replace(/^$/, '零') + unit[0][i] + str;
                }
                return head + str.replace(/(零.)*零元/, '元')
                                .replace(/(零.)+/g, '零')
                                .replace(/^整$/, '零元整');
            }
        }

    }
</script>

<style lang="less">
    .detail-field{
        margin-top:0.15rem;
        .header{
            background-color: #f2f4f7;
            padding:0 0.24rem;
            height: 0.44rem;
            line-height: 0.44rem;
            font-size:0.24rem;
            color:#3f3f3f;
            .copy-btn,
            .delete-btn{
                float: right;
                display:inline-block;
                margin-top:0.06rem;
                width:0.32rem;
                height:0.32rem;
                border-radius:100%;
                background-color:#f35959;
                margin-left:0.28rem;
                position: relative;
                &:before,&:after{
                    content:"";
                    position: absolute;
                    width:0.18rem;
                    height: 0;
                    top:50%;
                    left:50%;
                    margin-left:-0.09rem;
                    border-top:0.02rem solid #ffffff;
                }
            }
            .copy-btn{
                background-color:#3cbaff ;
                &:after{
                    width:0;
                    height: 0.18rem;
                    margin-top:-0.09rem;
                    margin-left:0;
                    border-top:none;
                    border-left:0.02rem solid #ffffff;
                }
            }
        }

        //明细的嵌入组件容器
        .content{
            //清除加入进来的组件边距
            .white .select-field,
            .money-field,
            .number-field{
                margin:0;
            }
            //不显示金额组件下方的大写金额
            .money{
                display: none;
            }
            //给所有嵌入组件添加1px边线,重置所有的标签颜色
            &>div{
                position: relative;
                overflow: hidden;
                .label{
                    color: #808c9c;
                }
                &:before{
                    content: "";
                    position: absolute;
                    box-sizing: border-box;
                    right:0;
                    height:0;
                    left: 0.24rem;
                    bottom: 0;
                    border-top: 1px solid #dce1e8;
                }
            }
        }
        //明细组件下方汇总值
        .detail-value{
            color: #9a9a9a;
            padding:0.2rem 0.24rem;
            font-size:0.2rem;
            background-color: #ffffff;
        }
    }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
        .detail-field  .content>div:before {
            transform: scaleY(0.5);
            transform-origin: 0 0;
        }
    }
</style>
