<template>
    <div class="file-field" @click="triggerUpload">
        <div class="file-header">
            <span class="label">{{label}}<span class="require" v-show="required">*</span></span>
            <span class="tips has-arrow" v-if="value.length==0">请选择</span>
            <span class="tips" v-if="value.length>0">已上传{{value.length}}个</span>
            <!--<input type="file" id="fileUploader" class="file-input" style="display: none" multiple @change.stop="fileChange">-->
            <!--<a href="{{url1}}">url1</a>
            <br>
            <a href="{{url2}}">url2</a>-->
            <!--<a href="{{url3}}">url3</a>-->
        </div>
        <input type="file" id="fileUploader" class="outerInput" multiple @change.stop="fileChange">
        <div class="file-content has-border-t" v-show="value.length!=0">
            <span class="filePreview" v-for="item in value">
               <img class="preview" v-if="isImg(item.fileExt)" :src="previewUrl + '/' + item.fileId + '?thumbnail'"
                    alt="">
               <i class="iconfont docIcon" v-if="!isImg(item.fileExt)"></i>
               <i class="iconfont delIcon" @click.stop="delete(item.fileId)"></i>
            </span>
            <span class="upload-addbtn" v-show="canUpload" @click="selectFile">
                <b class="hengxian"></b>
                <b class="shuxian"></b>
                <input type="file" name="file" class="file-input" multiple @change="fileChange">
            </span>
        </div>
    </div>
</template>


<script>
    import Vue from 'vue'
    import { commonProps, componentUpdate } from '../../mixins'
    import config from '../../config'
    import helper from '../../utils/helpers'
    import PreviewFile  from './PreviewFile'

    var Preview = Vue.extend(PreviewFile)

    export default {
        mixins: [commonProps, componentUpdate],
        data: function () {
            return {
                value: [], //存数组
                previewUrl: `${config.serverRootUrl}docrest/filesvr`,
                filesLength: 0
                /*url1:"",
                 url2:"",
                 url3:""*/
            }
        },
        computed: {
            canUpload (){
                return this.value.length === 8 ? false : true
            }
        },
        methods: {
            isImg( type ) {
                const imgType = ['jpg', 'png', 'bmp', 'jpeg']
                return imgType.indexOf(type) > -1 ? true : false
            },
            delete ( fileId ) {
                this.value.forEach((item, index) => {
                    if( item.fileId === fileId
            )
                {
                    this.value.splice(index, 1);
                }
            })
            },
            validate() {
                console.log('校验filefield')
                if ( this.value.length === 0 ) {
                    helper.addErrorTips(this.$el)
                    return false
                }
                return true
            },
            triggerUpload ( e ) {
                if ( this.value.length !== 0 ) {
                    return
                }
                this.selectFile()
            },
            selectFile (){
                const self = this
                console.log("web select file")
            },
            fileChange: function ( e ) {
                var self = this
                var files = e.target.files || e.dataTransfer.files
                if ( !files.length ) {
                    return
                }
                console.log(files);
                //限制上传的数量
                if ( (files.length + this.filesLength) > 8 ) {
                    this.$el.querySelector('.file-input').value = ''
                    return this.$alert({ title: '警告', content: '最多只能上传8个附件哦' })
                }

                Array.prototype.slice.call(files, 0).forEach(function ( file ) {
                    new Preview({
                        parent: this,
                        //el: document.createElement('div'),
                        el: document.getElementById('fileUploader'),
                        data: {
                            file: file,
                            progress: 0
                        }
                    }).$before(this.$el.querySelector('.upload-addbtn'))
                    self.filesLength++
                }.bind(this))

                //清空input的内容，允许上传与上次上传的内容
                this.$el.querySelector('.file-input').value = ''
            },
            checkFile ( files ) {
                //限制上传的数量
                if ( (files.length + this.value.length) > 8 ) {
                    this.$alert({ title: '警告', content: '只能上传8个附件哦～' })
                    return false
                }
                return true
            }
        },
        components: {
            PreviewFile
        }
    }
</script>


<style lang="less">
    .file-field {
        margin-top: 0.15rem;
        background-color: #fff;
        font-size: 0.28rem;
        overflow: hidden;
        position: relative;
        display: block;

        .outerInput{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
        .file-header {
            vertical-align: middle;
            padding: .24rem;
            overflow: hidden;
            position: relative;

            .label {
                position: absolute;
                top: .24rem;
                left: 0.24rem;
                color: #3f3f3f;
            }

            .tips {
                display: block;
                text-align: right;
                color: #9a9a9a;
            }

        }

        .file-content {
            position: relative;
            padding: 0.24rem 0.24rem 0 0.24rem;
        }

        .filePreview {
            display: inline-block;
            width: 1.1rem;
            height: 1.1rem;
            margin-right: 0.2rem;
            position: relative;

            .preview {
                width: 100%;
                height: 100%;
                border-radius: 0.14rem;
            }

            .docIcon {

                &:before {
                    content: '\e60e';
                    font-size: 1rem;
                    color: #31d2ea;
                }

            }
            .delIcon {

                &:before {
                    content: '\e60b';
                    font-size: 1rem;
                    color: #aab2b4;
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 0.35rem;

                }

            }
        }
        .upload-addbtn {
            width: 1.1rem;
            height: 1.1rem;
            line-height: 1rem;
            border: 1px dashed #CCC;
            box-sizing: border-box;
            position: relative;
            border-radius: .14rem;
            display: inline-block;
            margin-right: .24rem;
          margin-bottom: 0.24rem;
            border-width: 0.02rem;
            vertical-align: top;

            .hengxian, .shuxian {
                position: absolute;
                top: 50%;
            }

            .hengxian {
                display: block;
                font-weight: 400;
                width: .6rem;
                height: .02rem;
                border-top: .02rem solid #abb1b3;
                left: 50%;
                margin-left: -0.3rem;
            }

            .shuxian {
                font-style: normal;
                width: .02rem;
                height: .6rem;
                border-left: .02rem solid #abb1b3;
                left: 50%;
                margin-top: -0.3rem;
            }
            .file-input{
                width: 1.1rem;
                height: 1.1rem;
                position: relative;
                z-index: 99;
                opacity: 0;
                cursor: pointer;
            }

        }
    }

</style>
