<template>
    <label class="file-field" @click="triggerUpload">
        <div class="file-header">
            <span class="label">{{label}}<span class="require" v-show="required">*</span></span>
            <span class="tips has-arrow" v-if="value.length==0">请选择</span>
            <span class="tips" v-if="value.length>0">已上传{{value.length}}个</span>
        </div>
        <div class="file-content has-border-t" v-show="value.length!=0">
<!--
          <span class="filePreview">
               <img class="preview" v-show="isImg('img')" :src="previewUrl + '/' + item.fileId + '?thumbnail'" alt="">
                <i class="iconfont docIcon" v-show="!isImg('sd')"></i>
                <i class="iconfont delIcon" @click="delete"></i>
           </span>-->
           <span class="filePreview" v-for="item in value">
               <img class="preview" v-if="isImg(item.fileExt)" :src="previewUrl + '/' + item.fileId + '?thumbnail'"
                    alt="">
                <i class="icon" v-show="!isImg(item.fileExt)" :class="detectFileType(item.fileExt)"></i>
                <i class="iconfont delIcon" @click.stop="delete(item.fileId)"></i>
           </span>
            <span class="upload-addbtn" v-show="canUpload" @click="selectFile">
                <b class="hengxian"></b>
                <b class="shuxian"></b>
            </span>
        </div>
    </label>
</template>


<script>
import Vue from 'vue'
import { commonProps, componentUpdate } from '../../mixins'
import config from '../../config'
import helper from '../../utils/helpers'

export default {
    mixins: [commonProps, componentUpdate],
    data: function(){
        return {
            value: [], //存数组
            previewUrl: `${config.serverRootUrl}docrest/filesvr`
        }
    },
    computed: {
        canUpload (){
            return this.value.length === 8 ? false : true
        }
    },
    methods: {
        isImg(type) {
            const imgType = ['jpg', 'png', 'bmp', 'jpeg']
            return imgType.indexOf(type) > -1 ? true : false
        },
        detectFileType(type) {
            const SUFFIXS = {
                doc: 'docx',
                docx: 'docx',
                ppt: 'ppt',
                pptx: 'ppt',
                pdf: 'pdf',
                xlsx: 'xlsx',
                xls: 'xlsx',
                txt: 'txt',
                zip: 'zip',
                rar: 'zip'
            }

            return `${SUFFIXS[type] || 'unknown'}Icon`
        },
        delete (fileId) {
            this.value.forEach((item, index) => {
                if(item.fileId === fileId){
                    this.value.splice(index, 1);
                }
            })
        },
        validate() {
            console.log('校验filefield')
            if (this.value.length === 0) {
                helper.addErrorTips(this.$el)
                return false
            }
            return true
        },
        triggerUpload (e) {
            if(this.value.length !== 0){
                return
            }
            this.selectFile()
        },
        selectFile (){
            const self = this
            XuntongJSBridge.call('selectFile', {},
            function(result){
                if(result.success == 'true'){
                    if(self.checkFile(result.data.files)){
                        self.value = self.value.concat(result.data.files)
                    }
                }else{
                    alert('上传附件失败')
                }
            })
        },
        checkFile (files) {
            //限制上传的数量
            if((files.length + this.value.length) > 8){
                this.$alert({title: '警告', content: '只能上传8个附件哦～'})
                return false
            }
            return true
        }
    }
}
</script>


<style lang="less">
    .file-field {
        margin-top: 0.15rem;
        background-color: #fff;
        font-size: 0.28rem;
        overflow: hidden;
        position: relative;
        display: block;

        .file-header {
            vertical-align: middle;
            padding: .24rem;
            overflow: hidden;
            position: relative;

            .label {
                position: absolute;
                top: .24rem;
                left: 0.24rem;
                color: #3f3f3f;
            }
            .tips {
                display: block;
                text-align: right;
                color: #9a9a9a;
                font-size:0.26rem;
              &.has-arrow:after{
                content: "";
                display: inline-block;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                height: 0.16rem;
                width: 0.16rem;
                border-width: 0.02rem 0.02rem 0 0;
                border-color: #9a9a9a;
                border-style: solid;
                position: relative;
                top: -0.02rem;
                margin-left: .15rem;
                right: 0.06rem;
              }
            }
        }

        .file-content {
            position: relative;
            padding: 0.24rem 0.24rem 0 0.24rem;
            font-size:0;
        }

        .filePreview {
            display: inline-block;
            width: 1.1rem;
            height: 1.1rem;
            margin-right: 0.24rem;
            position: relative;
            margin-bottom: 0.24rem;
            .preview {
              width: 100%;
              height: 100%;
              margin:0 auto;
              border-radius: 0.14rem;
            }
            .docIcon {
                &:before {
                    content: '\e60e';
                    font-size: 1rem;
                    color: #31d2ea;
                }
            }

            .icon {
                display: inline-block;
                background-size: contain; /*设置成cover，取消center，在移动端会有一边遍消失掉*/
                background-repeat: no-repeat;
                background-position: center center;
                background-origin: padding-box;
                width: 100%;
                height: 100%;
            }

            .docxIcon {
                background-image: url('../../assets/docx@2x.png');
            }

            .pdfIcon {
               background-image: url('../../assets/pdf@2x.png');
            }

            .xlsxIcon {
               background-image: url('../../assets/xlsx@2x.png');
            }

            .pptIcon {
               background-image: url('../../assets/ppt@2x.png');
            }

            .txtIcon {
               background-image: url('../../assets/txt@2x.png');
            }

            .zipIcon {
                background-image: url('../../assets/zip@2x.png');
            }

            .unknownIcon {
                background-image: url('../../assets/unknown@2x.png');
            }

            .delIcon {
              position: absolute;
              top: -0.1rem;
              right: -0.05rem;
              width: 0.34rem;
              height: 0.34rem;
              border:1px solid #ffffff;
              border-radius: 50%;
              background-color: #ffffff;
              margin: 0;
                &:before {
                  content: '\e60b';
                  position: relative;
                  color: #aab2b4;
                  font-size: 0.35rem;
                  top: -0.06rem;
                  left:-0.02rem;
                }
            }
        }
        .upload-addbtn {
            box-sizing: border-box;
            width: 1.1rem;
            height: 1.1rem;
            line-height: 1rem;
            border: 0.02rem dashed #CCC;
            position: relative;
            border-radius: .14rem;
            display: inline-block;
            margin-right: .2rem;
            vertical-align: top;

            .hengxian, .shuxian {
                position: absolute;
                top: 50%;
            }

            .hengxian {
                display: block;
                font-weight: 400;
                width: .6rem;
                height: .02rem;
                border-top: .02rem solid #abb1b3;
                left: 50%;
                margin-left: -0.3rem;
            }

            .shuxian {
                font-style: normal;
                width: .02rem;
                height: .6rem;
                border-left: .02rem solid #abb1b3;
                left: 50%;
                margin-top: -0.3rem;
            }
        }
    }

</style>
