<template>
    <div class="money-field">
        <span class="label">{{label}}<span class="require" class="require" v-show="required">*</span></span>
        <!-- 改成text是为了解决ios兼容性问题,使用number,无法触发value的变化 -->
        <div class="container">
          <input class="value" type="text" step="0.01" v-model="value" @blur="onMoneyBlur(value)" @input="onMoneyInput(value)"
                 :placeholder="placeholder">
        </div>
        <span class="money ellipsis">大写：{{moneyUpperCase(value)}}</span>
    </div>
</template>

<script>
    import Vue from 'vue'
    import {
            getApprovalCndGroups
    } from '../../vuex/getters'
    import {
            setCndApprovers,
            setCurCondition
    } from '../../vuex/actions'
    import {commonProps, componentUpdate, validate} from '../../mixins'
    import helper from '../../utils/helpers'

    export default {
        vuex: {
            getters: {
                cndGroup: getApprovalCndGroups
            },
            actions: {
                setCndApprovers,
                setCurCondition
            }
        },
        mixins: [commonProps, componentUpdate],
        data: function () {
            return {
                value: "",
                timer: null
            }
        },
        props: {
            //是否是条件审批字段
            iscndkey: {
                type: Boolean,
                required: true
            }
        },
        watch: {
            "value": function (val) {
                //var regexp = /(^-*\d*\.\d{1,2}|^-*\d*\.|^-*\d*)/;
                //限制为输入一亿以下
                //var regexp = /(^-*\d{0,9}\.\d{1,2}|^-*\d{0,9}\.|^-*\d{0,9})/;
                var regexp = /(^\d{0,9}\.\d{1,2}|^\d{0,9}\.|^\d{0,9})/;
                var matches_array = val.match(regexp);
                Vue.nextTick(()=> {
                    this.value = matches_array[0]
                })
            }
        },
        methods: {
            onMoneyBlur: function (val) {
                //var regexp = /(^-*\d*\.\d{1,2}|^-*\d*)/;
                //var regexp = /(^-*\d{0,9}\.\d{1,2}|^-*\d{0,9})/;
                var regexp = /(^\d{0,9}\.\d{1,2}|^\d{0,9})/;
                var matches_array = val.match(regexp);
                Vue.nextTick(()=> {
                    this.value = matches_array[0]
                })
            },
            validate() {
                console.log('校验')
                if ( !this.value ) {
                    helper.addErrorTips(this.$el)
                    return false
                }
                return true
            },
            onMoneyInput: function (val) {
                if ( !this.iscndkey )return false;
                clearTimeout(this.timer);
                //延迟一定时间再执行判断下面的审批人操作
                this.timer = setTimeout(()=> {
                    let curCondition = this.getCurrentCnd(val)
                    this.setCurCondition(curCondition)
                    this.setCndApprovers(curCondition.usersContext)
                }, 300)
            },
            /**
             *  获取当前输入的值所在的条件下的审批人
             */
            getCurrentCnd: function (val) {
                let cndGroup = this.cndGroup;
                val = parseFloat(val)
                console.log(val);
                for (let i = 0; i < cndGroup.length; i++) {
                    let value = cndGroup[i]
                    for (let j = 0; j < value.cnds.length; j++) {
                        let cnd = value.cnds[j]
                        let cndContext = cnd.cndContext
                        if ( (cndContext.gte && cndContext.lt && val < cndContext.lt && val >= cndContext.gte)
                                || (cndContext.gte && !cndContext.lt && val >= cndContext.gte)
                                || (cndContext.gt === 0 && cndContext.lt && val < cndContext.lt && val >= cndContext.gt) ) {
                            return value
                        }
                    }
                }
                return {}
            },
            /**
             * 金额大写
             * src:https://gist.github.com/tonyc726/00c829a54a40cf80409f
             * @param money
             * @returns {string}
             */
            moneyUpperCase: function (money) {
                var fraction = ['角', '分'];
                var digit = ['零', '壹', '贰', '叁', '肆', '伍', '陆', '柒', '捌', '玖'];
                var unit = [
                    ['元', '万', '亿'],
                    ['', '拾', '佰', '仟']
                ];
                var head = money < 0 ? '欠' : '';
                money = money == "." ? 0 : Math.abs(money || 0);
                var str = '';
                for (var i = 0; i < fraction.length; i++) {
                    str += (digit[Math.floor(money * 10 * Math.pow(10, i)) % 10] + fraction[i]).replace(/零./, '');
                }
                str = str || '整';
                money = Math.floor(money);
                for (var i = 0; i < unit[0].length && money > 0; i++) {
                    var p = '';
                    for (var j = 0; j < unit[1].length && money > 0; j++) {
                        p = digit[money % 10] + unit[1][j] + p;
                        money = Math.floor(money / 10);
                    }
                    str = p.replace(/(零.)*零$/, '').replace(/^$/, '零') + unit[0][i] + str;
                }
                return head + str.replace(/(零.)*零元/, '元')
                                .replace(/(零.)+/g, '零')
                                .replace(/^整$/, '零元整');
            }
        }

    }
</script>

<style lang="less">

  .money-field {
    margin-bottom: 0.48rem;
    position: relative;
    overflow: visible !important;
    margin-top: 0.15rem;
    background-color: #fff;
    font-size: 0.28rem;
    padding: 0 0.24rem 0.44rem 0.24rem;
    line-height: 0.88rem;

    .label {
      position: relative;
      top: 0.24rem;
      left: 0;
      color: #3f3f3f;
      width:1.6rem;
      display: block;
      line-height: normal;
    }

    .value {
      line-height: normal;
      font-size: 0.26rem;
      color: #404040;
      text-align: right;
      width: 100%;
      padding-top:0.1rem;
      padding-bottom: 0.1rem;
      /*padding-left: 1.6rem;*/
      background: rgba(255, 255, 255, 0);
    }
    .money {
      bottom: -0.68rem;
      left: 0;
      position: absolute;
      display: block;
      width: 100%;
      padding: 0 0.24rem;
      font-size: 0.22rem;
      color: #9a9a9a;
    }
    .container{
      position: absolute;
      right:0.24rem;
      top:0.14rem;
      left:1.8rem;
      bottom: 0;
      line-height: normal;
      input::-webkit-input-placeholder{
        text-align: right;
      }
    }
  }
</style>
