<template>
    <div class="number-field">
        <span class="label">{{label}}<span class="require" v-show="required">*</span></span>
        <div class="container">
          <input class="value" type="text" v-model="value" :placeholder="placeholder" @blur="blur"
               @input="onNumberInput(value)">
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import {
            getApprovalCndGroups
    } from '../../vuex/getters'
    import {
            setCndApprovers,
            setCurCondition
    } from '../../vuex/actions'
    import {commonProps, componentUpdate} from '../../mixins'
    import helper from '../../utils/helpers'


    export default {
        mixins: [commonProps, componentUpdate],
        vuex: {
            getters: {
                cndGroup: getApprovalCndGroups
            },
            actions: {
                setCndApprovers,
                setCurCondition
            }
        },
        data: function () {
            return {
                value: '',
                timer: null,
                regex: this.allowdecimal ? /(^-*\d*\.\d*|^-*\d*\.|^-*\d*)/ : /(^-*\d*)/
            }
        },
        props: {
            iscndkey: {
                type: Boolean,
                required: true
            },
            allowdecimal: {
                type: Boolean,
                required: true
            }
        },
        watch: {
            "value": function (val) {
                //var regexp = this.allowDecimal?/(^-*\d*\.\d*|^-*\d*\.|^-*\d*)/:/(^-*\d*)/;
                var matches_array = val.match(this.regex);
                Vue.nextTick(()=> {
                    this.value = matches_array[0]
                })
            }
            /*"allowdecimal": function () {
             this.regex = this.allowdecimal ? /(^-*\d*\.\d*|^-*\d*\.|^-*\d*)/ : /(^-*\d*)/
             }*/
        },
        methods: {
            validate() {
                console.log('校验')
                let reg = this.regex
                //if ( !(/^(-?[1-9]\d*|0)$/).test(this.value) ) {
                if ( !(reg.test(this.value) && this.value) ) {
                    helper.addErrorTips(this.$el)
                    this.value = ''
                    return false
                }
                return true
            },
            blur () {
                console.log("blur")
                let reg = this.regex
                //if ( !(/^(-?[1-9]\d*|0)$/).test(this.value) ) {
                //if ( !(/(^-*\d*\.\d*|^-*\d*\.|^-*\d*)/).test(this.value) ) {
                if ( !(reg.test(this.value)) ) {
                    helper.addErrorTips(this.$el)
                    this.value = ''
                }
            },
            onNumberInput: function (val) {
                if ( !this.iscndkey )return false;
                clearTimeout(this.timer);
                //延迟一定时间再执行判断下面的审批人操作
                this.timer = setTimeout(()=> {
                    let curCondition = this.getCurrentCnd(val)
                    this.setCurCondition(curCondition)
                    this.setCndApprovers(curCondition.usersContext)
                }, 300)
            },
            /**
             *  获取当前输入的值所在的条件下的审批人
             */
            getCurrentCnd: function (val) {
                let cndGroup = this.cndGroup;
                val = parseFloat(val)
                console.log(val);
                for (let i = 0; i < cndGroup.length; i++) {
                    let value = cndGroup[i]
                    for (let j = 0; j < value.cnds.length; j++) {
                        let cnd = value.cnds[j]
                        let cndContext = cnd.cndContext
                        if ( (cndContext.gte && cndContext.lt && val < cndContext.lt && val >= cndContext.gte)
                                || (cndContext.gte && !cndContext.lt && val >= cndContext.gte)
                                || (cndContext.gt === 0 && cndContext.lt && val < cndContext.lt && val >= cndContext.gt) ) {
                            return value
                        }
                    }
                }
                return {}
            },
        }
    }
</script>

<style lang="less">
    .number-field {
        margin-top: 0.15rem;
        background-color: #fff;
        font-size: 0.28rem;
        overflow: hidden;
        position: relative;
        padding: 0 0.24rem 0.44rem 0.24rem;
        line-height: 0.88rem;

        .label {
            display: block;
            top: 0.24rem;
            left: 0;
            color: #3f3f3f;
            width:1.6rem;
            line-height: normal;
            position: relative;
        }

        .value {
            padding-top:0.1rem;
            padding-bottom: 0.1rem;
            line-height: normal;
            font-size: 0.26rem;
            color: #404040;
            text-align: right;
            width: 100%;
            background: rgba(255,255,255,0)
        }
        .container{
          position: absolute;
          right:0.24rem;
          top:0.14rem;
          left:1.8rem;
          line-height: normal;
          bottom: 0;
          input::-webkit-input-placeholder{
            text-align: right;
          }
        }
    }
</style>
