
<template>
    <div class="photo-field">
        <div class="photo-header">
            <span class="label">{{label}}<span class="require" v-show="required">*</span></span>
            <span class="tips has-arrow" v-if="imagesLength==0">请选择</span>
            <span class="tips" v-if="imagesLength>0">已选{{imagesLength}}张</span>
        </div>
        <input type="file" v-show="imagesLength === 0" name="file" class="outerInput" accept="image/*" multiple @change="fileChange">
        <div class="photo-content has-border-t" v-show="imagesLength!=0">
            <span class="upload-addbtn" v-show="canUpload">
            <!--<b class="hengxian"></b>-->
             <!--<b class="shuxian"></b>-->
            <input type="file" name="file" class="file-input" accept="image/*" multiple @change="fileChange">
        </span>

        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import { commonProps, componentUpdate } from '../../mixins'
import PreviewItem  from './PreviewItem'
import helper from '../../utils/helpers'

var Preview = Vue.extend(PreviewItem)

export default {
    mixins: [commonProps, componentUpdate],
    data: function(){
        return {
            imagesLength: 0,
            value: [] //存数组
        }
    },
    computed: {
        canUpload (){
            return this.imagesLength === 4 ? false : true
        }
    },
    methods: {
        validate() {
            console.log('校验photofield')
            // TODO: 检验图片是否上传完成
            if (this.imagesLength === 0) {
                helper.addErrorTips(this.$el)
                return false
            }
            return true
        },
        fileChange: function(e){
            var self = this
            var files = e.target.files || e.dataTransfer.files
            if (!files.length) {
                return
            }
            //限制上传的数量
            if((files.length + this.imagesLength) > 4){
                this.$el.querySelector('.file-input').value = ''
                return this.$alert({title: '警告', content: '最多可以上传4张图片'})
            }

            Array.prototype.slice.call(files, 0).forEach(function(file) {
                new Preview({
                        parent: this,
                        el: document.createElement('div'),
                        data: {
                            file: file,
                            progress: 0
                        }
                }).$before(this.$el.querySelector('.upload-addbtn'))
                this.imagesLength += 1
            }.bind(this))

            //清空input的内容，允许上传与上次上传的内容
            this.$el.querySelector('.file-input').value = ''
        }
    },
    components: {
        PreviewItem
    }
}
</script>

<style lang="less">
    .photo-field {
        margin-top: 0.15rem;
        background-color: #fff;
        font-size: 0.28rem;
        overflow: hidden;
        position: relative;
        display: block;
        line-height: 0.88rem;

        .photo-header {
            vertical-align: middle;
            padding: 0 .24rem;
            overflow: hidden;
            position: relative;
            z-index:0;
            .label {
                position: absolute;
                top: 0;
                left: 0.24rem;
                display: block;
                color: #3f3f3f;
            }

            .tips {
                color: #9a9a9a;
                display: block;
                width: 100%;
                padding-left: 1.5rem;
                text-align: right;
                position: relative;
                font-size:0.26rem;
              &.has-arrow:after{
                content: "";
                display: inline-block;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                height: 0.16rem;
                width: 0.16rem;
                border-width: 0.02rem 0.02rem 0 0;
                border-color: #9a9a9a;
                border-style: solid;
                position: relative;
                top: -0.02rem;
                margin-left: .15rem;
                right: 0.06rem;
              }
            }
        }
        .outerInput {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index:1;
        }

        .photo-content {
          font-size:0;
          position: relative;
          padding:0.24rem;
          line-height: normal;
        }

        .upload-addbtn {
            width: 1.1rem;
            height: 1.1rem;
            line-height: 1rem;
            border: 1px dashed #CCC;
            box-sizing: border-box;
            position: relative;
            border-radius: .14rem;
            display: inline-block;
            margin-right: .2rem;
            border-width: 0.02rem;
            vertical-align: top;
            background: url("../../assets/camera.svg") no-repeat center center;
            background-size:70% auto;

            .hengxian, .shuxian {
                position: absolute;
                top: 50%;
            }

            .hengxian {
                display: block;
                font-weight: 400;
                width: .6rem;
                height: .02rem;
                border-top: .02rem solid #abb1b3;
                left: 50%;
                margin-left: -0.3rem;
            }

            .shuxian {
                font-style: normal;
                width: .02rem;
                height: .6rem;
                border-left: .02rem solid #abb1b3;
                left: 50%;
                margin-top: -0.3rem;
            }

            .file-input {
                width: 1.1rem;
                height: 1.1rem;
                position: relative;
                z-index: 99;
                opacity: 0;
                cursor: pointer;
            }
        }
    }

</style>
