<template>
    <span class="photoUploadItem preview" isUploading="{{uploading}}">
        <img :src="src" alt="">
        <span class="mask" v-show="success == false">
               <span class="progress" v-show="uploading">{{progress}}%</span>
               <span class="reSend" 
               v-show="uploading==false&&success==false"
               @click="reTry"
               >重新上传</span>
         </span>
        <div class="del" v-show="uploading==false" @click.stop="delete">×</div>
    </span>
</template>

<script>
import config from '../../config'

export default {
    data: function(){
        return {
            photoId: null,
            file: null,
            src: null,
            success: false,
            uploading: false,
            progress: 0,
            endPoint: config.fileUploadUrl
        }
    },
    methods: {
        delete () {
            this.$parent.imagesLength -= 1
            var index = this.$parent.value.indexOf(this.photoId)
            if (index > -1) {
                this.$parent.value.splice(index, 1);
            }
            this.$destroy(true)
        },
        reTry () {
            var self = this
            this.uploading = true
            this.upload(this.file)
            .then(function(result){
                self.success = true
                self.uploading = false
            }).catch(function(error){
                self.success = false
                self.uploading = false
            })
        },
        onProgress (e) {
            if(e.loaded == 0 && e.total == 0){
                return 
            }
            this.progress = Math.floor(e.loaded / e.total * 100)
            
        },
        upload (file) {
            var form = new FormData()
            var xhr = new XMLHttpRequest()

            form.append('Content-Type', file.type || 'application/octet-stream')
            form.append('uploadfile', file)

            return new Promise((resolve, reject) => {
                xhr.upload.addEventListener('progress', this.onProgress, false)
             
                xhr.onreadystatechange = (e) => {
                    if(xhr.readyState == 4) {
                        if(xhr.status == 200){
                            var res = JSON.parse(xhr.responseText)
                            resolve({res: res, file: file})
                        }
                    }
                }

                xhr.onerror = (e) => {
                    console.log('onerror')
                    reject(e)
                }
                
                xhr.open('POST', this.endPoint)
                xhr.send(form)
                
            })
        
        },
        /**
        * 本地预览
        */
        localPreview () {
            var image = new Image()
            var reader = new FileReader()
            var self = this;
            reader.onload = (e) => {
                self.src = e.target.result
            }
            reader.readAsDataURL(this.file)
        }
    },
    created () {
        var self = this
        self.uploading = true
        this.localPreview()
        this.upload(this.file)
        .then(function(result){
            self.success = true
            self.uploading = false
            //将返回值的id push进父组件的value
            self.photoId = result.res.data
            self.$parent.value.push(self.photoId)
        }).catch(function(error){
            self.success = false
            self.uploading = false
        })
    }
}
</script>

<style lang="less">
    .preview {
            margin-right: 0.2rem;
            position: relative;
            display: inline-block;
            
            img {
                width: 1.1rem;
                height: 1.1rem;
                border-radius: .14rem;
            }
            
            .mask {
                position: absolute;
                width: 1.1rem;
                height: 1.1rem;
                top: 0;
                right: 0;
                background: #000;
                opacity: 0.6;
                font-size: 0.28rem;
                color: #fff;
                text-align: center;
                line-height: 1.1rem;
                border-radius: .14rem;
                
                .reSend {
                    font-size: 0.2rem;
                }
            }
            
            .progress {
                font-size: 0.2rem;
                text-align: center;
                left: 0;
                width: 100%;
            }
        
            .del, .progress {
                position: absolute;
                color: #fff;
            }

            .del {
                position: absolute;
                top: .03rem;
                right: .03rem;
                width: .36rem;
                height: .36rem;
                box-sizing: border-box;
                border-radius: 50%;
                line-height: .36rem;
                font-size: .24rem;
                color: #FFF;
                text-align: center;
                background: rgba(4,20,42,.7);
            }
        }
</style>
