<template>
    <div class="white">
        <label class="select-field">
            <span class="label">{{label}}<span class="require" v-show="required">*</span></span>
            <div class="container">
                <span class="value has-arrow" v-if="!(value && value!='请选择')">{{placeholder}}</span>
               <span class="value" v-if="value && value!='请选择'">{{value}}</span>
            </div>
            <select v-model="value" @change="onSelected(value)">
                <option>请选择</option>
                <option v-for="item in options" track-by="$index">{{item}}</option>
            </select>
        </label>
    </div>
</template>

<script>
    import {
            getApprovalCndGroups
    } from '../../vuex/getters'
    import {
            setCndApprovers,
            setCurCondition
    } from '../../vuex/actions'
    import {commonProps, componentUpdate, validate} from '../../mixins'
    import helper from '../../utils/helpers'

    export default {
        mixins: [commonProps, componentUpdate],
        vuex: {
            getters: {
                cndGroup: getApprovalCndGroups
            },
            actions: {
                setCndApprovers,
                setCurCondition
            }
        },
        props: {
            options: {
                type: Array,
                required: true
            },
            value: {
                type: String,
                default: ''
            },
            flag: {
                type: String,
                default: ''
            },
            iscndkey: {
                type: Boolean,
                required: true
            }
        },
        data: function () {
            return {
                timer: null
            }
        },
        methods: {
            validate() {
                console.log('校验')
                if ( !this.value || this.value == "请选择" ) {
                    helper.addErrorTips(this.$el)
                    return false
                }
                return true
            },
            onSelected: function (val) {
                if ( !this.iscndkey )return false;
                clearTimeout(this.timer);
                //延迟一定时间再执行判断下面的审批人操作
                this.timer = setTimeout(()=> {
                    let curCondition = this.getCurrentCnd(val)
                    this.setCurCondition(curCondition)
                    this.setCndApprovers(curCondition.usersContext)
                }, 300)
            },
            /**
             *  获取当前输入的值所在的条件下的审批人
             */
            getCurrentCnd: function (val) {
                let cndGroup = this.cndGroup;
                console.log(val);
                if ( val == "请选择" )return {};
                for (let i=0;i<cndGroup.length;i++) {
                    let value = cndGroup[i]
                    for (let j=0;j<value.cnds.length;j++) {
                        let cnd = value.cnds[j]
                        if ( val === cnd.cndContext.eq ) {
                            return value
                        }
                    }
                }
                return {}
            }
        }
    }
</script>

<style lang="less">

    .select-field {
        margin-top: 0.15rem;
        background-color: rgba(255,255,255,0);
        font-size: 0.28rem;
        overflow: hidden;
        position: relative;
        padding: 0 0.24rem 0.44rem 0.24rem;
        box-sizing: content-box;
        display: block;
        line-height: 0.88rem;

        .label {
          display: block;
          top: 0.24rem;
          left: 0;
          color: #3f3f3f;
          width:1.6rem;
          line-height: normal;
          position: relative;
        }

        .value {
            display: block;
            padding-top:0;
            line-height: normal;
            font-size: 0.26rem;
            color: #404040;
            text-align: right;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          &.has-arrow{
            color: #9a9a9a;
            &:after{
              content: "";
              display: inline-block;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              height: 0.16rem;
              width: 0.16rem;
              border-width: 0.02rem 0.02rem 0 0;
              border-color: #9a9a9a;
              border-style: solid;
              position: relative;
              top: -0.02rem;
              margin-left: .15rem;
              right: 0.06rem;
            }
          }
        }

        select {
            appearance:none;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            line-height: 0.88rem;
            box-sizing : border-box;
            width: 100%;
            background: rgba(255,255,255,0)
        }
      .container{
        position: absolute;
        right:0.24rem;
        top:0.24rem;
        left:1.8rem;
        bottom: 0;
        line-height: normal;
      }
    }
</style>
