<template>
    <div class="textarea-field">
        <span class="label">{{label}}<span class="require" v-show="required">*</span></span>
        <textarea :maxlength="max" v-model="value" class="textarea" placeholder="{{placeholder}}" v-auto-height="value" ></textarea>
        <span class="count">{{count}}/{{max}}</span>
    </div>
</template>


<script>
import AutoHeight from '../../directives/AutoHeight'
import { commonProps, componentUpdate, validate } from '../../mixins'

export default {
    mixins: [commonProps, componentUpdate, validate],
    props: {
        max: {
            type: Number,
            required: false,
            default: 200
        }
    },
    data: function(){
        return {
            value: ''
        }
    },
    computed: {
        count: function(){
            return this.value.length
        }
    }

}
</script>

<style lang="less">
    .textarea-field {
        margin-top: 0.15rem;
        background-color: #fff;
        font-size: 0.28rem;
        overflow: hidden;
        position: relative;

        .label {
            position: absolute;
            top: 0.24rem;
            left: 0.24rem;
            color: #3f3f3f;
            font-size: 0.28rem;
            width:1.6rem;
        }

        .textarea {
            font-size: 0.26rem;
            margin: 0.24rem 0.15rem 0.38rem 0.2rem;
            resize: none;
            overflow: hidden;
            min-height: 1.8rem;
            max-height: 3rem;
            color: #404040;
            width: 100%;
            padding: 0;
            padding-left: 1.6rem;
            padding-right: 0.32rem;
            background: rgba(255, 255, 255, 0);
        }

        .count {
            color: #9a9a9a;
            font-size: 0.16rem;
            position: absolute;
            right: 0.24rem;
            bottom: 0.14rem;
        }
    }
</style>
