<template>
<div class="text-field">
    <span class="label">{{label}}<span class="require" class="require" v-show="required">*</span></span>
    <div class="container">
      <input class="value" v-model="value" maxlength="20" :placeholder="placeholder">
    </div>
</div>
</template>

<script>
import Vue from 'vue'
import { commonProps, componentUpdate, validate} from '../../mixins'
import helper from '../../utils/helpers'

export default {
    mixins: [commonProps, componentUpdate],
    data: function(){
        return {
            value: ''
        }
    },
    methods: {
        validate() {
            console.log('校验')
            if (!this.value) {
                helper.addErrorTips(this.$el)
                return false
            }
            return true
        }
    }

}
</script>

<style lang="less">
    .text-field {
        margin-top: 0.15rem;
        background-color: #fff;
        font-size: 0.28rem;
        overflow: hidden;
        position: relative;
        padding: 0 0.24rem 0.44rem 0.24rem;
        line-height: 0.88rem;
        .label {
            display: block;
            top: 0.24rem;
            left: 0;
            color: #3f3f3f;
            width:1.6rem;
            line-height: normal;
            position: relative;
        }

        .value {
            padding-top:0.1rem;
            padding-bottom: 0.1rem;
            line-height: normal;
            font-size: 0.26rem;
            color: #404040;
            text-align: right;
            width: 100%;
            background: rgba(255,255,255,0);

        }
        .container{
          position: absolute;
          right:0.24rem;
          top:0.14rem;
          left:1.8rem;
          bottom: 0;
          line-height: normal;
          input::-webkit-input-placeholder{
            text-align: right;
          }
        }
    }
</style>
