/**
 * Created by yuce_wang on 2016/7/20.
 */
    <template>
        <div v-show="personRuleType==2" class="ff-addadmin-container">
            <div class="ff-admin-item" v-for="person in personSelectList">
                <img class="ff-admin-avatar" :src="person.photoUrl">
                <div class="ellipsis">{{person.userName}}</div>
            </div>
            <div class="ff-addadmin-item" @click="addPersonSelectList(personSelectList,global)">
                <div class="ff-add-icon"></div>
                <div class="ellipsis">添加审批人</div>
            </div>
        </div>
    </template>
<script>
    import {addPersonSelectList} from '../../vuex/action'
    import {personRuleType,personSelectList,global} from '../../vuex/getter'
    export default{
        vuex: {
            getters: {
                personRuleType,
                personSelectList,
                global
            },
            actions: {
                addPersonSelectList
            }
        }
    }
</script>
