<template>
    <div class="fd-design-step" :class="{'fd-design-active': approvalStep+1==step}">
        <span class="fd-design-step-icon">{{step}}</span>
        <p class="fd-design-step-text">{{word}}</p>
    </div>
</template>

<script>
    import {
        approvalStep
    } from '../../vuex/getter'

    export default {
        vuex: {
            getters: {
                approvalStep
            },
            actions: {}
        },
        props: {
            step: {
                type: String,
                required: true
            },
            word: {
                type: String,
                required: true
            }
        }
    }
</script>

<style lang="less">
    .fd-design-step {
        text-align: center;
        color: #9a9a9a;
    }

    .fd-design-step-icon {
        display: inline-block;
        width: 38px;
        height: 38px;
        line-height: 34px;
        border: 2px solid #9a9a9a;
        font-size: 28px;
        vertical-align: middle;
        -o-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -o-border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .fd-design-active .fd-design-step-icon {
        border: 2px solid #f7f7f7 !important;
    }

    .fd-design-step-text {
        font-size: 18px;
        margin-top: 2px;
    }
</style>
