body{
    height: 100%;
    background: #e2e6ee;
    font-family: "Microsoft Yahei";
}
button{
    border: none;
    outline: none;
}
a{
    
}
th{
    font-weight: normal;
}
ul{
    margin: 0;
    padding: 0;
}
.btn-grey{
    height: 35px;
    line-height: 35px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #666;
}
.btn-blue{
    height: 30px;
    width: 90px;
    text-align: center;
    line-height: 30px;
    background: #44bbfc;
    border-radius: 3px;
    color: #fff;
}

.am-header{
    height: 60px;
    width: 1000px;
    margin: 0 auto 12px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 18px;
    background: #fff;
}
.am-bd{
    width: 1000px;
    margin: 0 auto;
    color: #3c3c3c;
    background: #fff;
    padding-bottom: 20px;
}
.am-nav{
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #e3e3e3;
}
.am-nav button{
    height: 100%;
    margin-left: 20px;
    color: #808080;
    background: #fff;
}
.am-nav .am-curr{
    color: #44bbfc;
    border-bottom: 2px solid #44bbfc;
}
.am-nav .am-export-btn, .am-create-approval{
    float: right;
    margin: 7px 20px;
    cursor: pointer;
}
.am-nav .am-export-btn{
    background: #48d269;
    width: 50px;
}
.approval-btn{
    display: none;
}
.am-input-row span.am-approve-number{
    margin-right: 0;
}
.am-manage-content, .am-export-content{
    padding: 0 20px;
}
.am-approval-title{
    font-size: 18px;
}
.am-button-group{
    /* float: right; */
}
.am-table{
    width: 100%;
    border: 1px solid #c2c2c2;
    margin-top: 25px;
    word-break: break-word;
}
.am-table tr th{
    border: 1px solid #c2c2c2;
}
.am-table tr{
    /*height: 40px;*/
}
.am-table .am-table-header{
    background: #e2e6ee;
    font-weight: normal; 
}
.am-table tr td, .am-table tr th{
    padding: 10px 0;
    text-align: center;
    border: 1px solid #c2c2c2;
}
.am-table .am-manage-tbody a{
    display: inline-block;
   /*  width: 20%; */
    color: #1290d5;
}
.am-create-approval{
   /*  margin-top: 20px; */
   display: block;
    padding:0 15px;
    width:auto;
}
.am-operate-log{
    margin-top: 40px;
    display: none;
}
.am-log-title{
    height: 38px;
    padding-left: 5px;
    background: #f5f8f9;
    line-height: 38px;
}
.am-log-list{
    padding-bottom: 50px;
}
.am-log-item{
    height: 38px;
    padding-left: 5px;
    border-bottom: 1px solid #ededed;
    line-height: 38px;
    color: #808080;
}
.am-log-col{
    color: #3c3c3c;
}
.am-blue{
    color: #0b63d0;
}
.am-yellow{
    color: #cb9413;
}
.am-red{
    color: #f35959;
}
.am-skyblue{
    color: #1290d5;
}

/******export start******/
.am-export-content{
    display: none;
}
.am-input-group{
    color: #3f3f3f;
}
.am-input-row{
    margin-top: 20px;
}
.am-input-row span{
    display: inline-block;
}
.am-input-row input, .am-input-row select{
    height: 28px;
    border: 1px solid #c3c3c3;
}
.am-input-row span{
    margin-right: 15px;
}
#d12{
    margin-right: 2px;
}
.am-input-group .am-department input, .am-approve-type select{
    cursor: pointer;
}
.am-input-row label{
    margin-right: 5px;
}
html .am-department input[disabled]{
    width: 190px;
    background: #FFF;
    cursor: pointer;
}
.am-approve-date input{
    width: 104px;
    cursor: pointer;
}
.am-promoter{
    /* margin-right: 130px; */
}
.am-promoter, .am-approve-number{
  /*   width: 225px; */
}
.am-approve-type select{
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.am-export-content .am-approver{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
/******export end******/

.am-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    display: none;
}
.am-popbox{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 342px;
    width: 524px;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 3px 3px rgba(4,20,42,.3);
}
.am-popbox-header{
   height: 49px;
   text-indent: 10px;
   line-height: 49px;
   border-bottom: 1px solid #dce1e8;
   font-size: 18px;
   color: #3f3f3f;
}
.am-popbox h3{
   padding: 10px 0px 0px 40px;
}
.am-popbox .creatNew{
    padding: 10px;
    margin: 10px 0px 0px 40px;
    display: block;
    width: 150px;
    background-color: #5DC00D;
    color: #ffffff;
}
.am-popbox-close{
    position: absolute;
    right: 10px;
    color: #e5e8ee;
    font-size: 36px;
    font-weight: 100;
}
.am-popbox-close:hover{
    cursor: pointer;
}
.am-popbox-list{
    padding: 0 30px;
}
.am-popbox-item{
    float: left;
    width: 33.3%;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
} 
/*.am-popbox-item::before{
    content: "";
    display: inline-block;
    height: 55px;
    width: 55px;
    background: url(/freeflow/images/tpl-icon.png) no-repeat;
}*/
.am-blank::before{
    content: "";
    display: inline-block;
    height: 55px;
    width: 55px;
    background: url(/freeflow/images/tpl-icon.png) no-repeat;
    background-position: -17px -25px;
}
/*
 * .am-business::before{
    background-position: -172px -25px;
}
.am-expense::before{
    background-position: -330px -25px;
}
.am-leave::before{
    background-position: -17px -150px;
}
.am-apply::before{
    background-position: -172px -150px;
}
.am-use::before{
    background-position: -330px -150px;
}
*/
.am-popbox-item p{
    /*display: none;*/
    margin: 10px 0 0;
}

.am-popbox-item img{
    width:55px;
    height:55px;
}

.notify{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(50%);
    -moz-transform: translateX(-50%) translateY(50%);
    -o-transform: translateX(-50%) translateY(50%);
    transform: translateX(-50%) translateY(50%);
    padding: 5px 10px;
    z-index: 123335;
    border-radius: 5px;
    background: rgba(0,0,0,.7);
    color: #fff;
    display: none;
}
.am-manage-no-data{
    text-align: center;
}
.am-department input, .am-promoter input, .am-approve-number input{
    width: 107px;
    font-size: 12px;
}
.approval-data-chaxun{
    width: 50px;
    height: 30px;
    line-height: 30px;
    background: #3cbaff;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    display: inline-block;
    margin: 7px 10px;
}
.am-input-group input{
    padding: 0 5px;
}
.operation-log-type1 b{
    color: #44bbfc;
}
.operation-log-type2 b{
    color: #cb9413;
}

/* ------------查看单据弹框------------ */
.view-details-frame{
    width: 420px;
    min-height: 540px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -328px;
    margin-left: -230px;
    background: #FFF;
    overflow: hidden;
    display: none;
    box-shadow: 0 6px 15px #b7b9c0;
    z-index: 200;
}
.view-details-frame-header{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    color: #FFF;
    position: relative;
    background: rgb(49, 210, 234);
}
.view-details-cancel{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 7.5px;
    right: 10px;
    z-index: 10000;
    background: url(/im/templates/n/skin-default/images/quxiao.png) no-repeat center center;
    background-size: 65%;
}
.view-details-btn{
    margin-right: 10px;
}
.view-details-frame-content{
    width: 420px;
    height: 495px;
    border: 0px;
}
 .view-details-frame-content::-webkit-scrollbar{
    width: 0px;
 }   
/* ------------预览打印弹窗------------ */
.view-print-frame{
    width: 420px;
    /*min-height: 540px;*/
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -328px;
    margin-left: -230px;
    background: #FFF;
    overflow: hidden;
    display: none;
    box-shadow: 0 6px 15px #b7b9c0;
    z-index: 200;
}
.view-print-frame-header{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    color: #FFF;
    position: relative;
    background: rgb(49, 210, 234);
}
.view-print-frame-body{
    height: 450px;
    overflow: auto;
}
.view-print-cancel{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 7.5px;
    right: 10px;
    z-index: 10000;
    background: url(/im/templates/n/skin-default/images/quxiao.png) no-repeat center center;
    background-size: 65%;
}
.view-print-btn{
    margin-right: 10px;
}
.view-print-frame-content{
    width: 420px;
    height: 495px;
}
#print-frame{
    display: none;
}
.pdf-con {
    width: 100%;
    padding: 0px 5px 5px 20px;
}
.pdf-con .pdf {
    width: 100%;
    margin: 0px auto;
}
.pdf-con .pdf .header {
    width: 100%;
    /*border: 1px solid #555555;*/
    /*border: 1px solid #c0c0c0;*/
}
.pdf-con .pdf .header h2 {
    text-align: center;
    margin: 20px 0px 10px 0px;
    font-size: 18px;
    font-weight: normal;
    color: #3f3f3f;
}
.pdf-con .pdf .con-body {
    /*border: 1px solid #555555;*/
    /*border: 1px solid #c0c0c0;*/
    border-top: none;
    width: 100%;
}
.pdf-con .pdf .con-body p.comp-a-time {
    padding: 10px 10px;
}
.pdf-con .pdf .con-body p.comp-a-time span {
    /*font-size: 14px;*/
    font-size: 12px;
    padding: 0px 5px;
}
.pdf-con .pdf .con-body p.ptime-ppeop {
    padding: 10px 10px;
}
.pdf-con .pdf .con-body p.ptime-ppeop span {
    /*font-size: 14px;*/
    font-size: 12px;
    padding: 0px 5px;
}

.pdf-con .pdf .con-body table.con-table {
    width: 96%;
    border-collapse: collapse;
    margin: 0px auto;
    font-size: 14px;
    color: #3f3f3f;
}

.pdf-con .pdf .con-body table.con-table tbody tr td {
    /*border: 1px solid #555555;*/
    border: 1px solid #c0c0c0;
    margin: 0px;
}
.pdf-con .pdf .con-body table.con-table tbody tr td:first-child{
    min-width: 85px;
}

table.con-table tbody tr td span.t-title {
    text-align: center;
    display: block;
    padding: 5px 0px;
    font-size: 12px;
}

table.con-table tbody tr td span.t-con {
    /*padding: 5px 5px;*/
    padding: 5px 10px;
    display: block;
}

ul.t-ul {}

ul.t-ul li.t-li {
    list-style: none;
    padding: 5px 5px;
}

ul.t-ul li.t-li:not(:last-child) {
    /*border-bottom: 1px solid #555555;*/
    border-bottom:1px solid #c0c0c0;
}

ul.t-ul li.t-li span {
    padding: 5px 5px;
}

ul.t-ul li.t-li span.s-time {
    padding: 5px 5px;
    color: #999999;
    /*font-size: 14px;*/
    font-size: 12px;
}
.view-print-frame-footer{
    line-height: 20px;
    text-align: right;
    padding: 10px 10px 15px 0;
}
.view-print-frame-footer .quxiao{
    border: 1px solid #C3C3C3;
    background: #FFFFFF;
    width: 89px;
    height: 29px;
    color: #808080;
    margin-right: 10px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    line-height: 31px;
    text-align: center;
}
.view-print-frame-footer .dayin{
    background: #31d2ea;
    color: #FFF;
    border-radius: 3px;
    display: inline-block;
    width: 91px;
    height: 31px;
    vertical-align: middle;
    line-height: 31px;
    text-align: center;
}
.view-print-frame-mask {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.2;
    filter: alpha(opacity=20);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}

/* 云之家头部 */
.job-log-report-header {
    width: 100%;
    height: 60px;
    /*background: url(/workreport/web/images/work-bg-h.jpg) repeat-x;*/
    background-color: #3cbaff;
}

.job-log-report-header2 {
    width: 1000px;
    height: 60px;
    margin: 0 auto;
}
.job-log-report-logo {
    display: block;
    height: 60px;
    line-height: 60px;
}
.job-log-report-logo img {
    position: relative;
    top: 5px;
    height: 50px;
}
.job-log-report-name {
    height: 60px;
    line-height: 60px;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}
.job-log-report-name i {
    color: #7fb5dd;
    padding: 0 5px;
}