html, body{
	display: block;
    height: 100%;
}

body{
	font: 14px/1.5em "Helvetica Neue", "微软雅黑","宋体",tahoma,arial,sans-serif;
	color: #3f3f3f;
}

*, *:before, *:after{
	box-sizing: border-box;
}

input,textarea{
	outline: none;
}

ul{
	list-style-type: none;
}

p{
	margin: 0;
	padding: 0;
}

a, a.visited{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.clearfix{
	zoom: 1;
}

.clearfix::after{
	content: '';
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}

.none{
	display: none;
}

.ellipsis{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    word-break: keep-all;
}

.vertical-middle{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.blue{
	color: #3cbaff !important;
}


.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt25 {margin-top: 25px;}
.mt30 {margin-top: 30px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.ml25 {margin-left: 25px;}


.hide {
    display: none!important;
}


/*----------------- 头部样式  -------------------*/
#body{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
    overflow-x: hidden;
}

.hd{
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	width: 100%;
}

/*---------- 组织架构通用样式start ---------*/
.orgtree-node{
	cursor: pointer;
}

.orgtree-node > .orgtree-nodelist{
	/*padding: 0 0 0 20px;*/
	display: none;
}

.orgtree-root > .orgtree-nodelist{
	display: block;
	/*padding-left: 10px;*/
}

.orgtree-node.orgtree-node-expand > .orgtree-nodelist{
	display: block;
}

.orgtree-node-icon{
	display: inline-block;
    width: 10px;
    height: 14px;
    vertical-align: middle;
    background: url(/freeflow/web/images/icons.png) no-repeat;
    background-position: -29px -66px;
    margin-right: 10px;
    transition: transform 300ms;
}

.orgtree-node-expand > .orgtree-node-name .orgtree-node-icon{
	transform: rotate(90deg);
}

.orgtree-node-name{
	display: block;
	width: 100%;
	padding: 8px 0;
}

.orgtree-loading{
	text-align: center;
	padding: 2px 0 0 0;
}

.orgtree-space{
	padding-left: 20px;
}

.orgtree-node .fd-checkbox-label{
	font-size: 14px;
}

.orgtree-node .fd-checkbox + .fd-checkbox-face{
	background-position: -25px 0;
	margin-right: 5px;
}

.orgtree-node .fd-checkbox:checked + .fd-checkbox-face{
	background-position: -26px -21px;
}

.orgtree-leaf > label{
	margin: 2px 0;
}

.orgtree-leaf img{
	width: 20px;
	height: 20px;
	border-radius: 4px;
	vertical-align: middle;
	margin-right: 10px;
}

.orgtree-person-name{
	font-size: 12px;
	vertical-align: middle;
}

/*---------- 组织架构通用样式end ---------*/


.ui-tips{
	width: 200px;
    padding: 10px 20px;
    background: #36AEEE;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    border-radius: 4px;
    box-sizing: content-box;
}


/*--------添加+加号---------start*/
.add-btn, .approval-person-photo {
    display: block;
    position: relative;
    border: 1px dashed #ccc;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 13px;
    float: left;
    margin-right:15px;
    margin-bottom: 30px;
}
.approval-person-photo:not(:nth-last-child(2)):after {
    content: "";
    position: absolute;
    top: 45%;
    right: -17px;
    overflow: hidden;
    width: 13px;
    height: 13px;
    background-color: #FFFFFF;
    border-right: 3px solid #888888;
    border-top:3px solid #888888;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix( M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand')";
    filter: progid: DXImageTransform.Microsoft.Matrix( M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand');
}
.approval-person-photo p{
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.approval-person-photo img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}
.add-btn .hengxian {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 1px;
    background: #ccc;
    margin-left: -20px;
}
.add-btn .shuxian {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 40px;
    background: #ccc;
    margin-top: -20px;
}
/*--------添加+加号---------end*/

/*--------------- css3动画 ---------------*/
.floatin{
	animation: floatin 3s forwards;
}

@keyframes floatin{
	0%{
		transform: translateY(-100%);
	}
	10%, 90%{
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
}

.fadein{
	animation: fadein 400ms forwards;
}

.fadeout{
	animation: fadeout 400ms forwards;
}

@keyframes fadein{
	from{
		opacity: 0;
	} to {
		opacity: .5;
	}
}

@keyframes fadeout{
	from{
		opacity: .5;
	} to {
		opacity: 0;
	}
}

.zoomin{
	animation: zoomin 150ms ease-out forwards;
}

@keyframes zoomin{
	0%{
		transform: translate(-50%, -50%) scale(1.1);
	}
	100%{
		transform: translate(-50%, -50%) scale(1);
	}
}
