.fr {
  float: right;
}
.text-center {
  text-align: center;
}
.q-form-row .q-form-input {
  width: 100%;
  height: 36px;
  border: 1px solid #dce1e7;
  font-size: 14px;
  padding-left: 8px;
}
.q-hint-item {
  display: none;
  color: #f35959;
}
.q-btn {
  padding: 5px 40px;
  border-radius: 4px;
  cursor: pointer;
}
.q-btn.btn-primary {
  background-color: #44bbfc;
  color: #fff;
}
.q-btn.btn-primary:hover {
  background-color: #36adfb;
  text-decoration: inherit;
}
.q-btn.btn-default {
  background-color: #e5e5e5;
  color: #fff;
}
.q-btn.btn-default:hover {
  background-color: #e0e0e0;
  text-decoration: inherit;
}
.q-bg {
  display: none;
  z-index: 123000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.q-dialog {
  display: none;
}
.q-dialog,
.q-alert {
  position: fixed;
  z-index: 123333;
  width: 364px;
  min-height: 220px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  margin-top: -110px;
  margin-left: -182px;
  border-radius: 4px;
  overflow: hidden;
}
.q-dialog-heard,
.q-alert-heard {
  height: 50px;
  line-height: 50px;
  background-color: #44bbfc;
  padding-left: 20px;
  color: #fff;
}
.q-dialog-body,
.q-alret-body {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 50px;
  padding: 20px;
}
.q-dialog-closebtn,
.q-alert-closebtn {
  float: right;
  display: block;
  width: 50px;
  height: 50px;
  background: url("../images/btn-close.png") no-repeat center center;
  cursor: pointer;
}
.q-dialog-title,
.q-alert-title {
  font-size: 20px;
  font-weight: normal;
}
.q-dialog-text,
.q-alert-text {
  margin: 10px 0;
}
.q-dialog-button-group {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 20px 20px 0;
}
.q-alert .q-alert-heard {
  background-color: transparent;
}
.q-alert .q-alert-body {
  padding: 0 20px;
}
.q-alert .q-alert-closebtn {
  background: url("../images/btn-alert-close.png") no-repeat center center;
}
.q-alert-button-group {
  margin-top: 40px;
}
.q-alert-button-group .q-btn {
  margin: 0 5px;
}
