html.fd-cursor-move, html.fd-cursor-move *{
	cursor: move;
}
*{
    margin: 0;
    padding: 0;
}
body.fd-bg{
	background-color: #6d7682;
}

.blur{
    -webkit-filter: blur(50px);
    filter: blur(50px);
}

/*自定义滚动条样式*/
::-webkit-scrollbar {
	overflow: visible;
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

::-webkit-scrollbar-thumb {
    min-height: 28px;
    padding: 100px 0 0;
    border: solid transparent;
    border-width: 1px;
    background-color: rgba(138, 153, 170, .6);
    /* background-clip: padding-box; */
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    padding: 0 0 0 100px;
    border-width: 6px 1px 1px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(138, 153, 170, .8);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(138, 153, 170, 1);
}

::-webkit-scrollbar-corner {
    background: transparent;
    /* background-color: #f00; */
}


/*-------- 通用输入框样式start --------*/
.fd-bd input[type="text"], .fd-bd textarea{
	width: 100%;
	border: 1px solid #dce1e8;
    padding: 0 8px;
    margin: 5px 0;
    border-radius: 2px;
    transition: .3s all;
}

.fd-bd input[type="text"]:focus, .fd-bd textarea:focus{
	border-color: #7ACBF7;
    box-shadow: 0 0 5px #58BFF6;
}

.fd-bd input[type="text"]{
	height: 32px;
}
input[type="text"].fd-input-text{
    height: 44px;
}
.fd-bd input[type="text"].error, .fd-bd textarea.error{
	border: 1px solid #3cbaff;
	box-shadow: none;
}

.fd-bd input[type="radio"],.fd-bd input[type="checkbox"]{
	vertical-align: middle;
    margin: -1px 4px 0 0;
}
/*-------- 通用输入框样式end --------*/


/*-------- 按钮样式start --------*/
.fd-btn{
	display: inline-block;
    outline: none;
    min-width: 102px;
    height: 30px;
    line-height: 28px;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 2px;
    padding: 0 10px;
    color: #fff;
}

.fd-btn + .fd-btn{
    margin-left:10px ;
}

.fd-btn-default{
	border-color: #DCE1E8;
	background-color: #fff;
	color: #6f6f6f;
}

.fd-btn-default:hover{
	background-color: #eee;
}

.fd-btn-primary{
	background-color: #44bbfc;
}

.fd-btn-primary:hover{
	background-color: #36AEEE;
}

.fd-btn-black{
	border-color: #fff;
}

.fd-btn-black:hover{
	background-color: #626D7B;
}

/*-------- 按钮样式end --------*/

/*-------- 选择框样式start --------*/
.fd-checkbox-label{
    display: block;
    font-size: 0;
    cursor: pointer;
}

.fd-checkbox{
	display: none;
}

.fd-checkbox-face{
	vertical-align: middle;
	margin-right: 10px;
}

.fd-label-text{
	vertical-align: middle;
    font-size: 14px;
    line-height: 1;
}

.fd-checkbox + .fd-checkbox-face{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/freeflow/web/images/icons.png) no-repeat;
	background-position: 0 0;
}

.fd-checkbox:checked + .fd-checkbox-face{
	background-position: 0 -21px;
}

/*-------- 选择框样式end --------*/

/*-------- 弹窗通用样式start -------*/
.fd-overlayer{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #04142a;
    opacity: .5;
    z-index: 999;
}

.fd-dialog{
	position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
    border-radius: 2px;
    background-color: #fff;
    padding-bottom: 61px;
}

.fd-dialog-hd{
	padding: 13px 15px;
    border-bottom: 1px solid #dce1e8;
    font-size: 18px;
}

.fd-dialog-closebtn{
    position: absolute;
    display: inline-block;
    width: 17px;
    height: 17px;
    top: 13px;
    right: 15px;
    background: url(/freeflow/web/images/icons.png) no-repeat;
    background-position: 0 -120px;
    cursor: pointer;
}

.fd-dialog-bd{
    padding: 15px;
}

.fd-dialog-ft{
    height: 61px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #dce1e8;
    padding: 15px;
}

.fd-dialog-btngroup{
    text-align: right;
    min-width: 98px;
}

.fd-dialog-btngroup button{
    margin-left: 15px;
}
/*-------- 弹窗通用样式end -------*/



.fd-bd a{
	color: #3f3f3f;
}

/*------ 头部start -------*/

.fd-bd-header{
	position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    padding: 16px 22px 0 0;
}

.fd-bd-header a, .fd-bd-header label{
	color: #fff;
}

.fd-header-l > * {
	display: inline-block;
	vertical-align: middle;
}

.fd-header-l .back-manager {
    width: 20px;
    height: 38px;
    background: url(/freeflow/web/images/icons.png) no-repeat;
    background-position: 0px -146px;
}

.fd-header-l .line {
	display: inline-block;
    height: 54px;
    border-left: 1px solid #9a9a9a;
    margin: 0 30px;
}

.fd-design-step {
	text-align: center;
	color: #9a9a9a;
}

.fd-design-active{
	color: #f7f7f7 !important;
}

.fd-design-active .fd-design-step-icon{
	border: 2px solid #f7f7f7 !important;
}

.fd-design-step-icon {
	display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 34px;
    border: 2px solid #9a9a9a;
    font-size: 28px;
    vertical-align: middle;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.fd-design-step-text {
	font-size: 18px;
	margin-top: 2px;
}

.fd-design-step.active {
    color: #fff;
}

.fd-design-step.active .fd-design-step-icon {
	border-color: #fff;
}

.fd-design-step-arrow {
	width: 20px;
    height: 38px;
    background: url(/freeflow/web/images/icons.png) no-repeat;
    background-position: -23px -146px;
    margin: 0 5px 0 13px;
}

.fd-header-title{
	font-size: 18px;
	margin: 0 20px 0 0;
}

.fd-btn-preview{
	margin-right: 8px;
}
/*------ 头部end -------*/



.fd-bd-main {
	position: absolute;
    left: 0;
    top: 90px;
    width: 1200px;
    transform: translateX(0%);
    transition: transform 1s ease;
}

.fd-bd-nextPage {
    position: absolute;
    top: 90px;
    left: 0;
    width: 1200px;
    height: 540px;
    transform: translateX(110%);
    transition: transform 1s ease;
}

.fd-bd-l, .fd-bd-r{
	width: 346px;
	position: absolute;
	top: 100px;
    bottom: 0;
}

/*-------  tab部分 -------*/
.fd-panel-tab{
	font-size: 0;
	position: absolute;
    width: 100%;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
}

.fd-tabitem{
	/* display: inline-block; */
    display: none;
    width: 100%;
    height: 50px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 48px;
    background-color: #e9ecf1;
    border: 1px solid #dce1e8;
}

.fd-tabitem.curr{
    display: block;
	background-color: #e9ecf1;
	border-color: transparent;
}

.fd-tabitem:hover{
	text-decoration: none;
}

/*-------- 可选控件部分 ---------*/
.fd-bd-l{
	left: 0;
}

.fd-widgetpanel, .fd-settingpanel{
	border-radius: 6px;
	overflow-x: hidden;
	overflow-y: auto;
	background: #fff;
	min-height: 395px;
	max-height: 100%;
}

.fd-widgetpanel .fd-panel-body{
	padding-top: 75px;
}

/*-------- 审批相关设置部分start ---------*/
.fd-form-settings{
	padding: 0 25px;
}

.fd-formsetting-item{
	margin-bottom: 20px;
}

.fd-formsetting-approver label{
	margin: 10px 0;
}

/*-------- 审批相关设置部分end ---------*/


/*-------- 可选控件部分start -------------*/
.fd-widgetitem, .fd-draging-mask{
    width: 131px;
    height: 45px;
    line-height: 43px;
    padding-left: 14px;
    border: 1px solid #dce1e8;
    margin: 0 0px 18px 27px;
    cursor: move;
}

.widgeticon{
	font-style: normal;
	margin-left: 10px;
}

.fd-widgetitem *{
	cursor: move;
}

.fd-widgetitem:hover{
	background-color: rgba(233, 236, 241, 0.6);
}
/*-------- 可选控件部分end -------------*/

/*---------- 控件排版部分 ---------*/
.fd-bd-c{
	width: 400px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.fd-phone{
    width: 100%;
    height: 815px;
    border: 1px solid #ddd;
    border-radius: 60px;
    background-color: #fff;
    box-shadow: 0 5px 8px #666;
    position: relative;
}

.fd-phone-header{
	width: 70px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 8px;
    top: 36px;
    background-color: #d5d5d5;
    border-radius: 10px;
    box-shadow: 0px 1px 2px #555 inset;
}

.fd-phone-header:before{
	content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-color: #d8d8d8;
    position: absolute;
    border-radius: 100%;
    left: -31px;
    top: -3px;
    box-shadow: 0px 1px 2px #aaa inset;
}

.fd-phone-header:after{
	content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: #A2A2A2;
    border-radius: 100%;
    position: absolute;
    left: -28px;
    top: 0px;
}

.fd-designer{
	position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    top: 76px;
    border: 2px solid #dce1e8;
    border-radius: 4px;
    background-color: #eef3fa;
    overflow-x: hidden;
	overflow-y: auto; 
    max-height: 645px;
}

.fd-title{
    text-align: center;
    font-size:18px;
    cursor: pointer;
}

.fd-title label{
    width: 100%;
}

.fd-designer-inner{
	padding-bottom: 30px;
}

/*---------- 单个控件样式start ----------*/

.fd-component{
	position: relative;
    overflow: hidden;
    margin: 6px 0;
    cursor: move;
}

.fd-component.draging{
	-webkit-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

.fd-component-overlayer{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid transparent;
    z-index: 2;
}

.fd-component.draging .fd-component-overlayer{
	background-color: rgba(180, 180, 180, .5);
}

.fd-component.hover .fd-component-overlayer{
	border-style: dashed;
	border-color: #3cbaff;
}

.fd-component.active .fd-component-overlayer{
	border-style: solid;
	border-color: #3cbaff;
}

.fd-designer-inner.draging .fd-component-overlayer{
	border-color: transparent;
}

.fd-component-group{
	padding: 6px 10px;
    background-color: #fff;
    border-style: solid;
    border-color: #dce1e8 transparent;
    border-width: 1px 0;
    font-size: 14px;
    position: relative;
}

.fd-component-group + .fd-component-group{
	border-top-width: 0;
}

.fd-component-label{
    display: inline-block;
    width: 5em;
    padding: 0 8px 0 0;
    white-space: normal;
    word-break: break-all;
    box-sizing: content-box;
}

.fd-component-placeholder{
	font-size: 14px;
    color: #bdbdbd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 103px;
    right: 0;
}

.fd-compnent-datefield .fd-component-placeholder, .fd-compnent-radiofield .fd-component-placeholder, .fd-compnent-daterangefield .fd-component-placeholder, .fd-compnent-photofield .fd-component-placeholder{
	left: inherit;
	right: 25px;
}

.fd-compnent-datefield .fd-component-placeholder, .fd-compnent-radiofield .fd-component-placeholder, .fd-compnent-daterangefield .fd-component-placeholder, .fd-compnent-filefield .fd-component-placeholder{
	left: inherit;
	right: 25px;
}

.fd-compnent-textareafield .fd-component-group{
	height: 60px;
    box-sizing: content-box;
}

.fd-compnent-textareafield .fd-component-placeholder{
	top: 26px;
}

.fd-component-entericon{
	display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid transparent;
    border-color: #9a9a9a #9a9a9a transparent transparent;
    transform: translateY(-50%) rotate(45deg);
    position: absolute;
    right: 13px;
    top: 50%;
}

.fd-component-remove{
	line-height: 1em;
	color: #fff;
	background: #3cbaff;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	display: none;
	z-index: 9;
}

.fd-component.hover .fd-component-remove{
	display: block;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.fd-component-remove:before{
	content: "\00d7";
    font-size: 16px;
    line-height: 14px;
    position: relative;
    top: 1px;
    left: 2px;
}


/*------- 占位线start -------*/
.fd-occupyline{
	width: 100%;
    height: 2px;
    background-color: #3cbaff;
    margin: 3px 0;
    position: relative;
}

.fd-occupyline:before, .fd-occupyline:after{
	content: '';
    display: block;
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 8px;
    top: -3px;
    width: 0;
    height: 0;
}

.fd-occupyline:before{
	left: 0;
	border-left-color: #3cbaff;
}

.fd-occupyline:after{
	right: 0;
	border-right-color: #3cbaff;
}
/*------- 占位线end -------*/


.fd-phone-footer{
	width: 55px;
    height: 55px;
    border: 1px solid #dce1e8;
    border-radius: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 15px;
    box-shadow: 0 0 3px #dce1e8;
}

/*---------- 控件设置部分 ---------*/
.fd-bd-r{
	right: 0;
}

.fd-settingpanel{
	padding: 25px;	
}

.fd-settingpanel-title{
	position: absolute;
    top: -35px;
    left: 25px;
    color: #fff;
    font-size: 15px;
}

.fd-setting-item{
	margin-bottom: 15px;
}

.fd-setting-iteminfo{
	color: #bdbdbd;
    margin-left: 5px;
    font-size: .9em;
}

.fd-setting-iteminfo.error{
	color: #f00;
}

/* 日期区间类型 */
.fd-setting-daterangelabel .fd-setting-itembody:not(:last-child){
	margin-bottom: 15px;
}

.fd-setting-dateformat .fd-setting-itembody{
	display: block;
	margin: 5px 0;
}

/* 单选框 */
.fd-setting-options .fd-setting-itembody input{
	width: 210px;
}

.fd-setting-options .fd-setting-itembody span{
	display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #6d7682;
    text-align: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
    line-height: 19px;
}

.fd-setting-options .fd-setting-itembody span:hover{
    background-color: #4D5561;
}

.fd-setting-options.nomore-add .fd-option-add, .fd-setting-options.limit-del .fd-option-del{
	opacity: .4;
}

.fd-setting-options.nomore-add .fd-option-add:hover, .fd-setting-options.limit-del .fd-option-del:hover{
	background-color: #6d7682;
	cursor: default;
}

/*---------- 拖动中的层 -------*/
.fd-draging-mask{
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
	border: none;
	z-index: 999;
	margin: 0;
}


/*--------- 选择审批人部分start ---------*/
.fd-select-approver{
	width: 350px;
	min-height: 218px;
}

.fd-select-approver .fd-dialog-bd{
    padding: 0 15px;
}

.fd-selectappr-check .fd-checkbox-label{
    padding: 16px 0;
}

.fd-selectappr-check label:first-child{
     padding: 15px 0;
    border-bottom: 1px solid #dce1e8;
}


/*--------- 搜索框start --------*/
.fd-selectappr-searchgroup{
    border: 1px solid #ccc;
    height: 26px;
    border-radius: 13px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.fd-selectappr-icon{
    position: absolute;
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(/freeflow/web/images/icons.png) no-repeat;
}

.fd-search-icon{
    left: 6px;
    top: 3px;
    background-position: -3px -64px;
}

.fd-search-closebtn{
    right: 5px;
    top: 3px;
    background-position: -21px -120px;
    cursor: pointer;
    display: none;
}

.fd-selectappr-searchinput{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 13px;
    padding: 0 26px 0 28px;
    line-height: 1.3;
}

.fd-selectappr-searchinput.searching + .fd-search-closebtn{
    display: inline-block;
}

.fd-selectappr-searchinput::-webkit-input-placeholder{
    color: #bdbdbd;
}
.fd-selectappr-searchinput::-moz-placeholder{
    color: #bdbdbd;
}

.fd-selectappr-searchinput:-moz-placeholder{
    color: #bdbdbd;
}

.fd-selectappr-searchinput:-ms-input-placeholder{
    color: #bdbdbd;
}

/*--------- 搜索框end --------*/

.fd-selectappr-org, .fd-selectappr-searchresult{
    height: 240px;
    border: 1px solid #dce1e8;
    margin: 32px 0 32px 0;
    position: relative;
}


.fd-selectappr-searchresult{
    overflow-x: hidden;
    overflow-y: auto;
}

.fd-searchitem{
    height: 42px;
    overflow: hidden;
    width: 100%;
    margin: 20px 0;
}

.fd-searchitem:first-child{
    margin-top: 10px;
}

.fd-searchitem:last-child{
    margin-bottom: 10px;
}

.fd-searchitem-cbgroup{
    width: 50px;
    float: left;
    height: 100%;
    line-height: 42px;
    text-align: center;
}

.fd-searchitem-cbgroup .fd-checkbox-face{
    margin: 0;
}

.fd-searchitem-profile{
    margin-left: 50px;
}

.fd-searchitem-profile img{
    width: 42px;
    height: 42px;
    border-radius: 6px;
    float: left;
}

.fd-searchitem-info{
    font-size: 13px;
    margin: 0 5px 0 50px;
}

.fd-searchitem-info > p{
    margin: 0;
}

.fd-searchitem-name{
    margin: 0 10px 0 0;
}

.fd-searchitem-jobtitle{
    color: #bdbdbd;
}

.fd-selectappr-searchloading, .fd-selectappr-searchmsg{
    text-align: center;
    color: #bdbdbd;
    padding: 10px;
}

.fd-selectappr-org{
    overflow: hidden;
    position: relative;
}

.fd-selectappr-orgtitle{
    color: #808080;
    padding: 2px 10px;
}

/* .fd-selectappr-org .org-tree{
    position: absolute;
    top: 25px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    padding: 0 0 0 15px;
} */

/*------选择模版第二个步骤-start------*/
.fd-step2 { 
    padding: 68px;
    background: #fff;
}
.fd-step2 .fd-design-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.fd-step2 .fd-appr-rule-con {
    border: 1px solid #dce1e8;
    display: flex;
    margin-top: 18px;
}

.fd-step2 .fd-appr-rule-con .fd-appr-type {
    border-right: 1px solid #dce1e8;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.fd-step2 .fd-appr-rule-con .fd-appr-tabCon {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3
}
.fd-step2 .fd-appr-rule-con .fd-appr-type li {
    line-height: 130px;
    padding-left: 22px;
    padding-right: 22px;
    border-bottom: 1px solid #dce1e8;
    font-size: 18px;
}
.fd-step2 .fd-appr-rule-con .fd-appr-type li:last-child {
    border: none;
}
.fd-step2 .fd-appr-rule-con .fd-appr-type li.active {
    outline: 2px solid #3cbaff;
}

.fd-step2 .fd-appr-tabCon .fd-appr-con {
    display: none;
}
.fd-step2 .fd-appr-tabCon .fd-appr-con1 {
    font-size: 14px;
    color: #5e5e5e;
    line-height: 20px;
    padding: 0px 25px;
    padding-top: 118px; 
}
.fd-step2 .fd-appr-tabCon .fd-appr-con1 .title {
    font-size: 18px; 
    margin-bottom: 10px;
}
.fd-step2 .fd-appr-tabCon .fd-appr-con2 {
    font-size: 14px;
    color: #5e5e5e;
    line-height: 20px;
    padding: 15px 25px;
}
.fd-step2 .fd-appr-tabCon .fd-appr-con2 .title {
    font-size: 18px;
    margin-bottom: 10px;
}
/*------选择模版第二个步骤-end------*/


/* ------------ - 审批数据导出  ------------------ */
/* 选择部门样式 */
.orgtree-node{
    cursor: pointer;
}

.orgtree-node > .orgtree-nodelist{
    /*padding: 0 0 0 20px;*/
    display: none;
}

.orgtree-root > .orgtree-nodelist{
    /*display: block;*/
    /*padding-left: 10px;*/
}

.orgtree-node.orgtree-node-expand > .orgtree-nodelist{
    display: block;
}

.orgtree-node-icon{
    display: inline-block;
    width: 10px;
    height: 14px;
    vertical-align: middle;
    background: url(/workreport/web/images/icons.png) no-repeat;
    background-position: -29px -66px;
    margin-right: 10px;
    transition: transform 300ms, opacity 100ms;
}

.orgtree-node-expand > .orgtree-node-name .orgtree-node-icon{
    transform: rotate(90deg);
}

.orgtree-node.no-children .orgtree-node-icon {
    transform: rotate(90deg);
    opacity: 0; 
}

.orgtree-node-name{
    display: block;
    width: 100%;
    padding: 8px 0;
}

.orgtree-node.selected > .orgtree-node-name {
    background: #eee;
}

.orgtree-loading{
    text-align: center;
    padding: 2px 0 0 0;
}

.orgtree-space{
    padding-left: 20px;
}

.orgtree-node .fd-checkbox-label{
    font-size: 14px;
}

.orgtree-node .fd-checkbox + .fd-checkbox-face{
    background-position: -25px 0;
    margin-right: 5px;
}

.orgtree-node .fd-checkbox:checked + .fd-checkbox-face{
    background-position: -26px -21px;
}

.orgtree-leaf > label{
    margin: 2px 0;
}

.orgtree-leaf img{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 10px;
}

.orgtree-person-name{
    font-size: 12px;
    vertical-align: middle;
}
.detaile-last-tr div{
    width:307px;
    min-height:290px;
    overflow-x:hidden;
    overflow-y:auto;
    word-wrap:break-word;
}
.job-log-report-mask{
    width:100%;
    height:100%;
    background:black;
    opacity:0.2;
    filter:alpha(opacity=20);
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    display:none;
}
.selector-department{
    width:462px;
    overflow:hidden;
    height:384px;
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-192px;
    margin-left:-231px;
    background:#FFF;
    z-index:120;
    display:none;
}
.selector-department-guanbi{
    width: 20px;
    height: 20px;
    background:url(/im/templates/n/skin-default/images/quxiao.png) no-repeat center center;
    margin-top:5px;
  
}
.selector-department h2{
    font-size:14px;
    height:30px;
    line-height:30px;
    background:#e0e0e0;
    padding:0 10px;
    color:#333;
    overflow:hidden;
}
.selector-department-children{
    padding:5px 10px 0 15px;
    height:35px;
    line-height:30px;
    overflow:hidden;
    margin-top:7px;
    font-size:12px;

}
.selector-department-children input{
    position:relative;
    top:3px;
    left:-5px;
}
.fd-selectappr-org{
    padding:0 10px;
    margin: 0;
    border: none;
    height: 252px;
}
.fd-selectappr-org ul.org-tree{
     height: 250px;
    padding: 25px;
    overflow: auto;
    border: 1px solid #d4d7dc;
}
.selector-department-bottom{
    text-align:right;
    padding:10px;
    margin-top:5px;
}
.selector-department-bottom a{
    display:inline-block;
    width: 88px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color:#FFF;
}
.selector-department-true{
    background:#1577bb;
    margin-right:10px;
}
.selector-department-true:hover{
    background:#1888d9;
}
.selector-department-quxiao{
    background:#bdbdbd;
}
.selector-department-tips{
    width:150px;
    height:36px;
    line-height:36px;
    padding:0 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-81px;
    margin-top:-24px;
    color:#999;
    text-align: center;
    display:none;
}
.selector-department-tips b{
    display:inline-block;
    width:18px;
    height:16px;
    margin-right:5px;
    background:url(/dores/css/n/skin-default/images/s-icons.png?201208041553) no-repeat -313px -55px;
    position: absolute;
    top: 10px;
    left: 5px;

}
.selector-department-tips span{
    display: inline-block;
    height: 100%;
    line-height: 36px;
    padding-left: 20px;
}
.am-department b{
        border-radius: 8px;
        background-color: #e8e8e8;
        height: 17px;
        line-height: 17px;
        width: 17px;
        text-align: center;
        position: absolute;
        right: 3px;
        top: 6px;
        color: #444;
        cursor: pointer;
        font-weight:normal;
        display:none;
}
.am-department b:hover{
    background: #ccc;
    color: #fff;
}
.am-department{
    position:relative;
}

/* -------------------- 发起人样式  ---------------------- */
.job-log-report-serchk{
    min-width:200px;
    padding:10px 0;
    position:absolute;
    top:30px;
    left: 58px;
    border:1px solid #c5c5c5;
    min-height:100px;
    background:#FFF;
    display:none;
}
.job-log-report-serchk{
    text-align: center;
}
.job-log-report-serchk span{
    display:inline-block;
    width:10px;
    height:14px;
    background: url(/workreport/web/images/loading.gif) no-repeat;
}
.job-log-report-serchk li{
    min-width:180px;
    text-align: left;
    padding:0 10px;
    height:30px;
    line-height:30px;
    cursor:pointer;
    color:#666;
    overflow:hidden;
}
.am-promoter{
    position: relative;
}
.job-log-report-serchk li i{
    font-style:normal;
    display:inline-block;
}
.job-log-report-serchk li.hover{
    background:#b8d3e8;
}

/* ——————————————分页———————————————————— */
.approval-template-pagiantion li, .approval-data-export-pagiantion li{
    display:inline-block;
    margin-right:10px;
}
.approval-template-pagiantion ul, .approval-data-export-pagiantion ul{
    text-align: center;
    margin-top:36px;
    
}
.approval-template-pagiantion a, .approval-data-export-pagiantion a{
    color:#3f3f3f;
    display:inline-block;
    padding:0 8px;
    height:20px;
    line-height:20px;
    text-align: center;
}
.approval-template-pagiantion ul li.active, .approval-data-export-pagiantion ul li.active{
    border:none;
    background: #1793c9;
}
.approval-template-pagiantion li.active a, .approval-data-export-pagiantion li.active a{
    color:#FFF;
}

 .approval-template-pagiantion li:hover, .approval-data-export-pagiantion li:hover{
    background:#dbeaf1;
}
 .approval-template-pagiantion li:first-child.disabled, .approval-template-pagiantion li:last-child.disabled, .approval-data-export-pagiantion li:first-child.disabled, .approval-data-export-pagiantion li:last-child.disabled{
    background:#ddd;
    display:none;
}
.approval-template-pagiantion li.disabled a, .approval-data-export-pagiantion li.disabled a{
    cursor:default;
}

/* ------------------  操作日志列表   ------------------ */
.operation-log-username{
    color: #3f3f3f;
}
.operation-log-create-time{
    color: #808080;
}
b{
    font-weight: normal;
}
.am-skyblue, .am-table .am-manage-tbody a.am-skyblue{
    color: #3bbaff;
}
.am-table .am-manage-tbody a.am-red{
    color: #f35959;
}
.am-table .am-manage-tbody a{
    margin-right: 14px;
}

/*--添加审批模板提示区域*/
.fd-add-field{
    position: absolute;
    top: 168px;
    left: 30px;
    right: 30px;
}
.fd-add-field-icon{
    width: 100%;
    height: 80px;
    border: 1px dashed #dce1e8;
    border-radius: 10px;
    background: url("../images/add-field-icon.png") no-repeat center center;
}
.fd-add-info{
    margin-top:10px;
    font-size:12px;
    color: #404040;
    text-align: center;
}
/*--审批组件新设计--*/
.fd-bd input[type="checkbox"]{
    position: relative;
}
.fd-bd input[type="checkbox"]:before
{
    content: "";
    position: absolute;
    left:-2px;
    top:-2px;
    display: block;
    width:16px;
    height:16px;
    border:1px solid #3cbaff;
    border-radius: 50%;
    opacity: 1;
    background-color: #ffffff;

}
.fd-bd input[type="checkbox"]:checked:before{
    background-color: #3cbaff;
}
.fd-bd input[type="checkbox"]:after{
    display: none;
    content: "";
    position: absolute;
    width: 9px;
    height: 5px;
    left: 2px;
    top: 3px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.fd-bd input[type="checkbox"]:checked:after{
display: block;
}
