body {
  background-color: #f4f4f4;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
}
.fd-step2 {
  margin-top: 40px;
  width: 1000px;
  min-height: 540px;
  margin-bottom: 40px;
}
.demo-wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 68px;
  background-color: #fff;
}
.ff-btn {
  font: inherit;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 14px;
  background-color: #3cbaff;
}
.ff-btn:hover {
  background-color: #30acff;
}
.ff-item-check {
  width: 20px;
  height: 20px;
  border: 1px solid #3cbaff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.ff-item-check.ff-item-check-active {
  background-color: #3cbaff;
}
.ff-item-check.ff-item-check-active:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 6px;
  left: 3px;
  top: 4px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ff-item-check.ff-item-check-active + .ff-item-row .ff-title-explain {
  display: inline-block;
}
.ff-item-radio {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 30px;
  left: 24px;
  border: 1px solid #3cbaff;
  border-radius: 50%;
  cursor: pointer;
}
.ff-item-radio.ff-item-radio-active:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #3cbaff;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -5px;
}
.ff-design-title {
  font-size: 20px;
  margin-bottom: 36px;
}
.ff-item-title {
  font-size: 18px;
  color: #5e5e5e;
}
.ff-back-terms {
  position: absolute;
  top: 0;
  left: 200px;
  margin-top: -5px;
}
.ff-config-item {
  position: relative;
}
.ff-config-item .ff-item-row {
  margin: 28px 0 28px 40px;
  position: relative;
}
.ff-config-item .ff-title-explain {
  display: none;
  margin-left: 10px;
  font-size: 14px;
  color: #f35959;
}
.ff-addadmin-container {
  padding: 30px 30px 20px;
  border: 1px solid #dce1e7;
}
.ff-addadmin-item,
.ff-admin-item {
  display: inline-block;
  text-align: center;
  min-width: 70px;
  width: 70px;
}
.ff-admin-item {
  position: relative;
  margin-right: 56px;
  margin-bottom: 15px;
}
.ff-admin-item:after {
  content: "";
  position: absolute;
  width: 20px;
  top: 27px;
  right: -40px;
  border-bottom: 1px solid #dce1e7;
}
.ff-admin-item:nth-of-type(6n):after {
  display: none;
}
.ff-admin-item:nth-last-child(2):after {
  display: none;
}
.ff-add-icon,
.ff-admin-avatar {
  display: block;
  margin: 0 auto;
  width: 54px;
  height: 54px;
  border-radius: 8px;
}
.ff-add-icon {
  cursor: pointer;
  border: 1px solid #dce1e7;
  background: url("../../images/ff-add-icon.png") no-repeat center center;
}
.ff-admin-avatar {
  background-color: #3cbaff;
}
.ff-admin-name {
  display: inline-block;
  width: 54px;
}
.ff-terms-container {
  border: 1px solid #dce1e7;
}
.ff-terms-item {
  position: relative;
  padding: 30px 30px 30px 78px;
  border-top: 1px solid #dce1e7;
}
.ff-terms-item:first-child {
  border: none;
}
.ff-leave-type {
  margin-top: 20px;
  margin-bottom: 20px;
}
.ff-leave-type span {
  display: inline-block;
  border: 1px solid #dce1e7;
  padding: 4px 10px;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 10px;
}
.ff-leave-number {
  margin-top: 10px;
}
.ff-leave-explainr {
  color: #f87e4d;
}
.ff-leave-day {
  display: inline-block;
  vertical-align: middle;
  margin: 20px 0;
}
.ff-leave-day input {
  width: 80px;
  height: 26px;
  padding-left: 8px;
  font-size: 16px;
}
.ff-leave-day .error {
  border: 1px solid #f35959;
}
.ff-leave-day .ff-leave-interval {
  position: relative;
  display: inline-block;
  margin: 10px 0;
}
.ff-leave-day .ff-leave-interval .ff-interval-text {
  font-size: 20px;
  padding: 0 10px;
}
.ff-leave-day .ff-leave-interval .ff-interval-clear {
  border: 1px solid #9a9a9a;
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  left: 72px;
  top: -8px;
  border-radius: 50%;
  background-color: #dce1e7;
  cursor: pointer;
}
.ff-leave-day .ff-leave-interval .ff-interval-clear:before,
.ff-leave-day .ff-leave-interval .ff-interval-clear:after {
  content: "";
  position: absolute;
  width: 8px;
  left: 50%;
  top: 50%;
  margin-left: -4px;
  border-bottom: 1px solid #9a9a9a;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ff-leave-day .ff-leave-interval .ff-interval-clear:after {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ff-leave-day .ff-leave-interval:nth-last-child(2) .ff-interval-text {
  display: none;
}
.ff-leave-add {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 0 20px;
  height: 26px;
}
.ff-leave-add span {
  border: 1px solid #666;
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  cursor: pointer;
}
.ff-leave-add span:before,
.ff-leave-add span:after {
  content: "";
  position: absolute;
  width: 12px;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  border-bottom: 1px solid #666;
}
.ff-leave-add span:after {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.ff-type-set-admin .ff-interva-item-title {
  padding: 10px 0 10px 40px;
  background-color: #dce1e7;
}
.ff-type-set-admin .ff-addadmin-container {
  border-top: none;
}
.ff-interva-item {
  margin-bottom: 24px;
}
.ff-warn-container {
  border: 1px solid #dce1e7;
  padding: 60px 0;
}
.ff-warn-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-image: url("../images/ff-icon-warn.png");
}
.ff-warn-content {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.ff-warn-content small {
  margin-top: 10px;
  display: block;
  font-size: 14px;
  color: #5e5e5e;
}
.ff-btn-content {
  text-align: center;
  margin-top: 20px;
}
/*--覆盖老的选人桥样式--*/
.blur {
  -webkit-filter: blur(0);
  filter: blur(0);
}
.fd-bd-main {
  margin-top: 40px;
  width: 1000px;
  height: 700px;
  position: static;
}
.fd-bd-l,
.fd-bd-r {
  width: 320px;
}
.select-organizational-container {
  width: 1000px;
  top: 120px;
  margin-top: 0;
  margin-left: -500px;
  border: none;
}
.select-organizational-container:before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.select-organizational-container .lapp-person-select-info,
.select-organizational-container .lapp-person-select-wrap {
  width: 500px;
}
.select-organizational-container .lapp-person-select-wrap {
  float: right;
}
.select-organizational-container .lapp-person-select-info ul {
  margin-left: 20px;
}
.select-organizational-container .lapp-person-select-info .bsizing {
  margin-right: 18px;
  width: 75px;
}
.select-organizational-container .lapp-person-select-head1 .clear-empty {
  font-size: 16px;
  padding: 0 20px;
}
.fd-bd-c {
  width: 320px;
}
.fd-phone {
  height: 640px;
}
.fd-designer {
  max-height: 480px;
  background-color: #eef3fa ;
}
.fd-widgetitem {
  width: 130px;
  margin: 0 0 18px 20px;
}
#body {
  width: 1000px;
  height: auto;
}
.fd-tabitem.curr {
  background-color: #ffffff;
  text-align: left;
  font-size: 18px;
  padding-left: 18px;
  padding-top: 10px;
}
.fd-settingpanel {
  padding: 24px 22px;
}
.fd-settingpanel .fd-panel-body {
  margin-top: 22px;
}
.fd-settingpanel-title {
  position: static;
  color: inherit;
  font-size: 18px;
  padding-bottom: 20px;
}
.fd-bd-header {
  padding: 20px 0 0 0;
  position: static;
  overflow: hidden;
}
.contact-detail-inner .contact-content h3 {
  font-weight: normal;
}
.link-list {
  padding: 10px;
}
.link-list .fd-help {
  font-size: 14px;
}
.link-list .fd-help:hover {
  text-decoration: underline;
}
.link-list .fa-help-icon {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background: url("../images/setting-help.png") no-repeat center center;
}
.lapp-person-select-wrap .person-select-container {
  top: 166px;
}
@media screen and (max-height: 700px) {
  .select-organizational-container {
    top: 50%;
    margin-top: -298px;
  }
}
