//web端审批样式文件
//2016-07-19
@basecolor:#3cbaff;//基础色
@explanin-color:#f35959;//解释，错误提示文字颜色
@gray-color:#dce1e7;//灰色，用于边框

body{
  background-color: #f4f4f4;
}
.ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
}
.fd-step2{
  //position: absolute;
  //top: 120px;
  //left: 0;
  margin-top:40px;
  width: 1000px;
  min-height: 540px;
  margin-bottom: 40px;
}

.demo-wrap{
  width: 1200px;
  margin:0 auto;
  padding:50px 68px;
  background-color: #fff;
}
//按钮属性
.ff-btn{
  font:inherit;
  outline: none;
  color: #fff;
  border:none;
  border-radius: 4px;
  padding:6px 14px;
  background-color: @basecolor;
  &:hover{
    background-color: overlay(@basecolor,#666666);
  }
}
//勾选
.ff-item-check{
  width:20px;
  height: 20px;
  border:1px solid @basecolor;
  border-radius:50%;
  position: relative;
  cursor: pointer;
  //勾选状态
  &.ff-item-check-active{
    background-color: @basecolor;
    &:before{
      content: "";
      position: absolute;
      width:12px;
      height:6px;
      left:3px;
      top:4px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  //勾选后显示该选项的说明内容
  &.ff-item-check-active + .ff-item-row .ff-title-explain{
    display: inline-block;
  }
}
//点选（单选）
.ff-item-radio{
  position: absolute;
  width:20px;
  height: 20px;
  //top:50%;
  //margin-top:-10px;
  top:30px;
  left:24px;
  border:1px solid @basecolor;
  border-radius:50%;
  cursor: pointer;
  &.ff-item-radio-active:before{
    content: "";
    position: absolute;
    width:10px;
    height:10px;
    background-color: @basecolor;
    border-radius: 50%;
    left: 50%;
    top:50%;
    margin-left:-5px;
    margin-top:-5px;
  }
}
//审批设计器中的标题
.ff-design-title{
  font-size: 20px;
  margin-bottom: 36px;
}
//选项标题
.ff-item-title{
  font-size: 18px;
  color: #5e5e5e;
}
//跟在标题后面的返回选择条件按钮
.ff-back-terms{
  position:absolute;
  top:0;
  left:200px;
  margin-top:-5px;
}
//规则设置列表
.ff-config-item{
  position: relative;
  .ff-item-row{
    margin:28px 0 28px 40px;
    position: relative;
  }
  //选项说明
  .ff-title-explain{
    display: none;
    margin-left:10px;
    font-size:14px;
    color: @explanin-color;
  }
}
//添加审批人容器
.ff-addadmin-container{
  padding:30px 30px 20px;
  border:1px solid @gray-color;
}
.ff-addadmin-item,
.ff-admin-item
{
  display: inline-block;
  text-align: center;
  min-width: 70px;
  width:70px;
}
//审批人横向列表项
.ff-admin-item{
  position: relative;
  margin-right:56px;
  margin-bottom: 15px;
  &:after{
    content: "";
    position: absolute;
    width:20px;
    top:27px;//头像的一半高度
    right:-40px;
    border-bottom:1px solid @gray-color;
  }
  &:nth-of-type(6n){
    //margin-right:0;
    &:after{
      display: none;
    }
  }
  &:nth-last-child(2):after{
    display: none;
  }
}
.ff-add-icon,
.ff-admin-avatar{
  display: block;
  margin:0 auto;
  width:54px;
  height:54px;
  border-radius: 8px;
}
//添加图标
.ff-add-icon{
  cursor: pointer;
  border:1px solid @gray-color;
  background: url("../../images/ff-add-icon.png") no-repeat center center;
}
//审批人头像
.ff-admin-avatar{
  background-color: @basecolor;
}
//审批人名字
.ff-admin-name{
  display: inline-block;
  width:54px;
}

//条件指定审批人设置容器
.ff-terms-container{
  border:1px solid @gray-color;
}
.ff-terms-item{
  position: relative;
  padding:30px 30px 30px 78px;
  border-top: 1px solid @gray-color;
  &:first-child{
    border:none;
  }
}
.ff-leave-type{
  margin-top:20px;
  margin-bottom: 20px;
  span{
    display: inline-block;
    border:1px solid @gray-color;
    padding:4px 10px;
    border-radius: 4px;
    margin-right:10px;
    margin-top: 10px;
  }
}
.ff-leave-number{
  margin-top:10px;

}
.ff-leave-explainr{
  color: #f87e4d;
}
//请假天数
.ff-leave-day{
  display: inline-block;
  vertical-align: middle;
  margin:20px 0;
  input{
    width:80px;
    height: 26px;
    padding-left:8px;
    font-size: 16px;
  }
  .error{
    border: 1px solid @explanin-color;
  }
  //请假区间
  .ff-leave-interval{
    position: relative;
    display: inline-block;
    margin:10px 0;
    .ff-interval-text {
      font-size: 20px;
      padding:0 10px;
    }
    //删除区间
    .ff-interval-clear{
      border:1px solid #9a9a9a;
      position: absolute;
      display: block;
      width:16px;
      height:16px;
      left:72px;
      top: -8px;
      border-radius: 50%;
      background-color: @gray-color;
      cursor: pointer;
      &:before,&:after{
        content: "";
        position: absolute;
        width:8px;
        left:50%;
        top:50%;
        margin-left:-4px;
        border-bottom: 1px solid #9a9a9a;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:after{
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  .ff-leave-interval:nth-last-child(2) .ff-interval-text {
    display: none;
  }
}
//添加区间按钮
.ff-leave-add{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 0 20px;
  height: 26px;
  span{
    border: 1px solid #666;
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    top:0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
    &:before,&:after{
      content: "";
      position: absolute;
      width:12px;
      left:50%;
      top:50%;
      margin-left:-6px;
      border-bottom: 1px solid #666;
    }
    &:after{
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
}
//设置区间审批人的列表
.ff-type-set-admin{
  .ff-interva-item-title{
    padding:10px 0 10px 40px;
    background-color: #dce1e7;
  }
  .ff-addadmin-container{
    border-top:none;
  }
}
.ff-interva-item{
  margin-bottom: 24px;
}
//提醒没有条件控件
.ff-warn-container{
  border:1px solid @gray-color;
  padding:60px 0;
}
.ff-warn-icon{
  width:50px;
  height: 50px;
  margin:0 auto;
  background-image: url("../images/ff-icon-warn.png");
}
.ff-warn-content{
  text-align:center;
  font-size: 18px;
  margin-top:20px;
  small{
    margin-top:10px;
    display: block;
    font-size:14px;
    color: #5e5e5e;
  }
}

.ff-btn-content{
  text-align:center;
  margin-top:20px;
}

/*--覆盖老的选人桥样式--*/
.blur{
  -webkit-filter: blur(0);
  filter: blur(0);
}
.fd-bd-main{
  margin-top:40px;
  width:1000px;
  height:700px;
  position: static;
}
.fd-bd-l, .fd-bd-r{width: 320px;}
.select-organizational-container {
  width:1000px;
  top:120px;
  margin-top:0;
  margin-left:-500px;
  border:none;
  &:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .lapp-person-select-info,.lapp-person-select-wrap{
    width:500px;
  }
  .lapp-person-select-wrap{
    float: right;
  }
  .lapp-person-select-info ul{
    margin-left:20px;
  }
  .lapp-person-select-info .bsizing{
    margin-right:18px;
    width:75px;
  }
  .lapp-person-select-head1 .clear-empty{
    font-size:16px;
    padding:0 20px;
  }
}
.fd-bd-c{
  width:320px;
}
.fd-phone{
  height:640px;
}
.fd-designer{
  max-height:480px;
  background-color:#eef3fa ;
}
.fd-widgetitem{
  width:130px;
  margin:0 0 18px 20px;
}
#body{
  width:1000px;
  height: auto;
}
.fd-tabitem.curr{
  background-color: #ffffff;
  text-align: left;
  font-size:18px;
  padding-left:18px;
  padding-top:10px;
}
.fd-settingpanel{
  padding:24px 22px;
  .fd-panel-body{
    margin-top:22px;
  }
}
.fd-settingpanel-title{
  position: static;
  color: inherit;
  font-size:18px;
  padding-bottom: 20px;
}
.fd-bd-header{
  padding:20px 0 0 0;
  position: static;
  overflow: hidden;
}
.contact-detail-inner .contact-content h3{
  font-weight: normal;
}
.link-list{
  padding:10px;
  .fd-help{
    font-size:14px;
    &:hover{
      text-decoration: underline;
    }
  }
  .fa-help-icon{
    vertical-align: middle;
    display: inline-block;
    width:16px;
    height:16px;
    margin-right:4px;
    background: url("../images/setting-help.png") no-repeat center center;
  }
}
.lapp-person-select-wrap .person-select-container{
  top:166px;
}
@media screen and (max-height: 700px) {
  .select-organizational-container {
    top:50%;
    margin-top: -298px;
  }
}