<template>
    <div class="page indexPage">
        <fix-top>
            <tab>
                  <tab-item
                  :selected="tabIndex === 0"
                  @click="tabIndex=0"
                  v-link="{ name: 'myapply'}"
                  >我的申请</tab-item>
                  <tab-item
                  @click="tabIndex=1"
                  :selected="tabIndex === 1"
                  v-link="{ name: 'myapproval'}"
                  >我的审批</tab-item>

            </tab>
        </fix-top>
        <router-view></router-view>
        <!--<drag-loading></drag-loading>-->
        <md-button class="applyButton" @click="newApply">我要申请</md-button>
    </div>
</template>

<script>
    import {Tab, TabItem, MDButton, FixTop/*, DragLoading*/} from '../components'
    import { loadApprovalTpl } from '../vuex/actions'
    import { scrollBottom } from '../directives/ScrollBottom'

    export default {
        vuex: {
            actions: {
                loadApprovalTpl
            }
        },
        data: function(){
            return {
                tabIndex: 0
            }
        },
        route: {
            //如果进入root路由则重定向到我的审批
            activate: function (transition) {
                if ( transition.to.path === '/' ) {
                    transition.redirect('/myapply')
                } else {
                    transition.next()
                }


                //隐藏返回按钮
                var obj = {
                    needBack: false
                }

                window.parent.postMessage(JSON.stringify(obj),'*');

            },
            deactivate: function(transition){
                //显示返回按钮
                var obj = {
                    needBack: true
                }

                window.parent.postMessage(JSON.stringify(obj),'*');
                transition.next()
            }
        },
        methods: {
            newApply: function(){
                if(this.clicking){
                    return
                }
                this.clicking = true
                //预加载下一页的数据
                this.loadApprovalTpl()
                setTimeout(() => {
                    this.clicking = false
                    this.$route.router.go('/select')
                }, 400)
            }
        },
        created () {
            if(this.$route.path === '/myapply'){
                this.tabIndex = 0
            }
            if(this.$route.path === '/myapproval'){
                this.tabIndex = 1
            }
        },
        components: {
            Tab,
            TabItem,
            'md-button': MDButton,
            FixTop
            /*DragLoading*/
        }
    }
</script>

<style lang="less">
    .indexPage {
        background: #e9ecf1;
    }

    .applyButton {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid #c9d0db;
        width: 100%;
        line-height: 0.88rem;
        background: #fff;
        display: block;
        color: #31d2ea;
        font-size: 0.3rem;
    }

</style>
