<template>
    <div class="page">
      <template v-for="c in components">
            <!--单行文本-->
            <text-field
                    v-if="c.type === 'textfield' || c.type === 'titlefield'"
                    :id="c.id"
                    :label="c.label"
                    :required="c.require"
                    :type="c.type"
                    :placeholder="c.placeholder"></text-field>
            <!--iscndkey字段为判断是否是条件审批的一个条件字段-->
            <money-field
                    v-if="c.type === 'moneyfield'"
                    :id="c.id"
                    :iscndkey="approvalRule.approvalType == '1' && c.id == approvalRule.cndSelectId"
                    :label="c.label"
                    :required="c.require"
                    :type="c.type"
                    :placeholder="c.placeholder"></money-field>
            <textarea-field
                    v-if="c.type === 'textareafield'"
                    :id="c.id"
                    :label="c.label"
                    :max="200"
                    :required="c.require"
                    :type="c.type"
                    :placeholder="c.placeholder">
            </textarea-field>
            <number-field
                    v-if="c.type === 'numberfield'"
                    :id="c.id"
                    :iscndkey="approvalRule.approvalType == '1' && c.id == approvalRule.cndSelectId"
                    :label="c.label"
                    :required="c.require"
                    :allowdecimal="!!c.decimal"
                    :type="c.type"
                    :placeholder="c.placeholder">
            </number-field>
            <date-field
                    v-if="c.type === 'datefield'"
                    :id="c.id"
                    :label="c.label"
                    :type="c.type"
                    :required="c.require"
                    :format="c.format">
            </date-field>
            <photo-field
                    v-if="c.type === 'photofield'"
                    :id="c.id"
                    :label="c.label"
                    :required="c.require"
                    :type="c.type"
            ></photo-field>
            <radio-field
                    v-if="c.type === 'radiofield'"
                    :id="c.id"
                    :iscndkey="approvalRule.approvalType == '1' && c.id == approvalRule.cndSelectId"
                    :label="c.label"
                    :options='c.options'
                    :required="c.require"
                    :type="c.type"
                    :placeholder="c.placeholder">
            </radio-field>
            <date-range-field
                    v-if="c.type === 'daterangefield'"
                    :id="c.id"
                    :format="c.format"
                    :required="c.require"
                    :type="c.type"
                    :labels="c.labels"
                    :placeholder="c.placeholder"></date-range-field>
            <file-field
                    v-if="c.type === 'filefield' && os"
                    :id="c.id"
                    :label="c.label"
                    :required="c.require"
                    :type="c.type"
                    :placeholder="c.placeholder">
            </file-field>
            <file-field-web
                    v-if="c.type === 'filefield' && !os"
                    :id="c.id"
                    :label="c.label"
                    :required="c.require"
                    :type="c.type"
                    :placeholder="c.placeholder">
            </file-field-web>
            <!-- TODO 明细组件 -->
            <detail-field
                    v-if="c.type === 'moneyfield'"
                    :id="c.id"
                    :label="c.label"
                    :required="c.require"
                    :type="c.type"
                    :placeholder="c.placeholder">
            </detail-field>
        </template>
        
        
        <!--<allot-field v-show="components && components.length!==0" :required="true" :type="'allotfield'"></allot-field>-->
        <free-allot-field v-if="approvalRule.approvalType==='0'" :required="true" :type="'allotfield'"></free-allot-field>
        <key-allot-field v-if="approvalRule.approvalType==='2'" :required="true" :type="'allotfield'"></key-allot-field>
        <condition-allot-field v-if="approvalRule.approvalType==='1'" :required="true" :type="'allotfield'"></condition-allot-field>
        <md-button class="accept" @click="submit">{{submitText}}</md-button>
    </div>
</template>

<script>
    import {
            RadioField,
            DateRangeField,
            TextareaField,
            PhotoField,
            FileField,
            FileFieldWeb,
            FreeAllotField,
            KeyAllotField,
            ConditionAllotField,
            NumberField,
            TextField,
            DateField,
            MoneyField,
            DetailField,
            FooterButton,
            MDButton
    } from '../components'
    import {loadTemplateDetail, submitApproval, resetComponentInfo} from '../vuex/actions'
    import {components, getSdkApprover, approvalRule, getApprovalNodeUsers,cndApprovers} from '../vuex/getters'
    import validators from '../utils/validators'
    import helper from '../utils/helpers'
    import DatetimePicker from '../components/Datetime'
        
    export default {
        data: function () {
            return {
                isFromGroup: false,
                groupId: '',
                submitting: false,
                submitText: '提交',
                os: helper.getOS()
            }
        },
        vuex: {
            getters: {
                components,
                getSdkApprover,
                approvalNodeUsers: getApprovalNodeUsers,
                approvalRule,
                cndApprovers
            },
            actions: {
                loadTemplateDetail,
                submitApproval,
                resetComponentInfo
            }
        },
        route: {
            activate: function (transition) {
                const from = transition.from
                //如果来自于群组并且有组id, 创建的时候需要带上组id
                if ( from.query && from.query.groupId && from.query.type === 'group' ) {
                    this.groupId = from.query.groupId
                    this.isFromGroup = true
                }
                transition.next()
            },
            deactivate: function (transition) {
                console.log(transition)
                //离开页面时清空数据
                this.resetComponentInfo()
                transition.next()
            }
        },
        created () {
            this.loadTemplateDetail(this.$route.params.id)
        },
        methods: {
            //提交审批申请单
            submit () {
                const self = this

                //如果表单数据没有生成
                if ( this.components.length === 0 ) {
                    return
                }
                //校验必填项
                if ( !this.validateForm() ) {
                    return
                }
                //判断所有图片是否上传完成
                if ( !this.isAllPhotoUploaded() ) {
                    return
                }
                //判断选人如果是自由流必须选择审批人
                /*if(this.approvalRule.approvalType === '0' && !this.getSdkApprover){

                 return alert('请选择审批人')
                 }*/

                //阻止重复提交
                if ( this.submitting ) {
                    return
                }
                let nextApprover = this.getNextApprover()
                if ( helper.isEmptyObject(nextApprover) )return false;
                this.$alert({
                    title: '提交确认',
                    //由于多个选人桥返回值不统一,做数据兼容
                    content: '是否提交该审批给 ' + (nextApprover.name || nextApprover.personName) + " ?"
                }).then(function (data) {
                    if ( data === "cancel" ) {
                        return false
                    }
                    self.doSubmit(nextApprover)
                })
            },
            /**
             * 获取下一个审批人
             * 有自定义的审批人节点,优先选择自定义审批人
             * 若无自定义审批人,对于条件审批取store中cndApprovers字段的第一个审批人
             * 对于非条件审批,取审批规则content中的人员信息
             */
            getNextApprover(){
                let approvers = {}
                if ( this.approvalNodeUsers.length > 0 ) {
                    approvers = this.approvalNodeUsers[0]
                } else if ( this.approvalRule.approvalType == "1" ) {
                    approvers = this.cndApprovers[0]
                } else if ( this.approvalRule.approvalType == "2" ) {
                    approvers = JSON.parse(this.approvalRule.content)[0]
                }
                return approvers
            },
            doSubmit(nextApprover){
                const self = this
                //通用接口参数
                let applyTitle = "";
                for (let i = 0; i < this.components.length; i++) {
                    let obj = this.components[i]
                    if ( obj.type == "titlefield" ) {
                        applyTitle = obj.value || "";
                    }
                }
                let data = {
                    id: this.$route.params.id,
                    params: {
                        approvalApply: {
                            content: JSON.stringify(this.components),
                            applyTitle: applyTitle
                        },
                        approvalNodeUsers: this.approvalNodeUsers
                    }
                }
                data.params.transferApproverOId = nextApprover.personId
                //如果是自由流要传transferApproverOId
                /*if ( this.approvalRule.approvalType === '0' ) {
                 data.params.transferApproverOId = this.getSdkApprover.personId
                 }*/
                //如果是从原有会话传进来并且带有组id需要把组id传回去
                if ( this.isFromGroup && this.groupId ) {
                    data.params.approvalApply.groupId = this.groupId
                }
                this.submitting = true
                this.submitText = '提交中...'
                self.submitApproval(data).then(res => {
                    self.submitting = false
                    self.submitText = '提交'
                    const data = JSON.parse(res.text)
                    if ( data.meta.success == true ) {
                        self.$route.router.go({ name: 'approvalDetail', params: { id: data.data.approvalApply.id } })
                        window.history.replaceState(null, '', '/freeflow/m/myapply');
                        //如果来自于群组且有组id直接唤醒会话
                        if ( self.isFromGroup && self.groupId ) {
                            return self.createChat(data.data.groupId)
                        }
                        //如果有组id 而且ios版本号大于0.9.13
                        if ( data.data.isCreatedGroup == true && data.data.groupId && helper.checkBridgetVer('0.9.13') ) {
                            return self.createChat(data.data.groupId)
                        }
                        //修改history
                    }
                }).catch(err => {
                    console.log(err)
                })
            },
            //如果全部组件校验通过返回true
            validateForm() {
                var isValid = true
                for (let i = 0; i < this.$children.length; i++) {
                    if ( this.$children[i].required && this.$children[i].validate ) {
                        if ( !this.$children[i].validate() ) {
                            //退出
                            isValid = false
                        }
                    }
                }
                return isValid
            },
            isAllPhotoUploaded () {
                var allUpload = true
                let photo = document.querySelectorAll('.photoUploadItem')
                for (let i = 0; i < photo.length; i++) {
                    if ( photo[i].hasAttribute('isUploading') ) {
                        this.$alert({ title: '警告', content: '图片还没有上传完成' })
                        allUpload = false
                        break
                    }
                }
                return allUpload

            },
            //创建绘画组
            createChat (groupId) {
                if ( helper.checkBridgetVer('0.9.13') ) {
                    //要判断版本好
                    XuntongJSBridge.call('chat', {
                        'groupId': groupId
                    }, function (result) {
                    })
                }
            }
        },
        components: {
            RadioField,
            DateRangeField,
            TextareaField,
            PhotoField,
            NumberField,
            TextField,
            DateField,
            FileField,
            FileFieldWeb,
            FreeAllotField,
            KeyAllotField,
            ConditionAllotField,
            MoneyField,
            DetailField,
            FooterButton,
            'md-button': MDButton
        }
    }
</script>

<style lang="less">
    .accept {
        position: fixed;
        text-align: center;
        width: 100%;
        bottom: 0;
        padding-left: 0.27rem;
        line-height: 0.88rem;
        font-size: 0.28rem;
        background: #fff;
        color: #31d2ea;
    }
</style>
