<template>
  <div class="page" transition="app">
    <div>审批规则</div>
    <a v-link="{ path: '/' }">Go to index</a>

  </div>
</template>

<script>

export default {
  components: {
  }
}
</script>

<style lang="less">

</style>
