<template>
    <div class="page approval-detail" v-show="loaded">
        <approval-desc :approval="approval" v-if="!approval.isThird"></approval-desc>
        <approval-desc-third :approval="approval" v-if="approval.isThird"></approval-desc-third>
        <timeline :record="approvalRecord" :createinfo="createinfo"></timeline>
        <approval-footer></approval-footer>
        <confirm-approval
                :approver="approvalusers"
                :max="4"
        ></confirm-approval>
        <approval-discuss :discuss="discuss"></approval-discuss>
        <router-view></router-view>
    </div>
</template>

<script>
    import vue from 'vue'
    import {
            ApprovalDesc,
            ApprovalDescThird,
            Timeline,
            ApprovalFooter,
            PhotoPreview,
            ConfirmApproval,
            ApprovalDiscuss
    } from '../components'
    import Alert from '../components/Alert'
    import Tip from '../components/Tip'
    import { loadApprovalDetail, loadApprovalRecord,loadApprovalDiscuss } from '../vuex/actions'
    import { approvalDetail, approvalUsers,approvalRecord, createInfo,approvalDiscuss } from '../vuex/getters'

    export default {
        data:function () {
            return {
                loaded:false
            }
        },
        vuex: {
            getters: {
                approval: approvalDetail,
                approvalRecord: approvalRecord,
                createinfo: createInfo,
                approvalusers: approvalUsers,
                discuss: approvalDiscuss
            },
            actions: {
                loadApprovalDetail: loadApprovalDetail,
                loadApprovalRecord: loadApprovalRecord,
                loadApprovalDiscuss:loadApprovalDiscuss
            }
        },
        created (){
            var self = this
            this.loadApprovalDetail(this.$route.params.id).then(function () {
                self.loaded = true
            })
            this.loadApprovalDiscuss(this.$route.params.id)
        },
        components: {
            ApprovalDesc,
            ApprovalDescThird,
            Timeline,
            ApprovalFooter,
            PhotoPreview,
            ConfirmApproval,
            ApprovalDiscuss
        }
    }
</script>

<style lang="less">
    .approval-detail {
    }
</style>
