<template>
  <div class="page" transition="app">
    <div>MyApplication</div>
    <a v-link="{ path: '/' }">Go to app</a>

  </div>
</template>

<script>

export default {
  components: {
  }
}
</script>

<style>

</style>
