<script>
import store from '../vuex/store'
//注册全局插件
import { NewUser, ShowTips } from '../components/NewUser'
import config from '../config'
    
export default {
    store,
    methods: {
        newUserPopup: function(){
            var self = this;
                if(window.localStorage && window.localStorage.getItem("version") != config.version) {
                    window.localStorage.setItem('version', config.version);
                    this.$newUserPopup({
                    content: [
                        '根据不同条件，设置审批规则',
                        '增加了更多的自定义表单控件',
                        '审批人可以选择多人进行审批协作',
                        '自动将审批人加入会话组，加速审批效率'
                    ],
                    picUrl: `${config.serverRootUrl}freeflow/images/pop-box-pic.png`,
                    isNeedKnowMore: true,
                    knowMoreURL: `${config.serverRootUrl}freeflow/guidance/guidance2.html`
                });
            }
        }
    },
    ready () {
        this.newUserPopup()
        if(this.$route.query.debug === 'true'){
            var s = document.createElement('script')
            s.type = 'text/javascript'
            s.src = '/vorlon.js'
            document.body.appendChild(s)
        }
    }
}
</script>

<style>
    @import '../css/base.css';
</style>