<template>
  <div class="page select-apply" v-scroll-bottom>
    <apply-type :approvaltpls="approvalTpls"></apply-type>
    <no-data v-show="approvalTpls.length===0">没有审批模版哦～</no-data>
    
    <a href="/freeflow/guidance/guidance.html"><md-button class="apply-type-tips">如何自定义审批</md-button></a>
  </div>
</template>

<script>
import { ApplyType, MDButton, NoData } from '../components';
import { loadApprovalTpl } from '../vuex/actions'
import { approvalTpls } from '../vuex/getters'

export default {
    vuex: {
        actions: {
            loadApprovalTpl
        },
        getters: {
           approvalTpls 
        }                           
    }, 
    data: function(){
        return {
            toBottom: false,
            page: 4,
            isLoading: false,
            allLoaded: false,
            noData: false
        }
    },
    events: {
        scrollBottom () {
            if(this.isLoading || this.allLoaded){
                return
            }
            this.isLoading = true
            this.loadApprovalTpl({
                start: this.page,
                limit: 5
            })
            .then((data) => {
                this.page += 1
                this.allLoaded = data.total === this.approvalTpls.length ? true : false
                this.isLoading = false
            })
        }
    },
    created () {
        this.isLoading = true
        this.loadApprovalTpl({
            start: 1,
            limit: 20
        })
        .then((data) => {
            console.log(data)
            this.page += 1
            this.allLoaded = data.total === this.approvalTpls.length ? true : false
            this.isLoading = false
            if(data.total == 0 ){
                this.noData = true
            }
        })
    },
  	components: {
        ApplyType,
        NoData,
        'md-button':  MDButton
  	}
}
    
</script>

<style lang="less">
    .select-apply {
        padding-top: 0.16rem;
        
        .apply-type-tips {
            position: fixed;
            text-align: center;
            width: 100%;
            bottom: 0;
            padding-left: 0.27rem;
            line-height: 0.9rem;
            font-size: 0.28rem;
            background: #fff;
            color: #31d2ea;
        }
        
        .noMore {
            font-size: 0.28rem;
            display: block;
            text-align: center;
            margin-top: 0.24rem;
            color: #9a9a9a;
        }
    }
    
</style>
