<template>
    <button class="md-button has-border-t {{class}}" @click="addEffect"><slot></slot></button>
</template>


<script>
import ripple from './ripple'

export default {
    props: {
        class: {
            type: String
        }
    },
    methods: {
       addEffect: ripple
    }
}
</script>
<style>
.md-button {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  border-radius: 2px;
  color: #31d2ea;
  background: #fff;
  padding: 0;
}

.ripple {
  position: absolute;
  background: rgba(0,0,0,.15);
  border-radius: 100%;
  transform: scale(0);
  pointer-events: none;
}

.ripple.show {
  animation: ripple .75s ease-out;
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

</style>
