<script>
    import store from '../vuex/store'
    //注册全局插件
    import Alert from '../components/plugins/Alert'
    import config from '../config'
    import {getGlobal} from '../vuex/action'
    export default {
        store,
        vuex: {
            actions: {
                getGlobal
            }
        },
        ready () {
            console.log('vue-router  root')
            this.getGlobal()
        }
    }
</script>
<style>
    @import '../css/common.css';
    @import '../css/normalize.css';
    @import '../css/dialog.css';
</style>
