<template>
    <div class="fd-bg" :class="{blur:openDialog}">
        <div class="approval-rule">
            <menu-container></menu-container>
            <approval-rule-set></approval-rule-set>
        </div>
    </div>
</template>

<script>
    import {MenuContainer, ApprovalRuleSet} from '../components'
    import {openDialog} from '../vuex/getter'
    import {setApprovalStep} from '../vuex/action'

    export default {
        vuex: {
            getters: {
                openDialog
            },
            actions: {
                setApprovalStep
            }
        },
        created () {
            document.title = '审批管理'
            this.setApprovalStep(1)
        },
        components: {
            MenuContainer,
            ApprovalRuleSet
        }
    }
</script>
<style lang="less">
    @import '../css/personSelect.css';
    @import '../css/freeflow';
    .fd-bg {
        min-width: 100%;
        min-height: 100%;
        background-color: #6d7682;
    }

    .approval-rule {
        width: 1000px;
        margin: 0 auto;
        position: relative;
        overflow-x: hidden;
    }

</style>
