<template>
    	<div class="overlayer" v-show="visible" @click="dismiss()"></div>
	<div class="alert-view" v-bind:class="className" v-show="visible">
		<p class="title">{{title}}</p>
		<p class="content" v-if="showInput==false && !onlyAlert">{{content}}</p>
		<textarea class="{{inputClass}}" v-model="inputValue" v-on:input="onInput" v-show="showInput" placeholder="{{inputPlaceholder}}"></textarea>
		<div class="group-btn">
			<button class="btn-cancel" @click="cancel" v-show="!onlyAlert">{{cancelBtnTxt}}</button>
			<button class="btn-confirm" :class="{'active': confirmActive}" @click="confirm">
				{{confirmBtnTxt}}
			</button>
		</div>
	</div>
</template>

<script>
export default {
    data: function () {
        return {}
    },
    computed: {
        isValidate: function () {
            return false
        }
    },
    beforeCompile: function () {
        if (this.showInput && this.inputReg instanceof RegExp == true && !cloneRegExp(this.inputReg).test(this.inputValue)) {
            this.confirmActive = false
        }

    },
    methods: {
        onInput: function () {
            if (this.showInput && this.inputReg instanceof RegExp == true) {
                this.confirmActive = cloneRegExp(this.inputReg).test(this.inputValue)
            }
        },
        cancel: function () {
            this.$dispatch('cancel', 'cancel')
            this.visible = false
        },
        confirm: function () {
            if (this.showInput === true) {
                if (!this.confirmActive) {
                    return
                }
                this.$dispatch('confirm', {
                    action: 'confirm',
                    data: this.inputValue
                })
            } else {
                this.$dispatch('confirm', {
                    action: 'confirm'
                })
            }
            this.visible = false
        },
        dismiss: function () {
            if (!this.needDismiss) {
                return
            }
            this.$dispatch('dismiss', 'dismiss')
            this.visible = false
        }
    }
}
</script>

<style lang="less">
    /*==S alert view ==*/
.overlayer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(4,20,42,.3);
    z-index: 999;
}
.alert-view {
    /*margin-left: 11.2%;*/
    position: fixed;
    width: 77.6%;
    left: 50%;
    top: 50%;
    z-index: 999;
    border-radius: 6px;
    color: #3f3f3f;
    background: #fff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.alert-view .title {
    padding: .28rem 0;
    line-height: 1;
    text-align: center;
    font-size: .34rem;
}
.alert-view .content {
    font-size: .28rem;
    text-align: center;
    padding-bottom: .28rem;
}

.alert-view .group-btn {
    width: 100%;
    border-top: 1px solid #e9ecf1;
    background-color: #fff;
    text-align: center;
    z-index: 2;
    /*font-size: .32rem;*/
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
}
.alert-view .group-btn button{
    float: left;
    position: relative;
    width: 50%;
    height: .88rem;
    line-height: .88rem;
    display: block;
    cursor: pointer;
    color: #9a9a9a;
    outline: 0;
    border: none;
    background: #fff;
}
    /*.alert-view .group-btn .btn-cancel{
        float: left;
        position: relative;
        width: 50%;
        right:100%;
        margin-left:100%;
        display:inline;
    }*/
.alert-view .group-btn button.active {
    /*float: left;
    position: relative;
    width: 100%;
    display:inline;*/
    color: #00b3f0;
}
.alert-view .btn-confirm:before {
    content: '';
    display: block;
    height: .28rem;
    border-left: 1px solid #dce1e8;
    position: absolute;
    vertical-align: middle;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.alert-view textarea {
    width: 100%;
    padding: .24rem;
    border-radius: 0;
    background-color: #f3f5f9;
    height: 6em;
}
/*==E alert view ==*/
</style>