<template>
    <div class="fd-bd">
        <div class="fd-bd-main">
            <div class="fd-bd-l">
                <div class="fd-widgetpanel">
                    <div class="fd-panel-tab">
                        <a href="javascript:;" class="fd-tabitem curr">表单控件</a>
                    </div>
                    <div class="fd-panel-body">
                        <div class="fd-panel-item clearfix" data-pindex="1">
                            <div class="fd-widgetitem fl" data-type="textfield">
                                <label>单行文本</label>
                                <i class="widgeticon">Aa</i>
                            </div>
                            <div class="fd-widgetitem fl" data-type="textareafield">
                                <label>多行输入框</label>
                                <i class="widgeticon">Aa</i>
                            </div>
                            <div class="fd-widgetitem fl" data-type="numberfield">
                                <label>数字输入框</label>
                                <i class="widgeticon">123</i>
                            </div>
                            <div class="fd-widgetitem fl" data-type="moneyfield">
                                <label>金额输入框</label>
                                <i class="widgeticon">123</i>
                            </div>
                            <div class="fd-widgetitem fl" data-type="radiofield">
                                <label>单选框</label>
                                <i class="widgeticon"></i>
                            </div>
                            <div class="fd-widgetitem fl" data-type="datefield">
                                <label>日期选择</label>
                                <i class="widgeticon"></i>
                            </div>
                            <div class="fd-widgetitem fl" data-type="daterangefield">
                                <label>日期区间</label>
                                <i class="widgeticon"></i>
                            </div>
                            <div class="fd-widgetitem fl" data-type="photofield">
                                <label>图片上传</label>
                                <i class="widgeticon"></i>
                            </div>
                            <div class="fd-widgetitem fl" data-type="filefield">
                                <label>文件上传</label>
                                <i class="widgeticon"></i>
                            </div>
                            <div class="fd-widgetitem fl" data-type="detailfield">
                                <label>明细</label>
                                <i class="widgeticon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fd-bd-c">
                <div class="fd-phone">
                    <div class="fd-phone-header"></div>
                    <div class="fd-phone-footer"></div>
                </div>
                <div class="fd-designer">
                </div>
                <div class="fd-add-field">
                    <div class="fd-add-field-icon"></div>
                    <div class="fd-add-info">请从左边表单控件拖动控件来创建你的审批</div>
                </div>
            </div>
            <div class="fd-bd-r">
                <div class="fd-settingpanel">
                    <span class="fd-settingpanel-title">控件设置</span>
                    <div class="fd-panel-body">

                    </div>
                </div>
            </div>
        </div>

        <div class="fd-draging-mask"></div>
        <div class="q-bg">
            <div class="q-alert">
                <div class="q-alert-heard">
                    <span class="q-alert-closebtn"></span>
                </div>
                <div class="q-alert-body">
                    <h1 class="q-alert-title text-center">确定要删除该控件吗?</h1>
                    <p class="q-alert-text text-center">删除后该控件对应的数据也会删除，建议先导出数据备份。 如需保留数据，请尽量沿用原控件</p>
                </div>
                <div class="q-alert-button-group text-center">
                    <a class="q-btn btn-default cancle">取消</a>
                    <a class="q-btn btn-primary confirm">确定</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {Controll} from '../../design'
    import {setDesiginConfirm} from '../../vuex/action'
    export default{
        ready:function () {
            Controll.init()
            this.setDesiginConfirm(function () {
              return Controll._save()
            })
        },
        destroyed:function () {
            Controll.destroyed()
        },
        vuex:{
            actions:{
                setDesiginConfirm
            }
        }
    }
</script>

<style lang="less">
    .fd-bd{
        position: relative;
    }
    /*--------------- css3动画 ---------------*/
    .floatin{
         animation: floatin 3s forwards;
    }

    @keyframes floatin{
        0%{
            transform: translateY(-100%);
        }
        10%, 90%{
            transform: translateY(0);
        }
        100% {
            transform: translateY(-100%);
        }
    }

    /*提示样式*/
    .ui-tips {
        width: 200px;
        padding: 10px 20px;
        background: #36AEEE;
        color: #fff;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 999;
        border-radius: 4px;
        box-sizing: content-box;
    }

    /*自定义滚动条样式*/
    ::-webkit-scrollbar {
        overflow: visible;
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }

    ::-webkit-scrollbar-thumb {
        min-height: 28px;
        padding: 100px 0 0;
        border: solid transparent;
        border-width: 1px;
        background-color: rgba(138, 153, 170, .6);
        /* background-clip: padding-box; */
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:horizontal {
        padding: 0 0 0 100px;
        border-width: 6px 1px 1px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(138, 153, 170, .8);
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: rgba(138, 153, 170, 1);
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
        /* background-color: #f00; */
    }

    /*-------- 通用输入框样式start --------*/
    .fd-bd input[type="text"], .fd-bd textarea {
        width: 100%;
        border: 1px solid #dce1e8;
        padding: 0 8px;
        margin: 5px 0;
        border-radius: 2px;
        transition: .3s all;
    }

    .fd-bd input[type="text"]:focus, .fd-bd textarea:focus {
        border-color: #7ACBF7;
        box-shadow: 0 0 5px #58BFF6;
    }

    .fd-bd input[type="text"] {
        height: 32px;
    }

    input[type="text"].fd-input-text {
        height: 44px;
    }

    .fd-bd input[type="text"].error, .fd-bd textarea.error {
        border: 1px solid #3cbaff;
        box-shadow: none;
    }

    .fd-bd input[type="radio"], .fd-bd input[type="checkbox"] {
        vertical-align: middle;
        margin: -1px 4px 0 0;
    }

    /*-------- 通用输入框样式end --------*/

    /*-------- 选择框样式start --------*/
    .fd-bd input[type="checkbox"] {
        position: relative;
    }

    .fd-bd input[type="checkbox"]:before {
        content: "";
        position: absolute;
        left: -2px;
        top: -2px;
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid #3cbaff;
        border-radius: 50%;
        opacity: 1;
        background-color: #ffffff;

    }

    .fd-bd input[type="checkbox"]:checked:before {
        background-color: #3cbaff;
    }

    .fd-bd input[type="checkbox"]:after {
        display: none;
        content: "";
        position: absolute;
        width: 9px;
        height: 5px;
        left: 2px;
        top: 3px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .fd-bd input[type="checkbox"]:checked:after {
        display: block;
    }

    .fd-checkbox-label {
        display: block;
        font-size: 0;
        cursor: pointer;
    }

    .fd-checkbox {
        display: none;
    }

    .fd-checkbox-face {
        vertical-align: middle;
        margin-right: 10px;
    }

    .fd-label-text {
        vertical-align: middle;
        font-size: 14px;
        line-height: 1;
    }

    .fd-checkbox + .fd-checkbox-face {
        display: inline-block;
        width: 20px;
        height: 20px;

        background-position: 0 0;
    }

    .fd-checkbox:checked + .fd-checkbox-face {
        background-position: 0 -21px;
    }

    /*-------- 选择框样式end --------*/

    .fd-bd a {
        color: #3f3f3f;
    }

    .fd-bd-main {
        position: relative;
        margin-top: 40px;
        width: 1000px;
        height: 700px;
    }

    .fd-bd-nextPage {
        position: absolute;
        top: 90px;
        left: 0;
        width: 1200px;
        height: 540px;
        transform: translateX(110%);
        transition: transform 1s ease;
    }

    .fd-bd-l, .fd-bd-r {
        width: 320px;
        position: absolute;
        top: 100px;
        bottom: 0;
    }

    /*-------  tab部分 -------*/
    .fd-panel-tab {
        font-size: 0;
        position: absolute;
        width: 100%;
        border-radius: 6px 6px 0 0;
        overflow: hidden;
    }

    .fd-tabitem {
        /* display: inline-block; */
        display: none;
        width: 100%;
        height: 50px;
        line-height: 30px;
        text-align: center;
        font-size: 14px;
        line-height: 48px;
        background-color: #e9ecf1;
        border: 1px solid #dce1e8;
    }

    .fd-tabitem.curr {
        display: block;
        background-color: #ffffff;
        text-align: left;
        font-size: 18px;
        padding-left: 18px;
        padding-top: 10px;
        border-color: transparent;
    }

    .fd-tabitem:hover {
        text-decoration: none;
    }

    /*-------- 可选控件部分 ---------*/
    .fd-bd-l {
        left: 0;
    }

    .fd-widgetpanel, .fd-settingpanel {
        border-radius: 6px;
        overflow-x: hidden;
        overflow-y: auto;
        background: #fff;
        min-height: 395px;
        max-height: 100%;
    }

    .fd-widgetpanel .fd-panel-body {
        padding-top: 75px;
    }

    /*-------- 审批相关设置部分start ---------*/
    .fd-form-settings {
        padding: 0 25px;
    }

    .fd-formsetting-item {
        margin-bottom: 20px;
    }

    .fd-formsetting-approver label {
        margin: 10px 0;
    }

    /*-------- 审批相关设置部分end ---------*/

    /*-------- 可选控件部分start -------------*/
    .fd-widgetitem, .fd-draging-mask {
        width: 130px;
        height: 45px;
        line-height: 43px;
        padding-left: 14px;
        border: 1px solid #dce1e8;
        margin: 0 0px 18px 20px;
        cursor: move;
    }

    .widgeticon {
        font-style: normal;
        margin-left: 10px;
    }

    .fd-widgetitem * {
        cursor: move;
    }

    .fd-widgetitem:hover {
        background-color: rgba(233, 236, 241, 0.6);
    }

    /*-------- 可选控件部分end -------------*/

    /*---------- 控件排版部分 ---------*/
    .fd-bd-c {
        width: 320px;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }

    .fd-phone {
        width: 100%;
        height: 640px;
        border: 1px solid #ddd;
        border-radius: 60px;
        background-color: #fff;
        box-shadow: 0 5px 8px #666;
        position: relative;
    }

    .fd-phone-header {
        width: 70px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 8px;
        top: 36px;
        background-color: #d5d5d5;
        border-radius: 10px;
        box-shadow: 0px 1px 2px #555 inset;
    }

    .fd-phone-header:before {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        background-color: #d8d8d8;
        position: absolute;
        border-radius: 100%;
        left: -31px;
        top: -3px;
        box-shadow: 0px 1px 2px #aaa inset;
    }

    .fd-phone-header:after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background-color: #A2A2A2;
        border-radius: 100%;
        position: absolute;
        left: -28px;
        top: 0px;
    }

    .fd-designer {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 0;
        top: 76px;
        border: 2px solid #dce1e8;
        border-radius: 4px;
        background-color: #eef3fa;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 480px;
    }

    .fd-title {
        text-align: center;
        font-size: 18px;
        cursor: pointer;
    }

    .fd-title label {
        width: 100%;
    }

    .fd-designer-inner {
        padding-bottom: 30px;
    }

    /*---------- 单个控件样式start ----------*/
    .disdrag-box{
        padding: 6px 0;
        .fd-component{
            margin: 0;
        }
    }

    .fd-component {
        position: relative;
        overflow: hidden;
        margin: 6px 0;
        cursor: move;
    }

    .fd-component.draging {
        -webkit-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
    }

    .fd-component-overlayer {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: 1px solid transparent;
        z-index: 2;
    }

    .fd-component.draging .fd-component-overlayer {
        background-color: rgba(180, 180, 180, .5);
    }

    .fd-component.hover>.fd-component-overlayer {
        border-style: dashed;
        border-color: #3cbaff;
    }

    .fd-component.active>.fd-component-overlayer {
        border-style: solid;
        border-color: #3cbaff;
    }

    .fd-designer-inner.draging .fd-component-overlayer {
        border-color: transparent;
    }

    .fd-component-group {
        padding: 6px 10px;
        background-color: #fff;
        border-style: solid;
        border-color: #dce1e8 transparent;
        border-width: 1px 0;
        font-size: 14px;
        position: relative;
    }

    .fd-component-group + .fd-component-group {
        border-top-width: 0;
    }

    .fd-component-label {
        display: inline-block;
        width: 5em;
        padding: 0 8px 0 0;
        white-space: normal;
        word-break: break-all;
        box-sizing: content-box;
        cursor: move;
    }

    .fd-component-placeholder {
        font-size: 14px;
        color: #bdbdbd;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 103px;
        right: 0;
    }

    .fd-component-datefield .fd-component-placeholder, .fd-component-radiofield .fd-component-placeholder, .fd-component-daterangefield .fd-component-placeholder, .fd-component-photofield .fd-component-placeholder {
        left: inherit;
        right: 25px;
    }

    .fd-component-datefield .fd-component-placeholder, .fd-component-radiofield .fd-component-placeholder, .fd-component-daterangefield .fd-component-placeholder, .fd-component-filefield .fd-component-placeholder {
        left: inherit;
        right: 25px;
    }

    .fd-component-textareafield .fd-component-group {
        height: 60px;
        box-sizing: content-box;
    }

    .fd-component-textareafield .fd-component-placeholder {
        top: 26px;
    }

    .fd-component-entericon {
        display: inline-block;
        width: 8px;
        height: 8px;
        border: 1px solid transparent;
        border-color: #9a9a9a #9a9a9a transparent transparent;
        transform: translateY(-50%) rotate(45deg);
        position: absolute;
        right: 13px;
        top: 50%;
    }

    .fd-component-remove {
        line-height: 1em;
        color: #fff;
        background: #3cbaff;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        display: none;
        z-index: 9;
    }

    .fd-component.hover>.fd-component-remove {
        display: block;
        border-radius: 50%;
        width: 16px;
        height: 16px;
    }

    .fd-component-remove:before {
        content: "\00d7";
        font-size: 16px;
        line-height: 14px;
        position: relative;
        top: 1px;
        left: 2px;
    }

    /*------- 占位线start -------*/
    .fd-occupyline {
        width: 100%;
        height: 2px;
        background-color: #3cbaff;
        margin: 3px 0;
        position: relative;
    }

    .fd-occupyline:before, .fd-occupyline:after {
        content: '';
        display: block;
        position: absolute;
        border-style: solid;
        border-color: transparent;
        border-width: 4px 8px;
        top: -3px;
        width: 0;
        height: 0;
    }

    .fd-occupyline:before {
        left: 0;
        border-left-color: #3cbaff;
    }

    .fd-occupyline:after {
        right: 0;
        border-right-color: #3cbaff;
    }

    /*------- 占位线end -------*/

    .fd-phone-footer {
        width: 55px;
        height: 55px;
        border: 1px solid #dce1e8;
        border-radius: 100%;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 15px;
        box-shadow: 0 0 3px #dce1e8;
    }

    /*---------- 控件设置部分 ---------*/
    .fd-bd-r {
        right: 0;
    }

    .fd-settingpanel {
        padding: 24px 22px;
    }

    .fd-settingpanel-title {
        font-size: 18px;
        padding-bottom: 20px;
    }

    .fd-setting-item {
        margin-bottom: 15px;
    }

    .fd-setting-iteminfo {
        color: #bdbdbd;
        margin-left: 5px;
        font-size: .9em;
    }

    .fd-setting-iteminfo.error {
        color: #f00;
    }

    /* 日期区间类型 */
    .fd-setting-daterangelabel .fd-setting-itembody:not(:last-child) {
        margin-bottom: 15px;
    }

    .fd-setting-dateformat .fd-setting-itembody {
        display: block;
        margin: 5px 0;
    }

    /* 单选框 */
    .fd-setting-options .fd-setting-itembody input {
        width: 210px;
    }

    .fd-setting-options .fd-setting-itembody span {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #6d7682;
        text-align: center;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        margin-left: 5px;
        line-height: 19px;
    }

    .fd-setting-options .fd-setting-itembody span:hover {
        background-color: #4D5561;
    }

    .fd-setting-options.nomore-add .fd-option-add, .fd-setting-options.limit-del .fd-option-del {
        opacity: .4;
    }

    .fd-setting-options.nomore-add .fd-option-add:hover, .fd-setting-options.limit-del .fd-option-del:hover {
        background-color: #6d7682;
        cursor: default;
    }

    /*---------- 拖动中的层 -------*/
    .fd-draging-mask {
        display: none;
        position: fixed;
        background-color: rgba(0, 0, 0, .6);
        color: #fff;
        border: none;
        z-index: 999;
        margin: 0;
    }

    /*--添加审批模板提示区域*/
    .fd-add-field {
        position: absolute;
        top: 168px;
        left: 30px;
        right: 30px;
    }

    .fd-add-field-icon {
        width: 100%;
        height: 80px;
        border: 1px dashed #dce1e8;
        border-radius: 10px;
        background: url("../../assets/add-field-icon.png") no-repeat center center;
    }

    .fd-add-info {
        margin-top: 10px;
        font-size: 12px;
        color: #404040;
        text-align: center;
    }
</style>
